[2018-04-19 14:36] #2504 closed

[2018-04-19 14:56] optimuspaul commented on #2559
I see this as well, I also see the same exception on the word "transport". I can't find anything with those values for anything. Would be nice to have some details in the logs as to where it is finding those values.

[2018-04-19 15:46] sbwsg opened #2679 "Release 1.7 Tracking Bug"
This issue will remain open while we're working on the initial 1.7 release.

- [x] ECS support in Deck and Clouddriver
- [x] Kayenta: Resolve incompatibility between kayenta/orca https://github.com/spinnaker/kayenta/issues/291
- [x] Deck-Kayenta: The links from Canary Reports view to config and report sometimes don't work https://github.com/spinnaker/deck-kayenta/issues/292
- [x] Kayenta: Custom f

[2018-04-19 19:15] dorbin commented on #2142
@viglesiasce
wdyt?

[2018-04-19 23:16] viglesiasce commented on #2142
Yeah that makes sense. I can take care of the chart side in the next update.

[2018-04-19 23:51] u2mejc opened #2680 "Halyard: Add adjustable timeout for deployments"
*Cloud Provider*

AWS / Kubernetes

*Environment*

I'm using halyard to deploy Spinnaker in Kubernetes

*Feature Area*

halyard deploys

*Description*

Unable to complete deploys due to time out.

*Steps to Reproduce*

`hal deploy apply`

*Additional Details*

Containers do not come up in any specific order and sometimes will hang when supporting microservices are not ready. This adds multiple min

[2018-04-20 02:31] ylcao opened #2681 "Deploy Manifest stage, i cannot watch manifest based operations in the UI K8Sv2 for version 1.6.0"
An issue is not a place to ask questions. Please use [Slack](http://join.spinnaker.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/spinnaker).

Before you open an issue, please check if a similar issue already exists or has been closed before.

Make sure you have read through the [Spinnaker FAQ](https://www.spinnaker.io/community/faqs/) and [Halyard FAQ](https://www.spinnaker.io/

[2018-04-20 03:00] LordBrain opened #2682 "Rosco: Default account when there are multiple accounts"
*Cloud Provider*
Known issue for GCP, but could be for all others as well.

*Description*

Currently if you do not specify a account or typo the account name in the bake stage it defaults to the first in the provider list. It would be nice to have a default account with configuration for it. There  is a use case where you do not want accidental bakes happening in the first account listed.

This ca

[2018-04-20 09:26] wheleph opened #2683 "Clouddriver in Spinnaker 1.6.1 is more fragile"
*Cloud Provider*

GKE (Kubernetes)

*Environment*

Spinnaker 1.6.1 running on GKE deployed with halyard 0.49.0

*Description*

In our Spinnaker setup we use many Kubernetes accounts and sometimes some of them become outdated. This wasn’t a problem with Spinnaker 1.5.4 (Clouddriver 1.0.4-20180110144440) since the Clouddriver health endpoint returned OK and the clouddriver was up and running (even t

[2018-04-20 12:01] e96wic opened #2684 "Ignore stage failure does not work for specific stage tasks"
An issue is not a place to ask questions. Please use [Slack](http://join.spinnaker.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/spinnaker).

Before you open an issue, please check if a similar issue already exists or has been closed before.

Make sure you have read through the [Spinnaker FAQ](https://www.spinnaker.io/community/faqs/) and [Halyard FAQ](https://www.spinnaker.io/

[2018-04-20 13:10] ethanfrogers commented on #2683
@wheleph spinnaker/clouddriver#2531 was merged last night which takes a similar approach for Docker registries so it's possible that this could be implemented for Kubernetes. I'm not sure if it would conflict with the proposal in #2604 but I don't think so.

[2018-04-20 13:59] optimuspaul commented on #2672
I created it just now.
https://community.spinnaker.io/t/clouddriver-should-support-alternative-authentication-models-for-docker/297

[2018-04-20 17:33] tidowu opened #2685 "Chose when to use eureka discovery depending on application"
![screen shot 2018-04-20 at 11 35 42 am](https://user-images.githubusercontent.com/33040540/39065432-0999ea50-448f-11e8-8c9c-5e24b28c752b.png)
*Title*

Chose when to use eureka discovery in cloud driver depending on application

*Cloud Provider*

AWS

*Feature Area*

Pipelines, Cloud driver, eureka discovery.

*Description*

When you define an account in cloud driver based on the docs https://gith

[2018-04-20 17:56] #2589 closed

[2018-04-20 19:13] ryan-dyer-sp opened #2686 "Issue in translating pipeline expression with v2 kube provider"
*Cloud Provider*

AWS

*Environment*

spinnaker 1.6.1 deployed via halyard into kube v1 provider running in AWS

*Feature Area*

Pipeline expressions w/ kube v2

*Description*

Experiencing an issue with pipeline expression with interaction between docker provider, artifacts, and kube v2 .  Pipeline has docker trigger with expected docker artifact and defaults for the artifact defined to ${trigger

[2018-04-20 22:28] #2519 closed

[2018-04-21 00:27] jhohertz commented on #892
Still an issue in Spinnaker 1.6.1 and Jenkins v2.107.2.

Spinnaker is deployed on a k8s 1.9.6 cluster through halyard. I have confirmed the jenkins instance is reachable from the pod running igor by connecting to it and testing via wget from the pod.

No matter what I do, I get the 429 error from the "jobs" call from the deck UI. With or without TLS, with or without an ELB in front of the service.

[2018-04-23 09:25] wheleph commented on #2683
@ethanfrogers something like that would definitely help but the previous version of clouddriver became health even if some of the accounts were _initially_ invalid and we relied on that fact in our automation.

[2018-04-23 10:28] #2009 closed

[2018-04-23 14:14] ttomsu opened #2687 "Permission denied doing `apk update` on slim containers"
Found during 1.7.0 release experimentation.

[code]

It appears that running as the `spinnaker` user (https://github.com/spinnaker/clouddriver/blob/master/Dockerfile.slim#L23) doesn't allow us to add debugging tools like `curl`. This should be added to the container beforehand or revert back to just running as root.

cc @lwander @sbwsg

[2018-04-23 14:19] ttomsu opened #2688 "Igor fails to become healthy with K8s V2 Provider"
Seems to be returning a 503

[code]

cc @lwander @sbwsg

[2018-04-23 14:31] lwander commented on #2687
This is all intentional, people shouldn't be allowed to download tools at will against a production container. If you want to debug like that, attach a sidecar if you need. `wget` is also already installe.d

[2018-04-23 14:31] #2687 closed

[2018-04-23 15:16] danielpeach opened #2689 "Repeated GCE instance health"
Using a network load balancer with a regional server group on GCE.

Shows up in the UI like this:

![repeated_load_balancer](https://user-images.githubusercontent.com/13868700/39135627-5cc187a6-46e7-11e8-92f3-5ceeacc2e5e5.png)

Is the result of repeated identical health providers:

[code]

[2018-04-23 16:21] imosquera opened #2690 "WaitForClusterDisableTask times out during red/black deployment for v1 kubernetes provider"
*Cloud Provider*

Kubernetes on Spinnaker branch, 1.7, 1.6 and master

*Environment*

reproduced locally using master branches and just running `./gradlew bootRun` to start and configure services

*Feature Area*

WaitForClusterDisableTask stages for v1 kubernetes provider

*Description*

Deploy with red/black strategy for kubernetes v1 provider times out in the 1.7 branch of orca.  This however se

[2018-04-23 16:29] Marcux83 commented on #2615
json is in my post above. will revert 1.5 for now..

[2018-04-23 18:07] colfredstan opened #2691 "Link in documentation prompting for Atlassian login"
A link to info on LDAP search filters is prompting for Atlassian login

Cloud Provider: N/A

Environment: N/A

Feature Area: N/A

Description:
In the last paragraph of https://www.spinnaker.io/setup/security/authentication/ldap/#configure-ldap-using-halyard there is a link to an Atlassian page that prompts for login.

_You can also use ldap.userSearchBase and ldap.userSearchFilter if the simpler l

[2018-04-23 18:13] colfredstan commented on #2691
I think this link: https://confluence.atlassian.com/kb/how-to-write-ldap-search-filters-792496933.html might be what was intended.

[2018-04-23 18:34] jchambers opened #2692 "Excessive bandwidth usage when polling pipelines"
When viewing Applications → Pipelines (`https://spinnaker.example.com/#/applications/example-application/executions`), browser bandwidth usage is normal (i.e. effectively zero) when no executions are in progress on any pipeline. The web application does periodically request `https://spin-gate.example.com/applications/example-application/pipelines?limit=2`, which (in our case) is typically 10MB in

[2018-04-23 19:51] jtk54 commented on #2689
How many instances were in this group? Was there one health provider per instance?

[2018-04-23 19:55] danielpeach commented on #2689
Four instances in the group. Not quite sure what you mean by one health provider per instance - the only health provider (besides platform) was the network load balancer, which was reporting health for all four instances.

[2018-04-23 20:00] jtk54 commented on #2689
I meant a duplicate health status per instance, you answered my question though thanks.

[2018-04-23 20:57] jchambers commented on #2692
Thanks, folks!

[2018-04-23 21:26] #2691 closed

[2018-04-23 21:39] eboumendil opened #2693 "Deploy artifacts stored in private Github Enterprise"
*Cloud Provider* : Kubernetes V2

*Feature Area* : Artifact deployment from a private Github Enterprise

*Description*

I am trying to deploy artifacts using a private Github Enterprise setup. Looking at https://github.com/spinnaker/clouddriver/blob/master/clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/github/GitHubArtifactAccount.java, it seems I cannot specify an

[2018-04-23 22:18] noahgorka opened #2694 "SAML/Fiat login flow cause 401 unauthorized errors"
Our login flow for Spinnaker is setup using PingFederate/SAML. This was operating successfully between PingFed & Gate originally. However, after the introduction of Fiat, we have been experiencing a high number of 401 unauthorized errors. That actual message returned to a user is:

"{"error":"Unauthorized","message":"Authentication Failed: Error validating SAML message","status":401,"timestamp":15

[2018-04-23 22:40] imosquera commented on #2690
Talking to @lwander - I dug into the `waitForRequiredInstancesDownTask.hasSucceeded` method above which always returns false.  I do not have enough context to make a decision as to what needs to change but the following is happening:

For each ` interestingHealthProviderNames`, in this case `Pod` and `Container` health it returns true.  However the `instance` health returns `OutOfService`.   The f

[2018-04-24 06:03] wjoel commented on #2693
The URL to your private GitHub Enterprise endpoint is included in the webhook messages that trigger your pipelines, and/or specified in the artifacts themselves (eg. in the case of default artifacts).

You shouldn't need to specify it in any config.

[2018-04-24 11:27] lwander commented on #2690
If you change the health provider to "Service", does it work?

[2018-04-24 12:18] lwander commented on #2693
That's right, the `reference` field should link to the content URL for your GHE domain. There is an example here: https://www.spinnaker.io/reference/artifacts/types/github-file/#fields

[2018-04-24 12:18] #2693 closed

[2018-04-24 12:36] craigedmunds opened #2695 "azureTenantId in oauth2 not set"
I'm having what appears to be the same issue described [here](https://github.com/spinnaker/spinnaker/issues/2519), however the solution described there, creating  ~/.hal/default/profiles/gate-azureOAuth.yaml with

[code]
And running hal deploy apply doesn't work.

I've failed to track down either where azureTenantId should be set, or any way to control it either via a file on disk, or through the

[2018-04-24 15:04] craigedmunds commented on #2695
Also, if I "hack" the broken URL to provide the tenant ID, I successfully authenticate with Azure AD, but on returning to Gate, I get the error "Map has no value for 'azureTenantId'" - suggesting that even if I could apply the gate-azureOAuth.yaml fix, it would still error on return?

![image](https://user-images.githubusercontent.com/1453591/39196019-07944582-47d9-11e8-82bf-abaad5fa5596.png)

[2018-04-24 15:34] lwander commented on #2690
Pretty critical breakage since it affects both load balanced and non-load balanced pods.

[2018-04-24 15:36] sbwsg commented on #2690
Once we've got the commit into master I'll cherry-pick it into release-1.7.x and kick off another build.

[2018-04-24 15:37] marfenij commented on #2306
@lwander sorry if this is incorrect topic, but I can't find any better

but I can't use secrets via k8s V2 manifest
my version `release-1.7.x-latest-unvalidated`

sample manifest:
[code]

so problem is:
spin apply version to secret name like `db-access-v000` and deploy
but do not rename reference in pod template, so it leaves unchanged and I got error, cause pod can't resolve secret by `db-access`

[2018-04-24 15:39] ssakhuja57 opened #2696 "Kubernetes Manifest Deploy stage hangs indefinitely if k8s Job fails"
*Title*

Kubernetes Manifest Deploy stage hangs indefinitely if k8s Job fails

*Cloud Provider*

Kubernetes

*Environment*

Using halyard to deploy to GKE, version bom is:

[code]

*Feature Area*

Pipelines

*Description*

Expected: Deploy Manifest stage should fail if deploying a k8s Job whose Pod fails and has a backoffLimit of 0.

Actual: Deploy Manifest stage hangs indefinitely.

*Additional D

[2018-04-24 15:50] imosquera commented on #2690
I'm making an assumption the reason to check `desiredPercentage` is for a rolling red/black deployment which is not needed for a standard red/black deployment which only requires the instances to be disabled.

[2018-04-24 16:01] ajordens commented on #2690
The check of desiredPercentage is actually to assert that 100% of the
instances are actually also disabled.

@dreynaud can provide more details.

You’re right that historically desiredPercentage was used for RRB.
On Tue, Apr 24, 2018 at 8:51 AM Isaac Mosquera <notifications@github.com>
wrote:

[2018-04-24 16:26] dotdotdotpaul opened #2697 "Canary Analysis (Kayenta) stage terminates pipeline despite flag"
Seen on AWS, but not believed to be cloud-provider-specific.  Tested with Datadog metrics.

Create a pipeline that runs a Canary Stage, and set the Canary Stage to "ignore the failure" if the stage fails.  Add a stage after to run.  Run a canary that causes a failure (ie. the resulting score immediately fails the canary.  Note the subsequent stage doesn't run, the canary fails as "TERMINAL".

Expe

[2018-04-24 16:32] dreynaud commented on #2690
Here is some context for my change: https://github.com/spinnaker/orca/pull/2124#discussion_r179848247

The motivation is this: during a red/black we first disable old server groups and then optionally scale them down to 0 instances. `WaitForClusterDisableTask` used to wait for the cluster to be disabled (regardless of instance health status), but the scale down task was expecting instances to be d

[2018-04-24 16:33] dotdotdotpaul opened #2698 "Canary Stage UI allows fractional Lifetime, Kayenta crashes on fractions"
The "Lifetime" field in the Canary Stage configuration indicates "hours", but often people want to run canaries for shorter periods of time (particularly when testing).  The UI does not prevent someone from entering a fractional value, like "0.5" (which would expect to result in a 30-minute run).

However, although the UI allows the value to be saved, when the stage actually runs, Kayenta throws a

[2018-04-24 19:58] biagi opened #2699 "clouddriver AWS ALB target health"
*Title*

Clouddriver is requesting DescribeInstanceHealth from AmazonElasticLoadBalancing APIs for application load balancers and returning 400.  My understanding is this request is for classic load balancers and expected to fail.

*Cloud Provider*

AWS

*Environment*

 spinnaker-clouddriver=3.0.0-20180422022807

*Feature Area*

Clouddriver

*Description*

My understanding is ALBs require calling

[2018-04-24 20:14] willgorman opened #2700 "Triggers no longer support map-like access of non-existent fields in pipeline expressions in 1.6"
*Cloud Provider*

Any

*Environment*

Running Spinnaker from Docker images in AWS to deploy to AWS and DC/OS

*Feature Area*

Pipeline expressions

*Description*

In 1.6 we've noticed that triggers no longer seem to behave like maps in pipeline expressions.  In 1.5, accessing an non-existent attribute of a trigger would return null, but in 1.6 it seems to treat that as accessing a field that doesn

[2018-04-24 21:11] dotdotdotpaul commented on #2697
More detail:  I ran a canary stage where none of the intervals actually "failed", but some were "marginal" so the stage ran to completion, but ultimately resulted in "FAILED_CONTINUE" as expected.

So it seems like only if the canary is terminated early due to a score being below "marginal" does the stage go TERMINAL regardless of the "ignore failure" setting.

[2018-04-25 04:06] pkgo opened #2701 "Why is there no rosco stage on my pipeline?"
Version: 1.6

What configurations are required to enable this feature?

![image](https://user-images.githubusercontent.com/18331634/39225606-f44ed062-487f-11e8-98e9-9844ac6af96b.png)

[2018-04-25 07:29] kaisudhe opened #2702 "Proxy Support for Kubernetes as cloud driver"
Hi,
  I have deployed spinnaker using helm. In clouddriver pod, I could see it is not able to load tags from docker hub registry, since I do not have direct internet access, I had set proxy on OS level as well as on JAVA level. Still it is not able to get tags from docker hub. Like we already have proxy support for AWS clouddriver, can we expect the same in kubernetes clouddriver?

[2018-04-25 07:44] wheleph commented on #2606
@lwander you only updated `Dockerfile.slim` files in each service but didn't update `Dockerfile`. Is there a reason for skipping those?

[2018-04-25 10:33] posox opened #2703 "Halyard: Failed to install Spinnaker on K8S using Halyard in Docker"
I'm trying to install Spinnaker using `halyard:1.0.0` docker image but it fails.

Environment:
Halyard: 1.0.0 in Docker
Provider: K8S V2

Steps to reproduce:
1. Deploy Spinnaker using command:
`hal deploy apply`

After some time deploy fails with error:
`error: error validating "STDIN": error validating data: mkdir
  /home/spinnaker/.kube: permission denied; if you choose to ignore these errors,

[2018-04-25 11:47] lwander commented on #2606
We don't build the `Dockerfile` in each service, or maintain anything that consumes those built images, so I don't feel confident changing them. If anyone uses those & feels confident in updating them I'm happy to merge their changes.

[2018-04-25 13:39] #2690 closed

[2018-04-25 15:08] #2323 closed

[2018-04-25 16:07] morgankilgore commented on #2566
Happening to me as well on Halyard 0.48.1-20180413145934 and Spinnaker 1.6.1

[2018-04-25 18:08] jasonkshar commented on #2615
That return type error looks like something we ran into in our deployed Spinnaker instance. 1.6 introduced a number of classes for the various triggers. We had to make sure we had this commit to include the update to the restricted return classes: https://github.com/tomaslin/orca/commit/d7fd7b75069f99bd158f8f8d8d573299a22482da

[2018-04-25 18:36] #2679 closed

[2018-04-25 19:00] #2644 closed

[2018-04-25 19:32] jasonkshar opened #2704 "Pipeline with parameter expression evaluates differently when trigged with `Use default` enabled"
*Title*

Pipeline with expression as parameter value evaluates differently when triggered by another pipeline that has the `Use default` option checked.

*Cloud Provider*

AWS

*Environment*

Spinnaker 1.6.
I believe this is tied to Orca. We're using the latest available from the `release-1.6.x` branch.

*Feature Area*

Pipelines

*Description*

Expected: Expression as parameter evaluates correctl

[2018-04-25 23:16] ezimanyi opened #2705 "Configuring halyard with localgit to deploy a specific version leads to confusing error message"
[code]

This is pretty minor as I don't think that deploying a specific version using `localgit` is a common workflow, but it will always throw a validation error.  Looks like this was introduced by https://github.com/spinnaker/halyard/pull/789, more specifically this line: https://github.com/spinnaker/halyard/pull/789/files#diff-3c0597540d4be8a2c19254b77125e0c0R105

[2018-04-26 07:07] vvchik opened #2706 "Clouddriver API show less ELBs number when exists in accounts"
*Cloud Provider*

AWS

*Environment*

I am running Spinnaker 1.6.0 using the Amazon images to deploy into AWS

*Feature Area*

API and as follow UI

*Description*

I was unable to find freshly created ELB via spinnaker UI.
After an investigation, I see what clouddriver cashing correct number of load balancers from each account (at least correct number of entries exists in logs)

[code]

But reques

[2018-04-26 11:24] lwander commented on #2701
Can you give some details on how you've configured Spinnaker? Not all clouds have full bake support yet.

[2018-04-26 11:25] lwander commented on #2703
Was this closed by https://github.com/spinnaker/halyard/pull/924?

[2018-04-26 11:26] lwander opened #2707 "Support Cloud Source Repository Artifacts"
Should support fetching files from: https://cloud.google.com/source-repositories/ and triggering off of pub/sub using a `--message-format` filter to help.

[2018-04-26 11:31] #2703 closed

[2018-04-26 11:32] posox commented on #2703
Yes

[2018-04-26 11:40] lwander commented on #2703
Awesome, thanks for the fix @posox!

[2018-04-26 12:58] james-woods commented on #1891
I want to personally sent you a DEFI Sticker right now @viglesiasce I was pulling my hair out all morning about this

[2018-04-26 14:04] kaisudhe commented on #2702
@lwander not exactly, I am expecting clouddriver code to accept either system level proxy (environment variables) or through variables defined in some configuration file. For an example I have seen configuration variables for AWS as clouddriver, something like this below.

aws:
  enabled: ${AWS_ENABLED:false}
  # proxy:
  #  proxyHost: 10.0.0.54
  #  proxyPort: 8888
  #  proxyUsername: foo
  #  pr

[2018-04-26 15:02] danilina-wsib opened #2708 "Deck doesn't start on kubernetes - apache cannot bind to ports"
Deploying 1.7.0 on Azure AKS kubernetes cluster.
Deck pod gives the following errors:

AH00558: apache2: Could not reliably determine the server's fully qualified domain name, using 10.244.2.4. Set the 'ServerName' directive globally to suppress this message
(13)Permission denied: AH00072: make_sock: could not bind to address [::]:443
(13)Permission denied: AH00072: make_sock: could not bind to ad

[2018-04-26 15:37] stewchen commented on #2621
Please follow the steps at https://www.spinnaker.io/setup/security/authorization/#accounts to add required memberships for accounts. This should be independent of OAuth.

[2018-04-26 16:00] ezimanyi commented on #2705
@brandonnelson3 : Do you remember why you added the `&& !localGit` in the above change, and should we actually be gating the entire `if/else` block rather than just the `if` part?

[2018-04-26 16:24] duftler opened #2709 "K8S V2 provider improperly merges replica sets in the load balancers view"
At the completion of this codelab (https://codelabs.developers.google.com/codelabs/cloud-spinnaker-kubernetes-cd/#0), the Load Balancers view does show what looks to be 4 "load balancers" ("service backend" in each of the production and staging namespaces, and "service frontend in each as well). However, clicking "Production" or "Staging" in either group doesn't actually switch between "Production

[2018-04-26 16:25] duftler opened #2710 "Add ingress ip address to K8S V2 Load Balancer details"
The other providers have this exposed and it's quite useful.

[2018-04-26 16:26] duftler commented on #2709
![image](https://user-images.githubusercontent.com/8437718/39318787-0c0efaf6-494d-11e8-8a3e-3427e3038235.png)

[2018-04-26 16:27] duftler commented on #2709
![image](https://user-images.githubusercontent.com/8437718/39318836-30f2a142-494d-11e8-8fb4-afbbfaaa0ae3.png)

[2018-04-26 18:53] danielpeach opened #2711 "Default artifact config should auto-select the artifact type"
If I have a GCS artifact, my default artifact isn't going to be a Docker image.

[2018-04-26 19:37] ethanfrogers opened #2712 "Kubernetes V2 - env.configMapKeyRef not binding ConfigMaps"
*Title*

Kubernetes V2 - env.configMapKeyRef not binding ConfigMaps

*Cloud Provider*

Kubernetes

*Feature Area*

Artifacts/Kubernetes V2

*Description*

Given the following manifest, the `configMapKeyRef` should be replaced with the versioned `ConfigMap` that is deployed. When the `ConfigMap` is deployed (`v001`) the `env.configMapKeyRef.name` should also be replaced.
[code]

[code]

[2018-04-26 20:00] viglesiasce commented on #1891
@james-woods!!! Long time no see. DEFInitely happy that I could help 😀

[2018-04-26 21:16] desagar opened #2713 "K8S Deployment Fails with Recreate Strategy"
When "Recreate" is chosen as the Deployment strategy for a new server group in a deploy stage, the stage fails during execution with this error: Deployment.apps "myapp-test" is invalid: spec.strategy.rollingUpdate: Forbidden: may not be specified when strategy type is 'Recreate'. The problem seems to be that the JSON generated by Spinnaker has some rollingUpdate related data in it.

The pipeline h

[2018-04-26 21:56] iiro commented on #2708
I can see exactly same thing happening in GKE when upgrading to 1.7.0 from 1.6.1. We're running now 1.7.0 everywhere else but in Deck.

[2018-04-27 02:33] pkgo commented on #2701
@lwander

deck:
`
 /opt/spinnaker/config/spinnaker-local.yml:
services:
  deck:
    gateUrl: https://ocean-core.example.com/gate
    timezone: Asia/Shanghai
    auth:
      enabled: false
features:
  deck:
    triggers:
      webhooks:
        enabled: true
providers:
  kubernetes:
    proxy: https://k8s-dashboard-qcloud.example.com
    apiPrefix: #!

logs:
Couldn't open file at path: /opt/spinnak

[2018-04-27 03:02] #1352 closed

[2018-04-27 03:02] #1949 closed

[2018-04-27 08:36] e96wic opened #2714 "Halyard: 'hal config generate' does not output config files"
An issue is not a place to ask questions. Please use [Slack](http://join.spinnaker.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/spinnaker).

Before you open an issue, please check if a similar issue already exists or has been closed before.

Make sure you have read through the [Spinnaker FAQ](https://www.spinnaker.io/community/faqs/) and [Halyard FAQ](https://www.spinnaker.io/

[2018-04-27 08:46] octplane opened #2715 "UI can't delete pipelines with / in their name"
Pipelines with a `/` in their name cannot be deleted via the UI. The UI performs a requests and omits to encode the `/` correctly. It leads to a `404` when posting the action.

[code]

I believe this is an issue in deck.

[2018-04-27 11:45] e96wic opened #2716 "Front50 times out when saving pipeline"
An issue is not a place to ask questions. Please use [Slack](http://join.spinnaker.io) or [Stack Overflow](http://stackoverflow.com/questions/tagged/spinnaker).

Before you open an issue, please check if a similar issue already exists or has been closed before.

Make sure you have read through the [Spinnaker FAQ](https://www.spinnaker.io/community/faqs/) and [Halyard FAQ](https://www.spinnaker.io/

[2018-04-27 13:18] chainlink opened #2717 "Load Balancer Named Port does not appear in deployment cluster"
*Cloud Provider*

GCP

*Environment*

I am running spinnaker using the [cloud launcher](https://console.cloud.google.com/launcher/details/click-to-deploy-images/spinnaker)

Spinnaker version 1.5.4

cloud driver 1.0.4-20180110144440 (2018-01-10)

*Description*

I expect to see the named port configured in the load balancer appear in the deploy configuration

*Steps to Reproduce*

1. create SSL load

[2018-04-27 14:03] tomaslin commented on #2648
@owainlewis can this issue be closed or are there further changes needed?

[2018-04-27 14:09] tomaslin commented on #2685
This can be solved by specifying a flag interestingHealthProviders in the pipeline JSON and specifying which health providers to check

[2018-04-27 14:37] #2647 closed

[2018-04-27 14:47] sbwsg commented on #2708
Thanks for the issue report!  I'm not able to reproduce this with a clean GKE deployment of 1.7.0 using Halyard's distributed deployment type.  I see the apache2 warning about the ServerName directive but I do not get bind errors on port 443.

More information would be useful to help me debug.  Could you provide:
- whether you're using halyard
- the halyard version you're using: `hal -v`
- a copy

[2018-04-27 14:58] danilina-wsib commented on #2708
- yes, this was distributed deployment using kubernetes v2 provider:
$ hal config deploy edit --type distributed --account-name spinnaker
$ hal deploy apply
- 1.1.0-20180425074556
- [hal-config.txt](https://github.com/spinnaker/spinnaker/files/1955592/hal-config.txt)

[2018-04-27 15:05] danilina-wsib commented on #2708
as a note, I think this could possibly have something to do with Deck docker image, rather then with my config - this error is reported when running apache in docker under non-root user

[2018-04-27 15:08] sbwsg commented on #2708
SSL is enabled in your hal config for both gate and deck.  Is this intentional?  If not you can disable it by running the following two commands:

`hal config security api ssl disable`
`hal config security ui ssl disable`

After that you will need to re-deploy with `hal deploy apply --service-names gate,deck`

If it is intentional, have you followed the instructions here: https://www.spinnaker.io/

[2018-04-27 15:11] danilina-wsib commented on #2708
Hard to say, the config was deployed with localdebian deployment a while ago - I followed some guide online. I wanted to migrate it to K8S after upgrading to 1.7.0
I will try with disabled ssl

[2018-04-27 15:15] danilina-wsib commented on #2708
Thanks, deck starts up without ssl option.
I would be better if it worked with ssl as well for end-to-end encryption, but this should work for now

[2018-04-27 18:07] robfletcher commented on #2700
Only indirectly

[2018-04-27 20:12] danielpeach opened #2718 "Halyard should clean up Spinnaker component replica sets"
I'm using the Halyard's V2 deployer.

There's no good way to clean up the component deployments' replica sets. I don't have strong opinions about how many are kept around by default (maybe 5?).

[2018-04-27 20:15] danielpeach opened #2719 "Halyard V2 deployer should block until the deployment is complete"
I'd also like good failure behavior if a component is, e.g. crash looping.

[2018-04-27 21:25] lwander commented on #2320
Patch will be released in next 1.7 point release

[2018-04-27 21:25] #2320 closed

[2018-04-28 18:45] lwander commented on #2674
@benjaminws so I added shutdown handling to clouddriver, but realized it might not be necessary at all...

For orca we added a [disable handler](https://github.com/spinnaker/orca/blob/master/orca-web/src/main/groovy/om/netflix/spinnaker/orca/controllers/AdminController.groovy) that stops orca from accepting queued work), since removing it from a load balancer won't stop it from reading work out of

[2018-04-29 22:34] brunsgaard commented on #1690
I am seeing the same thing.

[2018-04-29 23:10] brunsgaard commented on #2688
Which image of igor do your deployment use? I have seen the same issue, but not with newer versions of hal 1.1.0. Also if you are running an old version of hal, please update hal and `hal deploy apply` again.

It is worth to note that that even if the health check fail it works fine (at least if it is the same thing I was seeing before version 0.49.0.

[2018-04-30 03:02] mkaja commented on #2264
@kapilkumar04 how you resolved this?
hal config provider aws
! ERROR Failed to connect to localhost/127.0.0.1:8064
? Is your daemon running?

[2018-04-30 03:13] mkaja commented on #1649
any update on ami-id in us-east-1 for ubuntu 14.04? @lwander

[2018-04-30 12:33] lwander commented on #2688
The root of the issue is that Igor (in the default deployment) has no trigger sources to poll unless you enable Jenkins, Travis CI, or a Docker registry. W/o those Igor has no work to do, and comes up as unhealthy. Halyard should just be smart enough to know that it doesn't have to deploy Igor in that case.

[2018-04-30 15:05] dorbin commented on #1891
https://github.com/spinnaker/spinnaker.github.io/issues/711

[2018-04-30 15:10] Rigdon opened #2721 "[kubernetes v2] Augment Manifest Deployment UI with status from Rollout"
## Feature Request
## Provider
Kubernetes V2

## Stage
Deploy Manifest

## Description
During deployments our users (developers) often ask us what's actually happening and why the deployment is taking so long. Lately our best answer has been to log into the Kubernetes cluster and query the status of rollouts directly. We would love to be able to surface this info in the pipeline status so develope

[2018-04-30 15:42] morgankilgore commented on #2708
@sbwsg Seeing this same issue when updating from 1.6.1 on AWS Kubernetes. But disabling ssl is not an option for me. Is there another bug that addresses and will fix this issue that I should follow?

[2018-04-30 16:11] skim1420 commented on #2585
FYI, [this improvement](https://github.com/spinnaker/clouddriver/commit/acdb6b6e7ad49ad949bfdd1470cfa5f50b4b1378) was released as a part of the [1.7 release](https://www.spinnaker.io/community/releases/versions/1-7-0-changelog). @sweetib, can you please verify whether this has helped your situation?

[2018-04-30 16:40] lwander commented on #2721
Hey @Rigdon which version of spinnaker is this? As of 1.7 that info is there (unless event caching has hit a snag). See
![image](https://user-images.githubusercontent.com/4874941/39438888-a9baee9e-4c73-11e8-9c4b-49635a13f7ae.png) as an example

[2018-04-30 16:45] nevins-b opened #2724 "Enabling ECS provider causes deployments for AWS provider to fail"
*Cloud Provider*

ECS

*Environment*

Spinnaker 1.7.0 running in AWS

*Feature Area*

Deployment pipeline

*Description*

Scale down fails due to cast error

*Steps to Reproduce*

*Additional Details*
![screen shot 2018-04-30 at 12 44 41 pm](https://user-images.githubusercontent.com/1019381/39439067-5db376a0-4c74-11e8-8818-553c316fd166.png)

[2018-04-30 16:57] lwander commented on #2640
@danielpeach has confirmed that the local boms are working. I'll submit a writeup on how to use & curate them.

[2018-04-30 18:13] benjaminws commented on #2674
@lwander This definitely sounds like it'd solve our concern. Thanks for the work! 👍

[2018-04-30 18:16] lwander commented on #2674
Great -- using that `curl` command above should solve the problem until the systemd changes are merged :+1:

[2018-04-30 21:18] benjaminws commented on #2721
👋 We're definitely using `1.7.0`.

[code]

I'm seeing all kinds of caching problems, this may be related.

[2018-04-30 21:26] lwander commented on #2721
Can `kubectl` fetch that resource?

[2018-04-30 21:28] lwander commented on #2721
Also, do you see any errors in the caching related to the `Event` resource?

[2018-04-30 21:34] jtk54 commented on #2515
Sorry for the _way_ late reply on this -- I think `template2.yaml` isn't formatted correctly. `variables` should be a list of dictionaries with fields `name`, `description`, `group`, `defaultValue` etc. I think that may be the issue with that template.

[2018-04-30 21:36] jtk54 commented on #2217
The last comment in this thread was addressed by https://github.com/spinnaker/spinnaker/issues/2515. Closing this out since there are workarounds in Jinja.

[2018-04-30 21:36] #2217 closed

[2018-04-30 21:36] benjaminws commented on #2721
Will check on the event resource and get back to you. Definitely unable to list the resource the log is complaining about. Going to remove it from the configuration for now.

[2018-04-30 21:40] #2656 closed

[2018-04-30 21:41] lwander commented on #2707
@dibyom FYI

[2018-04-30 21:53] sbwsg commented on #2715
hi @octplane thanks for the issue report!

How did you create the pipeline initially?  When I try creating one with "/" in the name I'm not able to:

![2018-04-30_17-50-39](https://user-images.githubusercontent.com/34253460/39452128-25e4dd92-4c9f-11e8-8607-f33db3773c79.png)

As a temporary workaround you should be able to rename the pipeline in Deck so as not to include the "/" character, and then

[2018-04-30 22:13] benjaminws commented on #2721
Will follow-up with more info RE: event resource tomorrow. Fixed the kubernetes caching issue for now, but still not seeing details in the pipeline views.

[2018-05-01 01:38] u2mejc opened #2727 "Standardizing external secret / password config in halyard"
### Issue Summary:
Halyard writes plaintext secrets to disc and some people also add halyards config to VCS. Some artifacts properties do support separate secret / password files outside config, but formatting isn't unified between files.

### Environment:
V1.6.1 managing K8 clusters

### Feature Area:
halyard

### Feature Request:
- Add ability for Halyard to ingest all secrets as environment var

[2018-05-01 09:09] azelezni commented on #2699
I'm having the same issue.
Installed spinnaker with hal, (tried versions 1.7.1 and 1.6.1, on ubuntu 16.04), and clouddriver is unable to find any ALBs there are already configured.
[code]

[2018-05-01 11:07] lwander commented on #2721
Cool -- we can debug in slack when you're in. I'm guessing it's either failing to cache those correctly, or build the right call in the UI.

[2018-05-01 14:29] bkruger99 commented on #2694
Not just limited to PingFed.   Okta has similar issue as well, though I didn't go into debugging.

[2018-05-01 15:03] CliveJL commented on #2699
I'm seeing this issue too, although it doesn't seem to be causing a problem apart from the unnecessary calls to the 'DescribeInstanceHealth' AWS API endpoint for the **ALB**s in question.

The **Application Load Balancers** are being discovered and are visible in the Infrastructure -> Load Balancers view. But each ALB is also generating the log entries as above (There is no ACTIVE Load Balancer...

[2018-05-01 15:21] will-gtv opened #2728 "Halyard uses endpoint removed in Kubernetes 1.10"
### Issue Summary:
`hal deploy apply` uses the old style proxy path for kubernetes which was removed in v1.10

### Cloud Provider(s):
- Kubernetes

### Environment:
Spinnaker running on and deploying to a cluster upgraded to 1.10 in AWS.

### Feature Area:
Halyard: `hal deploy apply`

### Description:
When deploying services to kubernetes halyard calls `http://localhost:41573/api/v1/proxy/namespac

[2018-05-01 15:57] #1901 closed

[2018-05-01 16:26] lwander commented on #2728
Should hopefully be as easy as updating the client library... https://github.com/fabric8io/kubernetes-client

will have to see

[2018-05-01 17:52] lwander opened #2729 "Surface Kubernetes v2 manifest "status""
Should show when the status has conditions "failed", or "stable", or not "stable", to show how a rollout is progressing the "deploy status" tab for "Deploy (manifest)".

See [the model](https://github.com/spinnaker/clouddriver/blob/master/clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/model/Manifest.java#L33).

[2018-05-01 17:55] lwander opened #2730 "Fix issue when moniker is automatically applied in multi-doc manifests to the wrong resource"

[2018-05-01 17:59] lwander commented on #2721
Quick summary:

* Kubernetes cycles events quickly, those from old deployments won't show up.
* Very likely that the 1.7 and older releases' heavy caching is causing k8s load issues. Largely addressed by: https://github.com/spinnaker/clouddriver/pull/2535
* Will be surfacing more context using: https://github.com/spinnaker/spinnaker/issues/2729

[2018-05-01 19:49] #2730 closed

[2018-05-01 20:22] skim1420 opened #2731 "What's New should indicate version number"
### Issue Summary:
What's New should indicate version number

### Cloud Provider(s):
N/A

### Environment:
1.7.2

### Feature Area:
Deck/What's New

### Description:
What's New modal which includes release notes doesn't indicate current version number.

### Steps to Reproduce:

### Additional Details:

[2018-05-01 20:30] sbwsg commented on #2697
Here are my notes from looking in to this so far:

The `continuePipeline` field in a stage's context looks like it's used by stages to determine whether they should return status of TERMINAL or FAILED_CONTINUE.

The KayentaCanaryStage doesnt copy its `continuePipeline` field into the RunCanary stages that it synthesizes.  I've modified it to do so and I've made it so that RunCanary will return FAI

[2018-05-01 21:11] nfirvine commented on #1581
https://github.com/spinnaker/spinnaker/issues/1581#issuecomment-295398067
@jtk54 Do you have a link to this bug? I can't find any mention of this anywhere and I suspect it's killing us

[2018-05-01 21:33] jtk54 commented on #1581
I'm a little confused at what you're asking. Which bug are you referring to?

[2018-05-01 21:42] nfirvine commented on #1581
@jtk54 so fast!

[2018-05-01 21:47] jtk54 commented on #1581
Ah, OK. My last comment in this thread was addressed in https://github.com/spinnaker/clouddriver/pull/2030. Are you seeing behavior where health checks are missing?

[2018-05-01 21:50] lwander opened #2732 "Kubernetes v2 pods don't get deleted in "large" caching agent"
This seems to be because certain resources (events) are still holding relationships to the pods even though they've been deleted...

[2018-05-01 22:25] mdirkse commented on #2683
Alright, I've found the exact commit that introduces the behavior that breaks our deployment of Spinnaker: https://github.com/spinnaker/clouddriver/commit/87c6921b2c95850c28c13deca9053fb5ae232b0f

Before this commit, if you launch clouddriver with a faulty k8s account it reports "UP" at `/health` after it has started. After the commit, it reports a 500 status with whatever it is that ails the k8s

[2018-05-01 23:05] nfirvine commented on #1581
I'm still experimenting to triage, but at first glance, looks like when selecting a health check for an autohealing group, it gets added to the wrong type, or vice versa. That's our main problem.

But yes, also I'm not seeing any health checks in the list, but I'm not sure that problem is this problem :)

[2018-05-02 04:40] laurieodgers commented on #2566
This appears to be fixed in:
Halyard: 1.1.0-20180425120405
Spinnaker: 1.7.2

From kubectl describe po:
[code]

[2018-05-02 04:52] laurieodgers opened #2733 "Deck deployment with SSL fails under halyard v1.1.0"
### Issue Summary:
Deploying deck via halyard with SSL enabled `hal config security ui ssl enable` in Kubernetes causes the deck pod to fail to start, resulting in a crashLoopBackoff.

### Cloud Provider(s):
GCP (GKE)

### Environment:
Kubernetes 1.8
Spinnaker 1.7.2
Halyard 1.1.0-20180425120405
Deploying from an Ubuntu 14.04 VM under virtualbox

### Feature Area:
Deck

### Description:
Expected: A

[2018-05-02 06:28] iiro commented on #2733
Hi @laurieodgers. There was another ticket about this (https://github.com/spinnaker/spinnaker/issues/2708) - but it was closed already.

I've bumped into the same issue - also with GKE. Thanks for the workaround. Disabling SSL is not an option for me.

[2018-05-02 06:32] iiro commented on #2708
@sbwsg we have enabled the SSL also for both Deck and Gate - intentionally - and with following the instructions you posted.

There's now another open ticket (https://github.com/spinnaker/spinnaker/issues/2733) about this with a workaround. I'm not sure why this was actually closed as the issue still persists.

[2018-05-02 08:07] octplane commented on #2715
I think it was creating by some nasty script, so using Spinnaker API, although I'm not sure. I think the encoding issue should probably be addressed anyway...

I have managed to delete the offending using hand crafted `curl` :)

Thanks for your quick feedback!

[2018-05-02 11:35] KennethMojanaga opened #2734 "Echo service fails to start due to unfound jira service"
### Issue Summary:
Hi. I'm using the AWS cloud formation quickstart template. And everything seems to work correctly. But when starting spinnaker, the echo service fails to start, and I get the following error:

Parameter 0 of constructor in com.netflix.spinnaker.echo.jira.JiraNotificationService required a bean of type 'com.netflix.spinnaker.echo.jira.JiraService' that could not be found.
	- Bean

[2018-05-02 14:13] nitrogear opened #2735 "hal deploy apply fails"
### Issue Summary:
hal deploy apply fails

### Cloud Provider(s):
Kubernetes

### Environment:
Spinnaker: 1.6.1
hal: 1.1.0
Kubernetes 1.8.1

### Feature Area:
Kubernetes, installation

### Description:
Newly created Spinnaker fails to deploy to Kubernetes cluster

### Steps to Reproduce:
I installed hal on ubuntu host with kubectl and then run hal apply deploy command. Full output of command is be

[2018-05-02 14:33] jtk54 commented on #1581
Which version of Spinnaker are you running?

[2018-05-02 15:05] #2733 closed

[2018-05-02 15:40] #2734 closed

[2018-05-02 15:52] ethanfrogers commented on #2683
@mdirkse great find! if i remember correctly, i made this change because we removed the hard dependency on `clouddriver-docker` from `clouddriver-kubernetes` since V2 didn't need it. that caused issues with startup where image pull secrets weren't being created in each namespace listed under `namespaces`. it seems that i even saw the issue with health but never _actually_ reverted, but i can't rem

[2018-05-02 16:43] nfirvine commented on #1581
1.6.1, planning on upgrading to 1.7.0 this week probably

[2018-05-02 17:14] KennethMojanaga commented on #2734
Thanks @duftler

[2018-05-02 17:43] dotdotdotpaul commented on #2697
I think the second option might be best; I think having the canary terminate with the first "terminal" interval is a good idea, but the canary analysis stage itself just needs to know that a terminal interval should then be converted.  The objective would be to cancel (and clean up) the canary if it's "really bad", and to do so as soon as possible...  Preferably in the same pipeline so the context

[2018-05-02 19:39] willgorman commented on #2700
As an alternative it looks like our expressions could be rewritten to check the `trigger['type']` property to see if the trigger is a pipeline or Jenkins before attempting to access fields specific to either of those.  However it seems kind of confusing to have have some parts of the pipeline context behave like maps in expressions and other parts not.  If the intent is that everything should beha

[2018-05-02 20:31] ethanfrogers commented on #2700
@willgorman @robfletcher @lwander we have a customer seeing this as well, specifically with accessing properties from `parentExecutions`.

[2018-05-02 20:31] #2732 closed

[2018-05-02 20:43] avram commented on #2700
@willgorman We already tried checking the type, but we can't actually access the properties of the parent execution:

[code]

The SpEL looks like this:

[code]

(we are that customer that @ethanfrogers refers to)

[2018-05-02 20:46] ssakhuja57 commented on #2700
We may be seeing effects of this bug as well. We are trying to access the payload of a PubSub trigger in Pipeline parameter definitions, but it is producing the error below.

`EL1021E: A problem occurred whilst attempting to access the property 'payload': 'requested getter payload not found on type class com.netflix.spinnaker.orca.pipeline.model.DefaultTrigger'`

[2018-05-02 23:33] jeyrschabu commented on #2700
I was unable to reproduce this issue. Might be worth checking if you happen to have an older version of Orca.

[2018-05-02 23:42] nfirvine opened #2736 "GCP: Clouddriver uses old httpsChecks to determine health of instance group"
### Issue Summary:

https://github.com/spinnaker/clouddriver/pull/2030

uses the new UHC `compute.healthChecks.*` API. Whereas

https://github.com/spinnaker/clouddriver/blob/master/clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/deploy/GCEUtil.groovy#L304

uses `compute.httpsHealthChecks.*`.

The net result is that deploying a server group with an autohealing policy usi

[2018-05-02 23:43] nfirvine commented on #1581
Ok, looks like the upgrade fixed that particular deck/gate interaction. Hurray!

My original problem that lead me down this rabbit hole is that my instance groups with new-style httpChecks never become ready from Spinnaker's POV. I opened a separate bug https://github.com/spinnaker/spinnaker/issues/2736

[2018-05-03 03:46] eisig opened #2737 "Kubernetes v2 serverGroups api return the deleted pods."
### Issue Summary:
The cloud dirver serverGroups api (http://localhost:7002/applications/{application}/serverGroups) return then deleted pods.

I debug the code, found that the old replicaSet relationships would not delete from the cache.

sample keys:
[code]
==
And Why shoud the method   `translateClustersWithRelationships(Collection<CacheData> clusterData) `  in class `KubernetesV2ClusterProvide

[2018-05-03 05:41] aniketksh opened #2738 "{“error”:“Unauthorized”,“message”:“Authentication Failed: Incoming SAML message is invalid”,“status”:401,“timestamp”:1524402208502}"
I am trying to integrate my spinnaker application with Okta. I created application in Okta.

Spinnaker Dashboard Application configuration:

[![enter image description here][1]][1]

I have configured my gate-local.yml file accordingly.

saml:

     enabled: true
     metadataUrl: file:/opt/spinnaker/config/metadata.xml
     keyStore: file:/opt/spinnaker/config/saml.jks
     keyStorePassword: <pass

[2018-05-03 09:00] mdirkse commented on #2683
Well my larger question was: when is clouddriver not healthy? If assume the requirement that Clouddriver should be able to handle unavailability of (some) k8s accounts, then it would stand to reason that it's still healthy even though an account may be non-functional. So then I'd also not expect a broken account to stop clouddriver from being deployed (otherwise you could get into a situation wher

[2018-05-03 12:35] e96wic commented on #2716
We use Azure Storage in our setup.

[2018-05-03 12:52] nitrogear commented on #2735
I used following sequence of commands:
[code]

[2018-05-03 13:17] wuzhihui1123 commented on #2602
i have the same issue.
spinnaker version : 1.7.2
hal version: 1.1.0

[2018-05-03 13:34] ethanfrogers commented on #2683
@mdirkse you're right, that is where i was going with that. i guess we just need to define the semantics are around clouddriver health vs account health with respect to kubernetes. from my perspective, we have 2 options:

1. fix the regression such that you can deploy clouddriver with unhealthy kubernetes accounts. the health of the account shouldn't determine the health of clouddriver at all. i b

[2018-05-03 13:52] lwander commented on #2737
Pretty sure this got fixed here: https://github.com/spinnaker/clouddriver/pull/2587

[2018-05-03 13:53] lwander commented on #2737
I would first clear the cache, then verify that this works. If those pods were in the cache before that patch was merged they will stick around until you clear them.

[2018-05-03 14:01] jtk54 commented on #1581
Summing up: updating to 1.7.x fixes the missing health checks, but #2736 is still open after updating, correct?

[2018-05-03 14:32] danilina-wsib opened #2739 "Kubernetes v2 Deploy (Manifest) stage times out"
### Issue Summary:
Kubernetes v2 deploy manifest stage does not complete, times out after 30 minutes. Actual Kubernetes deployment succeeds without problems in seconds.
Error shown on UI:
Exception ( Wait For Manifest To Stabilize )
Stage Deploy (Manifest) timed out after 31 minutes 1 second

### Cloud Provider(s):
Azure AKS

### Environment:
Spinnaker 1.7.1, deployed on Azure AKS

### Feature Are

[2018-05-03 14:43] #2351 closed

[2018-05-03 15:24] lwander commented on #2739
Odds are one of your manifests never stabilized

[2018-05-03 15:26] lwander commented on #2735
Does it fail each time? Perhaps rosco registered itself as healthy, and then briefly went down when halyard tried to connect.

[2018-05-03 15:48] danilina-wsib commented on #2739
There are two manifests - deployment and service.
Deployment has one pod with two containers, it starts in under a minute (kubectl shows status "Running", 2/2 ready)
I don't see any problems with the service as well.

[2018-05-03 15:52] danilina-wsib commented on #2739
[code]

[2018-05-03 16:14] #2729 closed

[2018-05-03 16:44] wheleph commented on #2683
Halyard can completely skip validation with `--no-validate` option

[2018-05-03 17:11] lwander commented on #2739
Thanks -- it looks OK from what I can tell -- @sbwsg just added a feature to show if a manifest is "stable" from the deploy UI: https://github.com/spinnaker/deck/pull/5257

If this happens again can you capture what that shows?

[2018-05-03 17:28] danilina-wsib commented on #2739
@lwander I just noticed that there is no service groups under application infrastructore tab - it should show the deployments, right? I can see it under spin application, but not under my own app. Can this be some mixup with namespaces? I configured kubernetes account with my app namespace.

[2018-05-03 17:52] willgorman commented on #2700
Thanks @jeyrschabu.  Looks like I can't reproduce it on 1.7.2 so that's good.  We were seeing this on 1.6.1 (well, 1.6.1 with https://github.com/spinnaker/orca/commit/d7fd7b75069f99bd158f8f8d8d573299a22482da cherry-picked)

[2018-05-03 17:52] nitrogear commented on #2735
Yes, it fails each time. I tried different version of Spinnaker 1.5.4, 1.6.1 and 1.7.2. What interesting is that if I open kubernetes cluster I see that all pods are up and running , including rosco. This error prevents me to do any configuration change:
[code]

[2018-05-03 17:58] nfirvine commented on #1581
Right. I was thinking the UI problem was deeper than an API mismatch, but I don't think it was. And yes, #2736 is still valid on 1.7.2. I'm going to be working on it today

[2018-05-03 18:40] lwander opened #2740 "Kubernetes v2 pipelines don't surface account names"
When a pipeline deploys to/modifies an account in the v1 provider, it shows up on the pipeline tab.
![image](https://user-images.githubusercontent.com/4874941/39596260-c55fb1ac-4edf-11e8-8074-c87cfe71251d.png)

[2018-05-03 21:25] danilina-wsib commented on #2739
I solved then empty deployment tab problem by adding --bootstrap-only option to my deployment - now spinnaker displays all namespaces.
The deployment still times out however - I see two server groups (replica sets) - one named eclaims-doc-service
 with versions 1 to 4 and status "Transitioning", and another named eclaims-doc-service-76584657f
 with version 5 and green marker
![image](https://user-

[2018-05-04 01:55] vinhlh commented on #2133
+1

[2018-05-04 03:36] bhpike65 opened #2741 "apt-get install failed - halyard: unrecognized service"
### Issue Summary:
apt-get upgrade & update failed

[code]

[code]

### Cloud Provider:
Docker registry

### Environment:
Dockerfile
[code]

### Feature Area
Installation

### Description
I had a problem like [spinnaker/spinnaker#2489](https://github.com/spinnaker/spinnaker/issues/2489).
after ```hal deploy apply```,  some services didn't act expect. so I try to upgrade the package.

[2018-05-04 05:29] eisig commented on #2737
Yes, it's ok now 👍

[2018-05-04 05:29] #2737 closed

[2018-05-04 06:00] eisig opened #2742 "Kubernetes V2 dockerImageReplacer may eat up all the CPU"
### Issue Summary:
A invalid docker image,  may cause the clouddriver to eat up all the CPU.

 I deploy a k8s  manifest with a invalid container image, but it is valid for k8s.
Every time I view the application In the UI, the clouddriver eat up the CPU for a long. And the `applications/{xxx}/serverGroups ` return 500.

The sample code below shows that `getNameFromReference` will not return for a l

[2018-05-04 08:56] sweetib commented on #2585
@skim1420 and @ezimanyi we have deployed `1.7.2` into our setup yesterday itself, as we have already cleanup lots of images in past week before the update was done. We are yet to reach the state where we might start seeing the significant difference. For now time for image search is between `0.01` and `0.02` in comparison to our old timings which was between `0.06` and `0.10` for image count less

[2018-05-04 09:05] sweetib commented on #2490
Thanks, It works in the latest setup of spinnaker. Apologies for reverting so late.

[2018-05-04 09:06] sweetib commented on #2717
@chainlink you might want to try the latest version. I was also facing same issue and it was fixed in here https://github.com/spinnaker/spinnaker/issues/2490

[2018-05-04 11:40] e96wic commented on #2716
I tried with Minio's S3 interface for Azure Storage, same problem.

[2018-05-04 11:55] lwander commented on #2739
What are the annotations on that eclaims doc service deployment? It looks like the annotations grouping it into the correct cluster have been dropped.

[2018-05-04 12:02] lwander opened #2743 "Manifest status flashes on and off in v2 deploy execution tab"
![image](https://user-images.githubusercontent.com/4874941/39626798-73d5c6c2-4f71-11e8-9b96-85e256e303f6.png)

The events & manifest status keep appearing & reappearing when viewing the pipeline.

[2018-05-04 12:06] lwander opened #2744 "Manifest status fails to show unstable entires"
Backend returns: ![image](https://user-images.githubusercontent.com/4874941/39626932-f294c364-4f71-11e8-992d-14d49146e3c5.png)

Frontend shows:
![image](https://user-images.githubusercontent.com/4874941/39626983-227028d0-4f72-11e8-8b58-ac9e1ea210c3.png)

[2018-05-04 12:41] mlevitzzky commented on #1858
Hi,
I'm trying to update spinnaker 1.6 to 1.7 but it fails on apply deploy.

hal config version edit --version 1.7.2
+ Get current deployment
  Success
+ Edit Spinnaker version
  Success
+ Spinnaker has been configured to update/install version "1.7.2".
  Deploy this version of Spinnaker with `hal deploy apply`.

hal deploy apply
+ Get current deployment
  Success
+ Prep deployment
  Success
+ Pre

[2018-05-04 12:42] #2688 closed

[2018-05-04 13:04] chainlink commented on #2717
Yep! Tried the latest version and it's all good.

[2018-05-04 13:04] #2717 closed

[2018-05-04 13:55] jasonmcintosh commented on #980
Solution we used was similar to the wrapper script seen elsewhere. What we do is add a parameter "account" then use aws sts to acquire credentials to that account.  Then the wrapper packer script generates IAM keys (could set these all up in aws/credentials files and use AWS_PROFILE variable) to run the main packer build.  Terraform supports this directly, but packer unfortunately has no way to au

[2018-05-04 14:40] #2550 closed

[2018-05-04 15:34] danilina-wsib commented on #2739
## Annotations on deployment:
  annotations:
    artifact.spinnaker.io/location: '"eclaims-dev"'
    artifact.spinnaker.io/name: '"eclaims-doc-service"'
    artifact.spinnaker.io/type: '"kubernetes/deployment"'
    deployment.kubernetes.io/revision: "1"
## Annotations on replica set:
annotations:
    artifact.spinnaker.io/location: '"eclaims-dev"'
    artifact.spinnaker.io/name: '"eclaims-doc-serv

[2018-05-04 15:36] lwander commented on #2739
It's missing a cluster annotation, is this intentional?

On Fri, May 4, 2018, 11:35 AM danilina-wsib <notifications@github.com>
wrote:

[2018-05-04 15:37] e96wic commented on #2716
Looks like the problem's origin is here: https://github.com/spinnaker/orca/blob/33224085000bef63fef619935e77d8aa145e4eb0/orca-front50/src/main/groovy/com/netflix/spinnaker/orca/front50/tasks/MonitorFront50Task.java#L58

[2018-05-04 15:39] #2744 closed

[2018-05-04 15:53] sweetib commented on #2621
Was able implemented in successfully. Thanks @stewchen

[2018-05-04 15:53] #2621 closed

[2018-05-04 16:00] mpagnucco commented on #1424
I finally found out what was happening to me in particular. Maybe this will help others. I'm running spinnaker on an ec2 instance and configured a docker registry with hal:

[code]

I use a docker container that runs in the background and refreshes the token every 30 minutes:

[code]
The new token gets written every 30m to /opt/ecr/passwords/my-registry.pass and my spinnaker configuration points t

[2018-05-04 16:07] ethanfrogers commented on #1424
@mpagnucco nice find. i've also heard this from others who are using `ecr-token-refresh` which is unfortunate. it seems that a recent update with halyard broke the semantics of `passwordFile` for this use case specifically. i'm not entirely sure what the appropriate resolution is at this point though since some folks are probably relying on the _new_ behavior.

[2018-05-04 16:25] danilina-wsib commented on #2739
No, I just discovered that Deploy Manifest stage had empty cluster attribute on the UI - somehow it allowed me to save it like this.
These are the annotations after I set it - service group now appears with a proper name, and an instance shows up as green. The pipeline still times out, however - I am still to try the new deck UI which shows Stable labels.

---
  annotations:
    artifact.spinnaker

[2018-05-04 16:39] danilina-wsib commented on #2739
@lwander

I've upgraded deck to image 2.3.0-20180504022808, and I don't see "stable" indicators on Deployment details page, it looks like before ( Deployment > YAML, Service > YAML)

[2018-05-04 17:17] lwander commented on #2743
Using an intentionally bad manifest (to keep the stage running & show failed checks) the issues persists at HEAD

[code]

[2018-05-04 17:42] danilina-wsib commented on #2739
I think I found what the reason was - I accidentally enabled "Produces Artifact" option in the Deploy stage. Once I removed it, the pipeline completes.
Thank you!

[2018-05-04 18:27] jtk54 opened #2745 "Support all available GCE machine types."
As GCE adds more machine/instance types, we should move to use the machine-types API to find the new instance types, Spinnaker is already using the API to find out which machine type can be used in each zone so we can just add a bit more logic to that to add to the UI the remaining types that do not exist in the defaults in Clouddriver's configuration file.

Default configuration is [here](https:/

[2018-05-04 19:54] stujapa opened #2746 "clouddriver cannot cast ecs ResizeServiceDescription to aws ResizeAsgDescription"
### Issue Summary:
clouddriver cannot cast [ecs ResizeServiceDescription](/spinnaker/clouddriver/blob/498cbb6f2461/clouddriver-ecs/src/main/java/com/netflix/spinnaker/clouddriver/ecs/deploy/description/ResizeServiceDescription.java) to [aws ResizeAsgDescription](/spinnaker/clouddriver/blob/498cbb6f2461/clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/description/ResizeA

[2018-05-04 20:34] emptywee opened #2747 "(clouddriver) Spinnaker 1.7.x slow on updating on demand cache requests"
### Issue Summary:

After upgrading to 1.7.0 and 1.7.2 clouddriver is extremely slow on updating on demand entries, making deployments slower up to 3-4 times compared to release 1.6.1

### Cloud Provider(s):
Kubernetes v1

### Environment:
Self-hosted Kubernetes cluster running on v1.9.6

### Feature Area:
clouddriver

### Description:
We are having hundreds of applications and keeping up to 10 ve

[2018-05-04 20:46] stujapa commented on #2746
Metadata on the application (from http:\//\<host>:8084/applications/<REDACTED_APP_NAME>) – it claims the app is managed by aws cloud provider:
[code]

[2018-05-04 22:28] emptywee commented on #2747
Also, my observation of clouddriver and on demand requests: despite there are 6 to 8 instances, those log entries about  pending on demand requests are generated mostly by 1 instance (sometimes, very rarely another instance would print it too). Does it mean that those requests are handled by 1 instance all the time? Would it make more sense to share that load across multiple clouddriver instances?

[2018-05-04 22:35] emptywee commented on #2747
I believe we need to profile those on demand requests performance and make it faster. Sometimes I see pods are up in the UI, but orca is still waiting for those requests to be processed. Something is not moving fast. And as I have rolled back clouddriver to the one in the 1.6.1 release, I am still seeing sometimes it takes ridiculous amount of time for the Force Cache Refresh task to complete. May

[2018-05-05 12:12] lwander commented on #2747
Seems the bad NPE is causing the cache refresh to get thrown out, until the stage either times out or no NPE is hit.

[2018-05-06 17:56] evaldasou commented on #2708
I can confirm the same issue as @iiro  , @danilina-wsib and @morgankilgore
Please do not close unresolved issues @sbwsg

Thanks!

[2018-05-07 06:03] KennethMojanaga opened #2748 "Spinnaker hangs on "Wait for Up Instances" when creating a server group"
### Issue Summary:
I've used the AWS cloudFormation template to create my spinnaker instance. When setting up, all goes well, until I have to create a server group. The process hangs when waiting for up instances. What's strange is that when logging into my AWS console, the EC2 instances get successfully created by spinnaker, however in Spinnaker's point of view, it gets stuck whilst waiting for t

[2018-05-07 06:19] azelezni opened #2749 "Unable to view discovered ECS applications"
### Issue Summary:
After adding ECS account, trying to view the applications discovered by clouddriver just shows "Application Not Found".
If using just AWS account, I can view and edit applications discovered by clouddriver.

### Cloud Provider(s):
AWS
ECS

### Environment:

### Feature Area:
UI

### Description:

### Steps to Reproduce:

### Additional Details:

[2018-05-07 06:20] azelezni opened #2750 "Unable to select account on security group creation"
### Issue Summary:
When creating a new application, cannot select account on security group creation:
`"TypeError: Cannot read property 'aws' of undefined".`

### Cloud Provider(s):
AWS
ECS

### Environment:

### Feature Area:
UI

### Description:

### Steps to Reproduce:

### Additional Details:

[2018-05-07 06:21] azelezni opened #2751 "Unable to select cloud provider on application creation"
### Issue Summary:
In versions 1.6.X, 1.5.X, 1.4.X, no option to select cloud providers when creating new application.
I have an AWS and ECS account configured.

### Cloud Provider(s):
AWS
ECS

### Environment:

### Feature Area:
UI

### Description:

### Steps to Reproduce:

### Additional Details:

[2018-05-07 06:52] nafiux commented on #592
@duftler It seems that the roadmap doesn't exists anymore, Do you have the link of the new one? I'm also interested into see topics related to AWS ECS. Thanks!

[2018-05-07 07:15] prashantdj1 opened #2752 "acm tab not showing on ELB on aws in version 1.7.2"
### Issue Summary:
acm tab not showing on ELB on aws provider on version 1.7.2. So not able to edit the ELB ACM certificate.

### Cloud Provider(s):
AWS

### Environment:
Prod

### Feature Area:
ELB
<img width="867" alt="screen shot 2018-05-07 at 12 42 09 pm" src="https://user-images.githubusercontent.com/11455429/39689413-4ba7a334-51f4-11e8-8cd1-379bf7c2a3e4.png">

### Description:

### Steps to

[2018-05-07 07:28] azelezni opened #2753 "Unable to select instance type"
### Issue Summary:
When creating a new server group, unable to select any instance type, all options are grayed out with the message `his instance type is not available for the selected configuration`

`http://localhost:8084/instanceTypes` return empty list

### Cloud Provider(s):
AWS

### Environment:

### Feature Area:
UI, API

### Description:

### Steps to Reproduce:

### Additional Details:

[2018-05-07 11:47] duftler commented on #592
@nafiux An updated roadmap will be published shortly (@lwander can say more on this).

I think @BrunoCarrier will have more information on the AWS ECS support.

[2018-05-07 14:13] sbwsg commented on #2743
I still can't reproduce this in Chrome 66 on Mac OS X.  What browser / operating system are you experiencing this in?

[2018-05-07 14:16] lwander commented on #2743
Try it on your workstation w/ the latest chrome

[2018-05-07 17:06] jtk54 commented on #2736
Your description does make sense -- do you have `This application considers only cloud provider health when executing tasks` enabled? I suspect I had that enabled when I revamped the GCE caching and didn't hit these cases (e.g. [here](https://github.com/spinnaker/clouddriver/blob/master/clouddriver-google/src/main/groovy/com/netflix/spinnaker/clouddriver/google/provider/agent/GoogleHttpLoadBalance

[2018-05-07 17:34] nfirvine commented on #2736
I generally do not have that box checked. I tested with it checked, and the new group deployed fine and the pipeline finished. Except that it didn't get added to the LB. And the old (working) group got disabled. Leaving me with a 100% backend-less LB :D

[2018-05-07 17:38] sbwsg commented on #2708
@evaldasou @iiro @morgankilgore @danilina-wsib the fix introduced by @laurieodgers for https://github.com/spinnaker/spinnaker/issues/2733 has now been released as spinnaker 1.7.3.  Consider updating if you're still having issues.  Cheers!

[2018-05-07 17:39] sbwsg commented on #2733
The fix for this issue has now been released as part of Spinnaker 1.7.3.  Please feel free to create new github issues if the problem continues to affect your deployments after updating.

[2018-05-07 17:40] jtk54 commented on #2736
Yep definitely not correct, will investigate. Which type of LB are you trying to associate the server group with?

[2018-05-07 17:46] dibyom commented on #2513
Compiled a list of all `hasPermission` usages in all Spinnaker repos:
https://gist.githubusercontent.com/dibyom/901f3b336fd0b8962895d46d33b0526b/raw/b11feb0672ea64a0a03c2abbdf08ef687d586c41/gistfile1.txt

[2018-05-07 17:47] nafiux commented on #592
Thanks @BrunoCarrier, I'm new in Spinnaker (I'm using Jenkins for CI/CD), I'm trying to understand how I can do blue/green or Canary deployments with Spinnaker and AWS ECS, I'm using Linkerd (service-mesh) to expose the services outside, behind a load balancer that point to each ECS Node in which Linkerd is running. I'm still trying to define things like:

- Should I have an AWS ECS cluster per en

[2018-05-07 19:14] lwander commented on #2640
Seems Halyard still checks the list of published versions. This will need to be disabled via config.

[2018-05-07 19:26] rossedman opened #2754 "OmitNamespaces No Longer Works"
### Issue Summary:
When running 1.6+ in Spinnaker the `omitNamespaces` feature no longer works in `halyard` for V1 Kubernetes deployments. You must explicitly declare the namespaces you want to deploy under `namespaces` array.

### Cloud Provider(s): Kubernetes

### Environment:
Spinnaker running as distributed deployment in GKE, deploying to multiple other Kubernetes clusters.

### Feature Area:

[2018-05-07 20:53] ezimanyi commented on #2735
@nitrogear : I wanted to quickly double-check the version of Kubernetes that you're running.  We've discovered an issue that would explain the error you're seeing, but it only affects users running Spinnaker on Kubernetes 1.10 or above.  You said above that you're running Kubernetes 1.8.1 but I wanted to double-check that.

If you are running Kubernetes < 1.10, do you have a stack trace from your

[2018-05-07 21:00] lwander commented on #2700
@jeyrschabu / @robfletcher how do you guys feel about adding `@JsonAnyGetter/@JsonAnySetter` to the default trigger to prevent users from running into these issues where properties can't be found on the default trigger?

[2018-05-07 21:05] lwander commented on #2696
Will be patched with 1.7.4 next week

[2018-05-07 21:57] robfletcher commented on #2700
@lwander it already has those annotation on the `other` property.

[2018-05-07 22:54] nfirvine commented on #2736
HTTPS

[2018-05-07 23:14] Quintok opened #2756 "AWS NetworkLoadBalancer support"
### Issue Summary:
Clouddriver-aws supports ALBs and ELBs.
However, with AWS Private-link they only support NLBs.
I'd like to be able to provide between-account services managed by Spinnaker

### Cloud Provider(s):
AWS

### Environment:
I'm running spinnaker on prem, creating EC2 instances in AWS

### Feature Area:
clouddriver-aws -> load balancing

[2018-05-07 23:28] u2mejc opened #2757 "Feature request: Add support for resourceQuota in pipelines"
### Issue Summary:
Add support to "burst" normal quota by temporally scaling the associated resourceQuota to allow for a blue/green (red/black) deploy (ie: twice the normal number of running pods), then prune the resourceQuota back to the pre-deployment size as old pods terminate.

### Environment:
K8

### Feature Area:
Pipelines

### Description:
From [resourceQuotas](https://kubernetes.io/docs/c

[2018-05-08 00:47] nfirvine commented on #2494
This is affecting me on every deploy of Services and StatefulSets. I've got 2 clouddriver replicas at:
[code]
as reported by `kubectl top po`. Granted, these guys are indexing a lot of stuff.

I'm surprised that an individual task can timeout even when I set its stage's timeout to something very high.

[2018-05-08 01:02] nfirvine commented on #2736
I'm starting to question whether Spinnaker is the problem here. We've got some complex logic that happens at boot and are suspicious of whether it's finishing in time for the autoheal to not kill it. I'm actually seeing some deploys going through, but with a pretty big variance around the deploy time.

So if you find a smoking gun @jtk54 that'd be cool, but if you're struggling to repro, there's a

[2018-05-08 10:38] lwander commented on #2700
Hmm maybe I'm missing something [here](https://github.com/spinnaker/orca/blob/master/orca-core/src/main/java/com/netflix/spinnaker/orca/pipeline/model/DefaultTrigger.kt#L34). But if they are set someplace else, does SpEL read from the JSON representation?

[2018-05-08 10:40] lwander commented on #2494
The amount of memory & cpu has been reduced by a large factor in `master`. These changes were merged after 1.7 was cut, but you can try them out in `master-latest-unvalidated`.

[2018-05-08 11:48] lwander commented on #2494
Here is clouddriver's CPU & RAM usage before (1) and after (2) applying the patch

![image](https://user-images.githubusercontent.com/4874941/39755510-1ca695cc-5294-11e8-94eb-be43b9c17c2c.png)

CPU is graphed in # of cores

[2018-05-08 11:54] thornpar opened #2758 "Bitbucket Authorization header"
### Issue Summary:

Setting up bitbucket as OAuth2 provider doesnt work

### Cloud Provider(s):

Not applicable

### Environment:

Local debian

### Feature Area:

Authentication

### Description:

When 'Bearer' is set in the authorization header, its set with b whereas bitbucket requires capital B. All API requests going to bitbucket will give you a 403

### Steps to Reproduce:

Simply setup bitb

[2018-05-08 12:10] #2696 closed

[2018-05-08 12:52] avram commented on #2700
SpEL uses `PropertyAccessor`s -- the one in question is here: https://github.com/spinnaker/orca/blob/master/orca-core/src/main/java/com/netflix/spinnaker/orca/pipeline/expressions/whitelisting/FilteredPropertyAccessor.java

It isn't related to the JSON itself-- SpEL is currently relying on reflection to resolve properties.

[2018-05-08 12:53] brantburnett commented on #2039
I can confirm that adding the extra roles did not resolve the issue for us.  We're currently running 1.7.2.

[2018-05-08 14:27] mickmcgrath13 opened #2759 "More verbose error message for AMI id test in clouddriver"
### Issue Summary:
Add a more verbose [error message](https://github.com/spinnaker/clouddriver/blob/66f3407515d60a41c2ecf482047e1bb1c2ac8e50/clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/controllers/AmazonNamedImageLookupController.groovy#L196) for AMI id test in clouddriver when tagging an image.

### Cloud Provider(s):
AWS

### Environment:

### Feature Area:
Tag Image st

[2018-05-08 14:33] garystafford opened #2760 "Hal Deploy Fails for Spinnaker 1.7.3 (Ozark) - Missing/Incorrect Dependency?"
### Issue Summary:
Hal Deploy Fails for Spinnaker 1.7.3 (Ozark) - Missing/Incorrect Dependency?

### Cloud Provider(s):
AWS, GKE

### Environment:
Spinnaker running on Azure VM

### Feature Area:
Upgrading to Spinnaker 1.7.3 (Ozark) from 1.6.1 (GLOW)

### Description:
Error encountered during `hal deploy apply` of 1.7.3:
[code]

Same commands for 1.6.1 (GLOW) and 1.5.4 (Atypical) complete without

[2018-05-08 14:46] jtk54 commented on #2745
Merged https://github.com/spinnaker/deck/pull/5278, all GCE machine types should be visible from the UI and any not already statically categorized will default to the storage set in `settings.js`.

[2018-05-08 14:49] jtk54 commented on #2745
Still a bit of work left in Clouddriver to use sane defaults when it receives an instanceType with no explicit storage specified and no fallback storage config

[2018-05-08 14:51] sbwsg commented on #2760
hey @garystafford thanks for the issue report.  Can you confirm the following:

- What OS is Halyard being run on?
- What OS is Spinnaker being deployed on to?
- What version of halyard are you running?  `hal -v`

I'm looking into this and will try to reproduce.  I can see the clouddriver debian which matches your error message is available on bintray here: https://bintray.com/spinnaker-releases/d

[2018-05-08 15:03] garystafford commented on #2760
Sure, thanks for reply.

1. Halyard OS?
[code]
2. Spinnaker? Same as above
[code]
4. Yes, reproducible. I have tried it a few times, rolling back, trying again. Same results.

Might be related? I see below in the deploys. Using previous index?:

[code]

[2018-05-08 15:40] jrsquared commented on #2756
Full NLB Create/Update/Delete are on our short-term roadmap and will hopefully be added sometime this quarter.

[2018-05-08 15:50] skim1420 commented on #2585
Closing for now, please let us know if you experience further issues. Thanks.

[2018-05-08 15:50] #2585 closed

[2018-05-08 16:08] CliveJL commented on #2760
If it helps I have the exact same problem, after attempting to upgrade from version 1.7.2 to 1.7.3. I'm running Halyard and Spinnaker on the same EC2 instance, and that's running Ubuntu 14.04.5 LTS as above. My Halyard version is also identical to the one above (1.1.0-20180425120405).

[2018-05-08 16:38] sbwsg commented on #2760
Hey thanks for the input @CliveJL!

Unfortunately I'm not very familiar with debian key signing so I'm still investigating.  We're aware that the key has expired and are investigating the best course of action to update it without affecting older packages.

Curiously I'm able to install halyard on a completely fresh VM and then switch around between deployed spinnaker versions without problem.  I

[2018-05-08 16:39] lwander commented on #2760
@ezimanyi have you seen packages fail to download when the key signing is out-of-date?

[2018-05-08 16:42] ezimanyi commented on #2760
Just looking at this now---I think this may actually be a difference in default behavior when installing fetching a repo for the first time vs. updating a repo.  When I try to reproduce on a fresh install of Ubuntu, I get just a warning---but it looks from the message above that if apt has already fetched a repo it will just fall back on the last known good index if the key is expired.

I'm just d

[2018-05-08 16:50] sbwsg commented on #2697
Sorry this is taking me an immense amount of time to figure my way through.  I haven't found a place to insert a fallback behaviour like that described in option 2.  As far as I can tell after the canary stages are synthesized there are no suitable callbacks to the synthesize parent from the failed Task or the Handler classes that run the stages.  I've tried adding this logic in the `onFailureStag

[2018-05-08 16:58] BrunoCarrier commented on #592
@nafiux For Canaries, see https://www.spinnaker.io/guides/user/canary/stage/.  I am not sure if the canary solution supports ECS though.

The larger your ECS cluster, the easier you can scale up / down, reserve instances, etc.  However, the larger the blast radius.  I would not recommend having the same cluster for prod and non-prod

blue/green deployments are called black/red in Spinnaker, and yo

[2018-05-08 17:12] bobbytables commented on #2494
Hot damn.

[2018-05-08 17:25] danielpeach commented on #2748
If you're not using a load balancer, you should verify in your application config that `Consider only cloud provider health when executing tasks` isn't selected. Please reopen if it is selected, or if you're using a load balancer or other health provider.

![edit_application](https://user-images.githubusercontent.com/13868700/39772259-c455587a-52c2-11e8-8f5a-27dc185fd134.png)

The help text for th

[2018-05-08 17:25] #2748 closed

[2018-05-08 18:00] nfirvine opened #2761 "Metric `clouddriver:google:api__count` missing `account` label"
`clouddriver:kubernetes:api__count` has an `account` label. `clouddriver:google:api__count` should too.

### Cloud Provider(s):

GCE

### Environment:

Spinnaker 1.7.2 deployed to GKE.

### Feature Area:

Clouddriver

[2018-05-08 18:25] garystafford commented on #2760
__Workaround__
As a workaround, I remove the expired key, the apt repository sources, did an update, and let the hal deploy script add them back, thinking it might avoid the error. Wasn't until I also did the `apt-get update` command that it finally worked, so...

[code]

Commands:

[code]

Redeploy and success! `hal config version`:

[code]

Pinned packages,`apt-cache policy`:

Pinned packages be

[2018-05-08 18:28] sbwsg commented on #2760
That's excellent, thanks for the workaround @garystafford!  I'm keeping this issue open so that it's visible to users while we're working on the bintray key problem.

[2018-05-08 18:55] nfirvine commented on #2494
I'm still not convinced this is a CPU problem. I just scaled our clouddriver RS up to 5, such that each GKE node is < 50% CPU usage, and I'm still seeing the problem.

[2018-05-08 19:14] jtk54 commented on #2745
Clouddriver: https://github.com/spinnaker/clouddriver/pull/2612.

[2018-05-08 19:16] lwander commented on #2494
The above instances of this were fixed by using a bigger VM, and I have seen this problem happen on overloaded machines. It's possible you're facing a different issue? Can you post some more details?

[2018-05-08 19:18] jraj002 opened #2762 "Automated trigger from Google Container Registry to Spinnaker stops working a day after Spinnaker install"
### Issue Summary:
I deployed Spinnaker v 1.7.2 on a GKE cluster using Halyard. I built a pipeline that would pull from GCR as soon as a new image was pushed out and deploy to Kubernetes. The trigger worked fine for less than a day. And then the automated trigger stopped. I have not made any changes to the cluster.

### Cloud Provider(s):
GKE 1.8.8

### Environment:

### Feature Area:
Automated tr

[2018-05-08 20:15] nfirvine commented on #2494
I'm deploying a trivial Service (Type: ClusterIP) manifest and it fails on the `Force Cache Refresh` task and this stage error:
[code]

I'll see if I can find anything relevant in the clouddriver logs

[2018-05-08 20:52] jtk54 commented on #2745
Some UI sugar to alert users when instanceType is using default storage options: https://github.com/spinnaker/deck/pull/5285. Courtesy of @danielpeach.

[2018-05-08 21:44] KennethMojanaga commented on #2748
Interesting. For me, this wasn't checked by default. So when I checked it, the hanging stopped. Thanks @danielpeach for pointing me in the right direction :)

[2018-05-08 22:59] ezimanyi commented on #2760
I ran into one issue validating that rotating the key won't break `apt-get` for existing packages, so have not yet rotated the key.  I should be able to rotate within ~1 day which will resolve this issue.

[2018-05-09 08:14] photonecomm commented on #2735
@ezimanyi ,  same issue for me as well.

I tried to deploy spinnaker on K8s v1.10 & v1.10.2 with Halyard version 1.0.xx & spinnaker version 1.7.0 & v.1.7.1

[2018-05-09 08:47] bhaskar-chenchu commented on #2735
I'm facing same issue. tried to deploy spinnaker v1.7.1/v1.7.0 on K8s cluster v1.10.0 or v1.10.2
[halyard.log](https://github.com/spinnaker/spinnaker/files/1987038/halyard.log)

[2018-05-09 09:46] nitrogear commented on #2735
@ezimanyi you're right, we have 1.10
[code]
Does it depend from server version or also from kubectl version?

[2018-05-09 09:52] svenbovens commented on #2039
We have 2 instances of Spinnaker:
1.5.0 we need to restart clouddriver each Friday, so this lasts about a week before getting the error
1.6.1 we just implemented an automated nightly restart. It was restarted +/- 7 hours ago and now we already got the error again. It seems to be random and a lot more frequent than the older version. Would be nice if this could be part of a liveness probe so the co

[2018-05-09 11:29] adamresson commented on #2039
Just FYI, restarting clouddriver in the middle of a deploy can also lead to unexpected results where the new server group comes up, but the old server groups don't downscale/get removed.

[2018-05-09 13:56] #2694 closed

[2018-05-09 15:10] ezimanyi commented on #2735
This is actually an issue where Kuberetes 1.10 removed a deprecated endpoint that Halyard was depending on.  The issue will be fixed once we merge https://github.com/spinnaker/halyard/pull/933.  I was doing some testing to make sure it didn't break on Kubernetes <1.10 but everything looks good, so we should merge that today.

You'll need to make sure that the user running Spinnaker has the `servic

[2018-05-09 16:08] jtk54 commented on #2736
I configured my application to complete operations only on configured health checks only (not platform health). I did an ad-hoc deploy with a UHC (checking `/` on port 80) configured as the autohealing health check.
* When I deployed a vanilla ubuntu VM image, the deploy never completed.
* When I added apache to the vanilla ubuntu (which will succeed when pinged on `/` on port 80), the deployment

[2018-05-09 16:37] ezimanyi commented on #2735
I just pushed a new version of Halyard (1.2.0) with the fix noted above (spinnaker/halyard#933); this should be resolved by upgrading to that version.

[2018-05-09 16:37] #2735 closed

[2018-05-09 16:38] ezimanyi commented on #2545
Addressed by the commit referenced above

[2018-05-09 16:38] #2545 closed

[2018-05-09 17:15] nfirvine commented on #2736
Thanks Jacob. I'm going to try simplifying the test case, but pretty sure
we're failing autoheal checks.

FWIW, the GCP UI seems to create old httpHealthChecks, right? You have to
create UHCs from the CLI?

Does Spinnaker log the health as reported by the health check anywhere? I
was expecting to find it in the instance API endpoint where I can see the
platform and load balancer health.

And semi

[2018-05-09 17:15] CB-GuangyaoXie commented on #2545
Thank you!

[2018-05-09 17:25] jtk54 commented on #2736
I think this depends what you are creating - when creating LBs I think the default in the GCP UI is the new style health checks. If you're creating standalone health checks under 'Compute", those are the old-style httpHealthChecks. It's a bit confusing, I know :/

was expecting to find it in the instance API endpoint where I can see the
platform and load balancer health.

I don't think it's logged

[2018-05-09 17:27] lesaux commented on #1873
Even Google source repositories aren't supported atm.
I need more flexibility for artifacts and triggers around git too.

[2018-05-09 18:27] ezimanyi commented on #2741
I've rotated the key we use to sign our repository to replace the expired key.  You may need to import the new key via:
`curl https://bintray.com/user/downloadSubjectPublicKey?username=spinnaker-releases | sudo apt-key add -`

The new key expires on 2022-05-08 and has fingerprint `539E 3508 D31C 9E80 EF16  70C6 0440 13D2 D6BA FCDF` if you want to separately verify.

Once you have this new key inst

[2018-05-09 18:27] #2741 closed

[2018-05-09 18:28] ezimanyi commented on #2760
I've rotated the key we use to sign our repository to replace the expired key. You may need to import the new key via:
curl https://bintray.com/user/downloadSubjectPublicKey?username=spinnaker-releases | sudo apt-key add -

The new key expires on 2022-05-08 and has fingerprint 539E 3508 D31C 9E80 EF16 70C6 0440 13D2 D6BA FCDF if you want to separately verify.

Once you have this new key installed,

[2018-05-09 18:28] #2760 closed

[2018-05-09 18:35] nfirvine commented on #2736
Yeah, that's where I'm looking, but I don't see any info about the the
autoheal health check, just the platform. When the autoheal stabilizes
eventually, I'll see load balancer info as well, but never anything about
autoheal.

That would help. But I was talking more about from Google's perspective. I
literally cannot find any information about why there are two redundant
resources, like when the U

[2018-05-09 18:49] duftler commented on #2629
UI work: https://github.com/spinnaker/deck/pull/5284

[2018-05-09 19:17] rossedman opened #2763 "Helm Bake Cannot Target Namespaces"
### Issue Summary:
Helm Bake stage needs a way to target namespaces. Without this option, anti-patterns are introduced to charts where a namespace variable is passed in and then tiller cannot clean up charts properly.

### Cloud Provider(s):
Kubernetes

### Environment:
Spinnaker running distributed on Kubernetes in GKE, backed by GCS.

### Feature Area:
Pipeline stage for Bake Manifest

### Descr

[2018-05-09 20:15] rossedman commented on #2763
Wanted to follow up on this, this may be better to introduce at the Manifest Deploy layer. If I add a `namespace` variable to my helm charts I receive this error on deploy:

[code]

[2018-05-09 20:19] richtera opened #2764 "Looks like the image tags are wrong"
### Issue Summary:
Unable to startup system. Fails pulling images
![image](https://user-images.githubusercontent.com/708186/39831738-3c46c578-537a-11e8-8d4d-abf999b2c79d.png)

### Cloud Provider(s):
google container engine

### Environment:
Using cloud shell

### Feature Area:
Setup

### Description:

### Steps to Reproduce:
Try to setup current codelabs on google

### Additional Details:

---

**

[2018-05-09 21:28] davidxia opened #2765 "Deploying Spinnaker with halyard to k8s with kube v2 provider and SSL enabled for gate fails because k8s readinessProbe fails"
### Issue Summary:

Deploying Spinnaker with halyard to k8s with kube v2 provider and SSL enabled for gate fails because k8s readinessProbe fails.

### Cloud Provider(s):

Kube V2

### Environment:

Distributed on k8s

### Feature Area:

halyard, gate

### Description:

The [built in TLS support](https://www.spinnaker.io/setup/security/authentication/ssl/) doesn't seem to work when I use an untrus

[2018-05-10 01:34] ezimanyi commented on #2728
Addressed by PR linked above; fix included in Halyard 1.2.0.

[2018-05-10 01:34] #2728 closed

[2018-05-10 01:44] ezimanyi commented on #2243
@ikemonn : This should be fixed by https://github.com/spinnaker/orca/pull/2193.  We were sharing a non-thread-safe library across threads, which led to a race condition that intermittently resulted in the issue you observed.   The fix is in spinnaker 1.7.2 and later.  Please re-open or create a new issue if you observe this while running a version containing the fix.  Thanks!

[2018-05-10 01:44] #2243 closed

[2018-05-10 01:49] ezimanyi commented on #2065
Closing per above comment; please re-open or create a new issue if you still experience issues.

[2018-05-10 01:49] #2065 closed

[2018-05-10 01:56] ezimanyi commented on #2427
@colltie
Closing as a duplicate of https://github.com/spinnaker/spinnaker/issues/2640.  (This one was reported first, but there's more active discussion on the other one.)

[2018-05-10 01:56] #2427 closed

[2018-05-10 09:49] KeisukeYamashita commented on #2039
I am having the same issue. Moreover, `hal deploy apply` doesn't work and get stuck with the Deploy of the `clouddriver` . I can't get triggers. How can I solve this?

[code]

[2018-05-10 10:33] Sgydoo commented on #2714
Likewise, I ran this command thinking it would produce some useful output, but it didn't seem to generate any files.

[code]
Does this command actually do anything?

[2018-05-10 13:04] ttomsu opened #2766 "LocalGit deployment may need to update SSL certs with OpenJDK 8"
### Issue Summary:
I received the same stacktrace in all services when trying to do a Local Git deploy (pasted below). Following advice from [this issue](https://github.com/mesosphere/hdfs-deprecated/issues/141), I had to update my SSL certs when using OpenJDK 8

[code]

### Cloud Provider(s):

### Environment:

### Feature Area:

### Description:

### Steps to Reproduce:
From fresh VM:
[code]
Fol

[2018-05-10 13:05] ttomsu commented on #2766
cc @dorbin

[2018-05-10 13:09] colltie commented on #2640
So is this complete

[2018-05-10 15:05] jtk54 commented on #2736
Seems to me like there are possibly two separate issues here: 1. Whether the deploy operation completes from the LB health check's point of view _without autohealing configured_ and 2. Whether adding autohealing to the server group changes the behavior. I couldn't tell if this was exercised from the initial repro case, or whether the same health checks were used in both places.

@nfirvine can you

[2018-05-10 17:31] lwander commented on #2764
Was this doing the Google Codelab? I think we resolved this last afternoon around 4:30pm

[2018-05-10 17:34] lwander commented on #2765
Thanks for the detailed report @davidxia -- working on this now!

[2018-05-10 17:42] mattnworb commented on #2670
+1, we do the same at Spotify, both with CustomResourceDefinitions we define internally or use from the community

[2018-05-10 18:09] #2764 closed

[2018-05-10 18:28] jtk54 commented on #2602
The `--csrf` flag is intended to be used as a 'switch':

`hal config ci jenkins master add <name> ... --csrf ...`.

Note that the invocation is not `--csrf true`. Let me know if that solves the issue.

[2018-05-10 18:44] lwander opened #2767 "Igor threshold blocking GCR triggers for repos w/ > 1000 images"
igor threshold blocking triggers for GCRs with more than 1000 tags. assuming related to:

- https://github.com/spinnaker/igor/commit/5ae4fff
- https://github.com/spinnaker/igor/blob/master/igor-web/src/main/groovy/com/netflix/spinnaker/igor/IgorConfigurationProperties.groovy#L47

guessing that all tags showing up as new tags at first after the upgrade is not desired - eg threshold working as expec

[2018-05-10 18:55] davidxia commented on #2765
No rush because I’ve found a workaround. And this is probably also an edge case.

[2018-05-10 19:00] lwander commented on #2765
What's the workaround? (in case anyone else runs into this)

[2018-05-10 19:29] davidxia commented on #2765
I use nginx as a proxy in front to handle TLS.

[2018-05-11 00:31] nfirvine commented on #2736
@jtk54 nailed it. I disabled autoheal and there are tests when it doesn't come up cleanly. So probably safe to say that autoheal was just making it worse ;)

Thanks for your help, sorry for the false alarm

[2018-05-11 00:31] #2736 closed

[2018-05-11 13:51] #2747 closed

[2018-05-11 14:01] lwander commented on #2747
Will be released in 1.7.4 next week

[2018-05-11 14:10] emptywee commented on #2747
Thanks! Much appreciated!

[2018-05-11 15:34] lwander opened #2768 "Kubernetes v2 is not respecting the "versioned" annotations in some cases"

[2018-05-11 15:55] danielpeach opened #2769 "Undo rollout UX"
If I want to roll back to the previous rollout, it's not at all obvious which one I'm looking for.
- Rollouts should be sorted by revision (descending)
- Does it make sense to include the current rollout in the dropdown? Wouldn't that be a no-op? There should at least be some indication of what I'm looking at (maybe `current`, and `previous` labels?)
- Seems like the Spinnaker sequences `V010`, `V

[2018-05-11 16:09] ajordens commented on #2769
Not sure what k8s is doing these days for rollbacks but on the AWS/Titus-side, we surface the sequence numbers + build number (where available) as well as grouping into enabled / disabled buckets.

![image](https://user-images.githubusercontent.com/388652/39934463-bfc81786-54fa-11e8-806a-e9a947c1b1c0.png)

At some point we may also look at surfacing images that were not currently deployed (but wer

[2018-05-11 17:42] lwander commented on #2767
For now, this can be manually fixed by "fast forwarding" the new accounts. This means all events from a docker account are accepted w/o sending any notifications to echo for pipeline triggers.

This is done by sending

[code]

as shown [here](https://github.com/spinnaker/igor/blob/f6b532af4a5ae6c6ec30eb036f38625720f3c143/igor-web/src/main/groovy/com/netflix/spinnaker/igor/admin/AdminController.jav

[2018-05-11 17:43] lwander commented on #2767
Without the `partition` parameter, all accounts will be fast-forwarded

[2018-05-11 17:59] lwander commented on #2494
@nfirvine that does seem different, can you post this & repro steps in another issue?

[2018-05-11 18:08] lwander commented on #2768
I can't seem to reproduce this

![image](https://user-images.githubusercontent.com/4874941/39939569-b23e970a-5524-11e8-87dd-8d68d25e53dc.png)

![image](https://user-images.githubusercontent.com/4874941/39939566-ae2bec30-5524-11e8-82d1-3717245c8ef1.png)

[2018-05-11 18:17] lwander commented on #2636
Moving

To a separate issue

[2018-05-11 18:17] #2636 closed

[2018-05-11 18:18] lwander opened #2770 "Bake manifest stage enhancements"
* [ ] Creating non base64 artifacts
* [ ] Polling of running bake tasks -- the bake is currently synchronous

[2018-05-11 18:18] lwander commented on #2636
https://github.com/spinnaker/spinnaker/issues/2770

[2018-05-11 18:38] lwander commented on #1873
Trouble is there is no generic protocol for either:

1. Listening for events on a git repository for changes to either certain files, or getting notified of what set of files was changed (GCSR doesn't even report this), or
2. Fetching specific files from a repository remotely.

Both options require cloning the entire repository onto disk to read single file's contents, which can quickly become pro

[2018-05-11 19:04] ssakhuja57 commented on #2768
![screen shot 2018-05-11 at 3 03 26 pm](https://user-images.githubusercontent.com/6405307/39942104-8d093bae-552c-11e8-9806-6d60bda75c8e.png)

![screen shot 2018-05-11 at 3 01 39 pm](https://user-images.githubusercontent.com/6405307/39942116-94636e9c-552c-11e8-82ac-a2649daa7c7a.png)

[2018-05-11 20:28] rwillard opened #2771 "Spinnaker UI doesn't fully load in Kubernetes setup"
### Issue Summary:
Can't use Spinnaker UI, loads indefinitely.

### Cloud Provider(s):
GCP, Kubernetes

### Environment:
Running spinnaker on GKE

### Feature Area:
UI

### Description:
When using a proxy, or port-forwarding in kubernetes to connect to `spin-deck` I get the UI page, but none of the projects or applications load. I previously used the helm spinnaker chart and it worked there. I'm g

[2018-05-11 21:14] nfirvine opened #2772 "kube v2 provider fails to deploy kube Service with message`timeout`"
### Issue Summary:

Attempting to deploy a k8s Service always results in a failed stage at 25 seconds, with the message `timeout`

### Cloud Provider(s):

GCE + GKE

### Environment:

Spinnaker 1.7.3 on GKE deploying to a different GKE

### Description:

### Steps to Reproduce:

Attempt to deploy a Service manifest:
[code]

Stages fails at 25 seconds.

The resource is in fact deployed.

I've witne

[2018-05-11 21:25] maiconbaumx opened #2773 "[FIAT] - LDAP Authorization Error (RetrofitError)"
### Issue Summary:

Hi guys!
I'm trying to configurate LDAP as a role provider of my Spinnaker deployment, although the docs isn't clear, I read about and I've tried to change my configuration many times before create this issue, but at this point I don't know what is wrong.

### Cloud Provider(s):
AWS

### Environment:

I'm running Spinnaker with Debian Packages, in a EC2 with Ubuntu 16.04 for te

[2018-05-12 02:31] ezimanyi commented on #2771
@rwillard : You'll need to also forward port 8084 to the gate service in your GKE pod.  Your browser will directly send API calls to Gate, so that service needs to be accessible from the machine running your browser.  If you deploy with Halyard and run `hal deploy connect`, this should happen automatically, but if you're manually proxying then you'll need to set up proxies to both Deck and Gate.

[2018-05-12 06:16] cristim commented on #1873
@lwander cloning is indeed expensive but I would rather pay the extra price instead of not having any support.

[2018-05-12 22:11] ethanfrogers commented on #2607
ah, i figured it out. it does support multiple accounts but it requires adding `artifactAccount` to the artifact JSON and accounts aren't exposed via the UI at this point. Per @lwander comment here: https://github.com/spinnaker/clouddriver/blob/master/clouddriver-artifacts/src/main/java/com/netflix/spinnaker/clouddriver/artifacts/ArtifactDownloader.java#L49

[2018-05-13 05:00] rwillard commented on #2771
Thank you for your help. I have setup port-forwarding to both pods, and the networking is working! but now I'm getting other errors.

`
:8011/#/applications:1 Failed to load http://localhost:8084/applications: Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credent

[2018-05-13 14:04] YacheLee commented on #2308
I face the same problem with yours. This is because that the yaml configuration that generated by Spinnaker UI is wrong.
To solve this problem:
1. Click your application
2. Click Piples
3. Click Configure
4. Click Pipeline Actions, then click Edit as JSON
5. Find the keyword, maxSurge. This value should be string, like "100%"
6. Find the keyword, maxUnavailable. This value should be string like "0

[2018-05-14 02:48] ezimanyi commented on #2771
I think what's happening here is that you're trying to access the Spinnaker UI using a different URL than what's configured.  It's configured to use `localhost:9000` by default but it looks like from your port-forwarding you've forwarded this to `localhost:8011`.  This means that the cross-origin resource sharing check is failing, as the request is coming from `localhost:8011`.  You'll need to con

[2018-05-14 08:06] bharathrajbk commented on #2133
Facing same issue here. Any ideas how to fix this please?

[2018-05-14 08:06] bharathrajbk commented on #2133
+1

[2018-05-14 08:47] amitmindstix commented on #2602
Thanks @jtk54 for this information! I wasted a lot of time due to misleading documentation.
It should be updated here - https://www.spinnaker.io/setup/ci/jenkins/
Moreover, it is not so intuitive even with this working. How would someone disable it once set - I tried edit command without --csrf, expecting the flag would be set to false or removed - and it was still set to true. The only option the

[2018-05-14 08:57] KeisukeYamashita opened #2774 "hal deploy apply stucks at Manually deploying spin-clouddriver-bootstrap"
### Issue Summary:
My `hal deploy apply` fails at `Manually deploying spin-clouddriver-bootstrap`.
How can I solve this?

### Cloud Provider(s):
- `GCR`
- `kubernetes`

### Environment:
**halyard, spinnaker**
- `hal -v` : `1.2.0-20180509113540`
- `hal config version` : `1.7.3`
- Launched by Google Cloud launcher
- GCE n1-highmem-2 (vCPU x 2、Memory 13 GB)

### Feature Area:

### Description:
When I

[2018-05-14 12:05] lwander commented on #2768
1.7.3 doesn't have this feature.

In a fresh namespace can you rerun using the nightly builds?

[2018-05-14 14:21] ArievdB commented on #2573
Same problem here, might there be any workaround available for this?

_Environment:_
Ubuntu 16.04
Halyard 1.2.0-20180509113540
Spinnaker 1.7.3

localdebian environment

Thanks,

[2018-05-14 15:19] colltie commented on #2640
@lwander
Is there any documentation that can walk me through the steps needed to disable Halyard from checking  the list of published versions, the BOM and going to  external gcr  repo during  when i run hal deploy.

Please your guidance will be highly appreciated

[2018-05-14 15:46] rwillard commented on #2771
Thank you for your help, this now works for me. Opening up port `9000` instead of `8011`.

[2018-05-14 15:46] #2771 closed

[2018-05-14 16:48] maiconbaumx commented on #2773
Guys, please close this issue. This is not an issue itself, just a lack of documentation plus wrong assumption. I will explain

** Lack of documentation: ** The documentation of LDAP as a role provider in Fiat is poor (in fact, I can help with that now that I have tried xD) and was not clear to me why the log prints "userDn is not set" as INFO, even filling the managerDn field.

** Wrong assumptio

[2018-05-14 16:48] #2773 closed

[2018-05-14 17:11] jtk54 commented on #2602
This is a good point. https://github.com/spinnaker/halyard/pull/943 makes it so the flag takes an argument.

[2018-05-14 17:30] jtk54 opened #2776 "Spinnaker CLI: Application Operations"
Add support for Spinnaker application operations.

[2018-05-14 17:31] jtk54 opened #2777 "Spinnaker CLI: Pipeline Operations"
Add support for Spinnaker pipeline operations.

[2018-05-14 18:28] stewchen commented on #2738
Hi, I also tried out the Okta SAML integration, and was able to reproduce your error. Turns out, the entity ID / Audience Restriction that was suggested in the docs, `spinnaker.io:test` does not work due to the `:` character. Setting this to a simple string worked for me, let me know if this fixes it for you.

[2018-05-14 18:48] joonlim opened #2778 "Add an endpoint to search for executions by providing correlating information"
There should be an endpoint that can be used to search for executions.

This endpoint should:
* allow a user to search for executions using a trigger config payload.
* allow a user to search for executions using some ID relating to a trigger instance (e.g., a webhook trigger gives some ID that can be used with this endpoint to query the executions triggered by said webhook).
* limit results size u

[2018-05-14 18:49] joonlim commented on #2667
This issue will be completed in a more generalized feature: https://github.com/spinnaker/spinnaker/issues/2778

[2018-05-14 19:32] davidxia commented on #2667
@joonlim Thanks, in that case you can close this one if you'd like.

[2018-05-14 20:37] #2513 closed

[2018-05-14 20:52] christianwiese commented on #2767
Actually, after upgrading to Spinnaker 1.7.*, our pipeline triggers stopped working, as well (1.6.1 works fine). Our images are pushed to a GCR repo with far more than 1000 tags. I can still see all the tags when manually starting a pipeline, but the triggers do not work. Is there any way I can find out if this is related to this issue (I actually thought that we do not use any igor/echo functiona

[2018-05-14 21:45] nfirvine commented on #2736
Here's a 100x facepalm for you.

There's this checkbox in the Deploy stage:

`Traffic [ ] Send client requests to new instances`

We had it unchecked. Not sure why, or what use case that flag has, but it sure tripped me up for many hours.

[2018-05-15 04:27] emptywee commented on #2747
Just wanted to share with anyone suffering from the same slowness of the force cache update task. What helped me was installing one of the latest nightly build of Clouddriver (tagged as v2.41.3) and define cacheThreads for each account in the clouddriver-local.yml. Values like 10 or 20 worked just fine for me and the time it takes now to refresh cache typically near 5-10s and under some rare circu

[2018-05-15 04:28] emptywee commented on #2747
Hoping that this PR is going to be included into the next release as soon as possible: https://github.com/spinnaker/clouddriver/pull/2535

[2018-05-15 09:03] aniketkmindstix commented on #2738
Hi @stewchen,
Thanks for the response. I have changed __Audience Restriction__ to __myspinnakerID__ in Okta Spinnaker Application and changed __issuerId__ from `gate-local.yml` file to same __myspinnakerID__. But still not working. I have some queries regarding this issuerID. In the application configurations, there is an option named __SAML Issuer ID__ and it is set to __http://www.okta.com/${org

[2018-05-15 09:06] aniketksh commented on #2738
Hi @stewchen,
Thanks for the response. I have changed __Audience Restriction__ to __myspinnakerID__ in Okta Spinnaker Application and changed __issuerId__ from `gate-local.yml` file to same __myspinnakerID__. But still not working.
I have some queries regarding this __issuerId__. In the Okta application configurations, there is an option named __SAML Issuer ID__ and it is set to __http://www.okta.

[2018-05-15 10:52] loheswaran opened #2779 "Create canary config - 400 Bad Request"
**Cloud provider :** ACS Kubernetes
**Metric provider :** Prometheus
**Request URL :** http://{gate URL}:8084/v2/canaryConfig
**Request payload :**
<img width="791" alt="screen shot 2018-05-15 at 4 08 38 pm" src="https://user-images.githubusercontent.com/8875426/40052340-4c4a0422-585b-11e8-97e4-a48aeb508cc5.png">

**Response :**
`{"error":"Bad Request","failureCause":"retrofit.RetrofitError: 400 "

[2018-05-15 11:06] lwander commented on #2767
Have you tried the fastforward endpoint mentioned above @christianwiese?

[2018-05-15 11:16] christianwiese commented on #2767
@lwander  Not yet, since I didn't know if this is actually the cause of our issue. But I will give it a try and report back as soon as I have some insights.

[2018-05-15 12:21] sweetib opened #2780 "GCE: False Traffic guard errors while downscaling server groups"
### Issue Summary:
We are getting intermittent error in our pipeline execution, while performing deployments. After deploying server group when we try and disable/down scale the previous sever group it gives error.

### Cloud Provider(s):
GCP
We have spinnaker setup on GCE

### Environment:
Ubuntu 16.04 xenial

### Feature Area:
Orca, Clouddriver

### Description:
**Error Details**
[code]

### Ste

[2018-05-15 12:59] christianwiese commented on #2767
@lwander One more question before I can test this: our Spinnaker is running on a Google VM and $IGOR is not set. I don't know so much about the internal structure of Spinnaker but do I have to replace $IGOR with localhost:8088, or how do I actually send REST request to the services?

[2018-05-15 13:20] lwander commented on #2747
That PR will be released in 1.8 -- it's kind of invasive & not exactly a "fix" so it's gated on being in the next feature release.

[2018-05-15 14:07] #2667 closed

[2018-05-15 14:19] posox opened #2781 "Cannot use big Base64 artifacts in "Bake (Manifest)" stage"
I'm trying to use base64 embedded artifacts for baking Helm charts. It's failed due error:
 [rosco.log](https://gist.github.com/posox/7b10811fd9da881d65a9602e1d8d958d)

[2018-05-15 14:42] emptywee commented on #2747
I took the risk to install it in our env and be a beta tester for some time :)

[2018-05-15 15:12] paullaleu opened #2782 "hal deploy apply fails at spin-rosco on gke"
### Issue Summary:
when I try to deploy with halyard on gke, my deploy fails with a timeout, and stay stuck at "Determining status of spin-rosco: Waiting on deployments to complete"

### Cloud Provider(s): Google cloud

### Environment:
Halyard v 1.2 is on GCE and spinnaker in canary-preview is deployed on GKE 1.9.3

### Feature Area:
Spinnaker Deployment on GKE

### Description:
hal deploy apply

[2018-05-15 15:15] posox commented on #2781
Just a "chart" name

[pipeline.json](https://gist.github.com/posox/938adbdbb95a3fa5b08bc89790c109ab)

[2018-05-15 15:47] rossedman commented on #2767
@christianwiese We had the same problem. I did a port-forward to igor and ran the above curl request and it fixed the problem.

[2018-05-15 16:34] rossedman opened #2783 "Manual Judgment UI Error"
### Issue Summary:
When creating manual judgement steps through roer template, UI error happens on rollover that prevents manual judgment from being accessed.

### Cloud Provider(s):
Distributed deployment on Kubernetes in GKE, version 1.7.4

### Environment:
Kubernetes on GKE pointing to multiple clusters. Distributed deployment. Currently running 3 cloud drivers and 2 orcas.

### Feature Area:
D

[2018-05-15 16:38] rossedman commented on #2783
I tracked this down, this only happens when you are trying to render a parameter in the manual judgement stage. Can close or change initial issue.

[2018-05-15 17:53] ttomsu opened #2784 "Add ability to export Echo event stream to PubSub"
### Issue Summary:
Echo is the event bus - support is already there for _incoming_ messages. It'd be nice to have the ability to for _outgoing_ messages to work as well.

### Cloud Provider(s):

### Environment:

### Feature Area:

### Description:

### Steps to Reproduce:

### Additional Details:

[2018-05-15 19:15] posox commented on #2763
I want to add namespace support for Helm. Please assign this issue to me.

[2018-05-15 19:39] jtk54 commented on #2602
The referenced `csrf` change will be picked up in the next Halyard release (next week or so). In the mean time, I cut a manual github release (https://github.com/spinnaker/halyard/releases/tag/v0.34.0) if you want to test this out. Closing for now, feel free to reopen if there are issues.

[2018-05-15 19:39] #2602 closed

[2018-05-15 19:52] rossedman opened #2785 "Pipeline Visualization Not Showing"
### Issue Summary:
When adding a template through roer, the pipeline graphics do not render on the configuration page. It renders when running it, but not when editing.

### Cloud Provider(s):
Distributed spinnaker on Kubernetes in GKE, version 1.7.4

### Environment:
Distributed spinnaker on Kubernetes in GKE, version 1.7.4

### Feature Area:
UI/GUI/Deck

### Description:
When adding a template t

[2018-05-15 20:04] dibyom opened #2786 "Patch(Manifest) stage for KubernetesV2 provider"
### Issue Summary:
Add a new stage stage that supports patching resources in kubernetes

### Cloud Provider(s):
Kubernetes

### Feature Area:
Piplines, Kubernetes

### Description:
Kubernetes allows an in place up date of resources using the patch operation. Spinnaker currently does not provide a way to patch resources. Users have to create a new version of the full manifest and trigger a spinnake

[2018-05-15 20:05] dotdotdotpaul commented on #2697
WOOT!  Thanks!

[2018-05-15 22:29] ethanfrogers commented on #2763
@posox that would be great, thanks!

[2018-05-15 22:32] willgorman opened #2787 "Allow sensitive values to be used in preconfigured webhooks without showing up in the execution context"
### Issue Summary:

Preconfigured webhooks may contain sensitive values (like credentials to authenticate with the webhook endpoint) with an expectation of privacy since those values are not displayed in Deck when adding the stage to a pipeline.  However, as mentioned [here](https://github.com/spinnaker/orca/pull/1329#issue-119663993) those values still are available in the execution context.

###

[2018-05-15 23:08] anotherchrisberry commented on #2704
Not sure when it will make it into a release, but this is fixed via https://github.com/spinnaker/orca/pull/2237.

[2018-05-16 12:34] #2781 closed

[2018-05-16 12:50] ewiseblatt commented on #2761
Fixed in https://github.com/spinnaker/clouddriver/pull/2628 and https://github.com/spinnaker/clouddriver/pull/2633

[2018-05-16 12:50] #2761 closed

[2018-05-16 12:52] ewiseblatt commented on #782
obsolete

[2018-05-16 12:52] #782 closed

[2018-05-16 12:53] ewiseblatt commented on #948
obsolete

[2018-05-16 12:53] #948 closed

[2018-05-16 12:54] ewiseblatt commented on #873
obsolete

[2018-05-16 12:54] #873 closed

[2018-05-16 13:16] lwander commented on #2787
I think this deserves a broader discussion around handling secrets between spinnaker & a trigger source, as well integrating this with Spinnaker's authz to avoid having the wrong users read/edit a shared secret.

I know @ezimanyi has some thoughts about this, especially with the new, more generic CI integrations he's working on.

[2018-05-16 13:18] lwander commented on #2782
What's the output of `kubectl get po -n spinnaker`?

[2018-05-16 14:34] paullaleu commented on #2782
Here is the output :

NAME                                    READY     STATUS    RESTARTS   AGE
spin-clouddriver-bootstrap-v000-wgczt   1/1       Running   0          23h
spin-clouddriver-v003-gtk98             1/1       Running   0          9d
spin-deck-v004-mv7sr                    1/1       Running   0          9d
spin-echo-v004-tbd5f                    1/1       Running   0          9d
spin-f

[2018-05-16 14:38] lwander commented on #1441
This was implemented by `configureImagePullSecrets`

[2018-05-16 14:38] #1441 closed

[2018-05-16 14:44] christianwiese commented on #2767
@lwander @rossedman Fast forwarding the endpoint did help. Thanks a lot.

[2018-05-16 14:59] lwander commented on #2782
Thanks -- it looks like everything is up & running, are you able to connect to it with `hal deploy connect`?

BTW @duftler do you know why only kayenta has a sidecar?

[2018-05-16 15:08] lwander commented on #755
Closing this until we can better determine scope/implementation path

[2018-05-16 15:08] #755 closed

[2018-05-16 15:10] amanya opened #2788 "New feature: Allow creating template pipelines from build artifacts"
### Issue Summary:

Our main workflow with declarative pipelines involves using artifacts generated during Travis builds. On the build we upload the template which is then recognized by Spinnaker as an artifact os type `pipeline-pac` when the pipeline is triggered.

To create the pipeline, we create an empty pipeline, edit it as json and put the following code in the `template` section:

[code]

A

[2018-05-16 15:25] lwander commented on #751
Closing since workarounds have been documented https://github.com/spinnaker/spinnaker/issues/751#issuecomment-305584887

[2018-05-16 15:25] #751 closed

[2018-05-16 15:25] lwander commented on #759
Implemented in Spinnaker 1.6

[2018-05-16 15:25] #759 closed

[2018-05-16 15:26] lwander commented on #756
Closing since this is largely obsolete with all the UI changes that have happened in the last 2-3 years

[2018-05-16 15:26] #756 closed

[2018-05-16 15:29] lwander commented on #893
Largely addressed by the v3 execution engine

[2018-05-16 15:29] #893 closed

[2018-05-16 15:32] #1067 closed

[2018-05-16 15:33] lwander commented on #1214
Implemented in above PR

[2018-05-16 15:33] #1214 closed

[2018-05-16 15:40] paullaleu commented on #2782
@lwander Yes I am able to connect, my current deployment of spinnaker works, the only difference in config since my last working deployment is enabling canary.
(hal config canary google enable AND hal config canary enable)
and updating kubernetes to 1.9.3

[2018-05-16 16:08] skim1420 commented on #2452
Please let us know if you see this issue in a supported release, 1.5/6/7, thanks.

[2018-05-16 16:08] #2452 closed

[2018-05-16 16:29] lwander commented on #2303
Why is this closed?

[2018-05-16 16:35] lwander commented on #2782
If you are able, can you try running `hal config canary disable` and `hal deploy apply` to rule out that it's the canary config?

[2018-05-16 16:55] avram commented on #2024
Closing as there is no immediate action needed.

[2018-05-16 16:55] #2024 closed

[2018-05-16 17:05] lwander commented on #1348
I think this is safe to close...

[2018-05-16 17:05] #1348 closed

[2018-05-16 17:06] lwander commented on #1179
Closing because "wont-fix"

[2018-05-16 17:06] #1179 closed

[2018-05-16 17:06] lwander commented on #1095
Closing because "wont-fix"

[2018-05-16 17:06] #1095 closed

[2018-05-16 17:07] lwander commented on #1187
Closing because "wont-fix"

[2018-05-16 17:07] #1187 closed

[2018-05-16 17:08] lwander commented on #1546
Looks like this was fixed in the referenced PR

[2018-05-16 17:08] #1546 closed

[2018-05-16 17:09] lwander commented on #1460
Unfortunately this is largely unfixable for the v1 provider as explained above. Luckily the v2 provider has no problems handling these operations on deployments.

[2018-05-16 17:09] #1460 closed

[2018-05-16 18:33] caipre opened #2789 "Structured error messages from pipeline executions"
### Issue Summary

Presently, when a pipeline execution completes with failures (`TERMINAL` or `CANCELED`), the error messages associated with the failure may appear in one of several different locations within the response payload given by querying the `pipeline/{id}` endpoint, depending on the cause of the failure. This makes the API difficult to consume, since clients must check the response fo

[2018-05-16 19:50] #2241 closed

[2018-05-16 20:44] ezimanyi commented on #2787
My thinking had been more related to improving the security of inbound webhooks.  Right now, the only authentication mechanism we support is adding a pre-shared expected key in the payload; I was considering augmenting that, possibly by adding a specific authentication-related field and only storing a hash of the expected value in Spinnaker.

On the outbound side, we of course can't get away with

[2018-05-16 21:41] ezimanyi commented on #1257
Addressed by https://github.com/spinnaker/orca/pull/1053.

[2018-05-16 21:41] #1257 closed

[2018-05-16 22:27] ezimanyi commented on #2112
@sbwsg : This might be a duplicate of your work on surfacing artifact details

[2018-05-16 23:09] GoverningCloud opened #2790 "I see internal server error after I authenticate it redirects, with this exception "com.netflix.spinnaker.gate.services.commands.ServerErrorException""
### Issue Summary:

I did a fresh installation from spinnaker documentation.
After making changes to AWS and S3 config edit.  I see with Warning: spinnaker.service changed on disk. Run 'systemctl daemon-reload' to reload units. Ran systemctl daemon-reload and restarted all the following services

sudo systemctl restart apache2
sudo systemctl restart gate
sudo systemctl restart orca
sudo systemctl

[2018-05-16 23:35] mattnworb opened #2791 "Kubernetes v2 provider: why are HorizontalPodAutoscalers versioned?"
The Kubernetes V2 provider "versions" HorizontalPodAutoscaler instances, meaning that after deploying updates to an HPA, there will be more than one version that is "alive" in the cluster, all targeting the same Deployment (or other) resource.

Was this a conscious decision? I couldn't tell from the history of https://github.com/spinnaker/clouddriver/blob/master/clouddriver-kubernetes/src/main/gro

[2018-05-16 23:35] masonwr opened #2792 "Failing to deploy k8s CronJobs"
### Issue Summary:

Attempting to deploy a k8s CronJob results in the following exception:

[code]

### Cloud Provider(s):
Google Kubernetes Engine

### Environment:
Spinnaker 1.6.0 on GKE deploying to a different GKE

### Feature Area:
provider/kubernetes-v2

### Steps to Reproduce:

Try to deploy:

[code]

### Additional Details:

[Perhaps is related.](https://github.com/spinnaker/clouddriver/pu

[2018-05-16 23:37] ethanfrogers commented on #2792
@masonwr interestingly enough i was looking for this support this morning. that issue you mentioned is related. `CronJob` is not a supported resource kind.

[2018-05-17 01:15] richtera commented on #2680
Same issue. Works many times and many other doesn't. Once it doesn't work then it's hard to get it back to working unless you try to deploy many times and sometimes it clean itself up.

[2018-05-17 01:29] richtera commented on #2680
Here is the cluster after a failed v010 deployment, then two followup deployments to try and fix it.
Note the ReplicaSets for many of the services is at 0/0 even though it says "Success" for the deployment from the hal deploy apply command.
![image](https://user-images.githubusercontent.com/708186/40151842-2ac61ed0-5950-11e8-84bc-72bedbc590fa.png)

![image](https://user-images.githubusercontent.co

[2018-05-17 01:30] GoverningCloud commented on #2790
IAM setup was wrong, So got this error. This issue is closed.

[2018-05-17 01:30] #2790 closed

[2018-05-17 01:31] richtera commented on #2680
Manually editing the replica count to 1 makes the site work
![image](https://user-images.githubusercontent.com/708186/40151896-82122558-5950-11e8-82f9-579883a61059.png)

[2018-05-17 07:27] wheleph commented on #2678
The issue is still present after upgrade to 1.6.1

[2018-05-17 08:07] paullaleu commented on #2782
@lwander  I just tried it, and it's the same outcome,
My deployment get stuck at "Determining status of spin-rosco: Waiting on deployments to complete"
On kubernetes side, nothing really happens after the deployment of boostrap pods

[2018-05-17 09:00] sweetib commented on #2016
do we have any solution for this issue yet?

[2018-05-17 12:06] lwander commented on #2782
Thanks! good to know -- one last thing -- when you redeploy can you capture the output of

`hal deploy apply -q --log info` and paste it into a [gist](https://gist.github.com)?

This'll make it easy to see what step it's stuck on.

[2018-05-17 12:07] lwander commented on #2112
I think was actually the intended tracking bug :) There is still work to be done on apply those stage details to other artifact-enabled stages before we can close this, however.

[2018-05-17 12:10] mlevitzzky opened #2794 "Failing to upgrade spinnaker"
### Issue Summary:
Failing to update spinnaker 1.6.1 to 1.7.4

### Cloud Provider(s):
AKS

### Environment:
Spinnaker 1.6.1 on AKS

### Description:
Trying to update spinnaker 1.6 to 1.7 and it's failing with
[code]

VirtualBox:~$ hal config version edit --version 1.7.4
+ Get current deployment
  Success
+ Edit Spinnaker version
  Success
+ Spinnaker has been configured to update/install version "

[2018-05-17 12:13] lwander commented on #2791
They should not be! Thank you for the fix :)

[2018-05-17 12:13] #2791 closed

[2018-05-17 12:16] lwander commented on #2782
Oh, and going back to this:

Unrelated to the bug, can you run

`kubectl describe rs spin-kayenta-v000` and share the output? We're confused why it seems to be running a sidecar.

[2018-05-17 12:26] #2573 closed

[2018-05-17 12:41] skim1420 commented on #2731
@mdirkse that seems like a different issue. I'm not seeing 1.4.2, just a lack of 1.7.2 (or now, 1.7.4).

Can you please open a separate GH issue for your particular issue? Thanks.

[2018-05-17 12:53] mdirkse opened #2795 "What's New modal stuck at version 1.4.2"
Issue Summary:
What's New modal stuck at version 1.4.2

Cloud Provider(s):
N/A

Environment:
1.7.4

Feature Area:
Deck/What's New

Description:
What's New modal which includes release notes is stuck at version 1.4.2 even though we're running 1.7.4 (confirmed by running `hal version bom`)

[2018-05-17 12:53] mdirkse commented on #2731
Sure, done: #2795

[2018-05-17 13:02] mdirkse commented on #2795
[code]

[2018-05-17 13:07] skim1420 commented on #2795
Just as a sanity check (I actually had this problem too, and this was the cause after 30 minutes wasted), can you please open an incognito window or force refresh the browser cache and verify you're still seeing the same issue?

How recently did you do the 1.7.4 upgrade, and was it directly from 1.4.2? Thanks.

[2018-05-17 13:17] mdirkse commented on #2795
Same issue in incognito mode. And we actually upgraded from 1.6.1.

[2018-05-17 13:52] lwander commented on #1776
Duplicate of: https://github.com/spinnaker/spinnaker/issues/2405

[2018-05-17 13:52] #1776 closed

[2018-05-17 13:54] lwander commented on #1624
Made obsolete by v2

[2018-05-17 13:54] #1624 closed

[2018-05-17 13:55] lwander commented on #1703
The rundev script are made obsolete by https://www.spinnaker.io/community/contributing/#how-to-run-spinnaker-locally-for-development

[2018-05-17 13:55] #1703 closed

[2018-05-17 14:00] #1820 closed, assigned to nobody

[2018-05-17 14:01] lwander commented on #1904
Obsolete by release of kayenta

[2018-05-17 14:01] #1904 closed

[2018-05-17 14:01] lwander commented on #1868
Made obsolete by release of Halyard

[2018-05-17 14:01] #1868 closed

[2018-05-17 14:07] rossedman opened #2796 "Kubernetes V2 Fail For Global Resources (ClusterRole, ClusterRoleBinding)"
### Issue Summary:
Timeouts occur on V2 deployments when trying to create global resources like ClusterRole or ClusterRoleBinding. The resources are created in Kubernetes but not read by Spinnaker.

### Cloud Provider(s):
GKE, Azure

### Environment:
Distributed Spinnaker deployment on GKE

### Feature Area:
Pipelines, Kubernetes V2

### Description:
Timeouts occur on V2 deployments when trying to

[2018-05-17 14:31] briananderson1222 commented on #2762
I just experienced this today on a instance running LocalDebian and using PubSub for the GCR trigger. Everything had been working for a day or two, this morning though the triggers are not firing and I am seeing this in my clouddriver logs:

[code]

[2018-05-17 14:49] skim1420 commented on #2795
Let's take a look at your browser Developer Tools, in the Network tab. Reload Spinnaker and look for a network request for the gist. For `1.7.4`, it should be `e2ba64e21c1a05e890df8a25cc2bf036`. Can you tell me what you see?

Let's move the troubleshooting over there; please DM me (@stevenkim) on slack.

[2018-05-17 14:51] rossedman commented on #2796
On `master-latest-unvalidated` deploy today, the object type `Role` does not work anymore either. This object does work in `1.7.4` though.

[2018-05-17 15:14] rossedman commented on #2796
@lwander Just confirmed this works in `1.7.3` so there is possibly a regression somewhere.

[2018-05-17 16:07] paullaleu commented on #2782
Here is the gist of hal deploy apply log info :  https://gist.github.com/paullaleu/de732f5ea292f931b39002e5657a8ffb

[2018-05-17 16:29] lwander commented on #2796
That seems like a reasonable workaround for now -- investigating this now

[2018-05-17 16:35] lwander commented on #1879
Is this still an issue?

[2018-05-17 16:36] lwander commented on #1933
This is implemented as of 1.7

[2018-05-17 16:36] #1933 closed

[2018-05-17 16:39] lwander commented on #2083
Looks like this was fixed in the above PR.

[2018-05-17 16:39] #2083 closed

[2018-05-17 16:44] lwander commented on #1317
I think this is largely obsolete with the [dynomite](https://medium.com/netflix-techblog/introducing-dynomite-making-non-distributed-databases-distributed-c7bce3d89404) integration

[2018-05-17 16:44] #1317 closed

[2018-05-17 16:45] lwander commented on #1164
Looks like this was implemented in the above PRs

[2018-05-17 16:45] #1164 closed

[2018-05-17 16:53] #1924 closed

[2018-05-17 16:55] #2008 closed

[2018-05-17 17:02] lwander opened #2797 "Kubernetes manifest ad-hoc deploy text entry is cutoff"
![image](https://user-images.githubusercontent.com/4874941/40192488-87a5661a-59d2-11e8-9c26-1999640ae56c.png)

[2018-05-17 17:04] robzienert commented on #1317
I think it'd still be useful to support, since Dynomite has a higher operational burden than Redis Cluster would. That said, Netflix likely won't be doing this work - but we'd be happy to talk with anyone that was interested in doing the legwork.

[2018-05-17 17:11] lwander commented on #2796
Found the issue, orca is forming an illegal URL with a missing path parameter (since namespace is empty) that clouddriver rejects.

[2018-05-17 17:37] #2796 closed

[2018-05-17 17:38] ramimmadi opened #2798 "Pod Autoscaling is not working for the deployments and Replicaset deployed using spinnaker"
I am deploying my applications using Deployment feature in spinnaker . I found that autoscaling is not working then I thought It might be because of Deployments so I changed it to Replicaset. But still I am facing the same issue.
kubectl get hpa  .... is showing the hpa .. threshold , min max etc but autoscaling is not happening. I am using spinnaker version 1.6.
Can you pls  help?

[2018-05-17 18:42] JazminGonzalez-Rivero commented on #2663
![image](https://user-images.githubusercontent.com/1447492/40197144-6e72053c-59c7-11e8-884b-f3c6ab3a6450.png)
this is the error returned FYI

[2018-05-17 21:38] ezimanyi commented on #2762
@jraj002 @briananderson1222:
Do you mind sharing some more details about your environment and the pipeline(s) that are experiencing this issue?

I'm taking a closer look at the stack trace above to see what's causing it (looks like it may be an error with refreshing tokens, but I'm not completely sure yet), but I also want to make sure I understand the broader workflow.

Some questions:
-Which ver

[2018-05-17 22:28] briananderson1222 commented on #2762
I'll try to provide my details. Maybe I should've opened a different issue given that it doesn't look like the error he got was exactly the same.

- We are using the v2 K8s provider
- We are using a PubSub Trigger on the `gcr` topic/message format
- We do have the GCR registry configured (but moved away from this as we were told the recommended approach would be PubSub going forward) -- thought th

[2018-05-17 22:36] briananderson1222 commented on #2762
`cat /var/log/spinnaker/echo/echo.log | grep "05-17 14:08"  -B 50 -A 50`

abbreviated version below... essentially this message is repeated over and over.. don't see anything out of the ordinary

[code]

[2018-05-18 01:30] #2341 closed

[2018-05-18 11:15] mlevitzzky commented on #2794
@skim1420 Hi, I can't find any additional info to get more insight

[code]

[2018-05-18 11:31] lwander commented on #2798
Which version of the kubernetes provider are you using? V1 or V2? Easy way to check is V1 has the UI for building deployments/replicasets, V2 requires you to provide a YAML manifest.

[2018-05-18 11:32] lwander commented on #2788
@robzienert @jtk54 what do you guys think of this?

[2018-05-18 11:39] ramimmadi commented on #2798
I am doing through UI. As per your statement. I am using V1. But in stages
I am seeing Deploy(Manifest) after I upgraded spinnaker from 1.5 to 1.6

On Fri, May 18, 2018 at 5:01 PM, Lars Wander <notifications@github.com>
wrote:

[2018-05-18 12:09] lwander commented on #2772
@nfirvine do those timestamps match up with the deploy operation? What we're seeing is a failed rollback in the logs. Also, the "svcprom" service has a different name than "svcrepo" in your example.

[2018-05-18 12:16] andreasevers commented on #2698
I'd also be very interested in this fix, for demo purposes.
For now I'm restricted to either failing the canary stage after a couple of minutes since waiting for an hour during a demo isn't an option.
Using a retrospective analysis is a possibility although that restricts me from using the audience as canary pool.

[2018-05-18 12:33] wheleph commented on #2678
The issue has gone after upgrade to Spinnaker 1.6.1

[2018-05-18 12:33] #2678 closed

[2018-05-18 12:50] adityacs commented on #2716
Any update on this?

Even I am facing the same issue.

[2018-05-18 13:13] danielpeach opened #2801 "Kubernetes V2: inaccurate instance health"
My pod is unavailable and has been failing readiness probes, but its `kubernetes/pod` health is `Up` and it's counted as `up` in the instance counts.

[2018-05-18 13:33] mdirkse commented on #2795
Alright, mystery solved. Turns out we overwrite the Deck settings (`settings.js`) in our Halyard install. We apparently created the custom settings from the 1.4.2 settings file, because it contains:

[code]

Which is the 1.4.2 gist. Updating that to the 1.7.4 gist solved the problem.

[2018-05-18 13:33] #2795 closed

[2018-05-18 13:46] lwander commented on #2801
@spinnakerbot add-label bug component/clouddriver

[2018-05-18 13:47] lwander commented on #2801
Can you post the output of `kubectl get po <po name> -o yaml` so I can set the `status:` section?

[2018-05-18 14:45] danielpeach commented on #2801
That pod is no longer with us, but here's a different example (this one's crash looping, the other wasn't):

[code]

[2018-05-18 16:29] skim1420 commented on #2795
FYI, there is an override mechanism for settings.js as well. See [settings-local.js](https://github.com/spinnaker/deck/blob/master/settings-local.js) for an example of how to override values in settings.js.

[2018-05-18 16:35] avram commented on #2439
This appears to be closed.

[2018-05-18 16:36] #1470 closed

[2018-05-18 16:39] jtk54 commented on #2439
Closing for now, go ahead and reopen if need be.

[2018-05-18 16:39] #2439 closed

[2018-05-18 17:28] ezimanyi commented on #2762
Summary of current findings:
* It looks like there are some cases where Echo will drop the connection to a particular PubSub subscriber after receiving an error back from the API and will not retry connecting until Echo is restarted.  I believe that's what's happening there.  The `echo` log entry to look for is `StreamingSubscriberConnection  : terminated streaming with exception` after which Echo

[2018-05-18 17:30] anotherchrisberry commented on #669
It's been 2.5 years, let's just acknowledge this isn't happening.

[2018-05-18 17:30] #669 closed

[2018-05-18 17:44] #2801 closed

[2018-05-18 17:47] lwander commented on #2798
@spinnakerbot add-label provider/kubernetes-v1

Spinnaker is creating the HPA and pointing it at the ReplicaSet? If so, there's not much else Spinnaker can do, this sounds like an issue on Kubernetes' end.

[2018-05-18 18:29] ramimmadi commented on #2798
Even I thought like that but the replacement sets that I created manually
are getting autoscaling.. hpas are getting created but I doubt if it is
attached to replicaset. Is there a way to check if hpa is linked to
replicaset? Can we need check any parameter in cloudriver or any other file.
It will be grateful if you can tell me how to enable/attach replicaset in
spinnaker through script changes.

[2018-05-18 18:35] lwander commented on #2798
Can you check with

[code]

[2018-05-18 19:11] lwander commented on #2794
@spinnakerbot add-label bug

[2018-05-18 19:13] lwander commented on #2794
Hey which version of Kubernetes are you running? Also, which version of `kubectl` is controlled?

`kubectl version` should show both.

[2018-05-18 19:16] ramimmadi commented on #2798
kubectl describe hpa devcluster1msa-geo-rb-v002
Name:
 devcluster1msa-geo-rb-v002
Namespace:                                             default
Labels:                                                <none>
Annotations:                                           <none>
CreationTimestamp:                                     Thu, 17 May 2018
12:43:20 -0400
Reference:
ReplicaSet/devcluster1msa-geo-rb-

[2018-05-18 19:32] ramimmadi commented on #2798
I found this. But I don't know what spinnaker uses.. API/V1 or beta?

Means that GKE does not recognize ReplicaSet within apiVersion: apps/v1 I
checked my cluster (I normally use deployments), pulled my replicaSet and
it shows up as:

apiVersion: extensions/v1beta1
kind: ReplicaSet

The apiVersion will depend on the Kubernetes version you are using with
your cluster. app/v1 is for 1.9.0 and up, an

[2018-05-18 21:07] nfirvine commented on #2772
Yes, you're right. Those entries are regarding a different pipeline.

Here's some better logs: ```
[spin-clouddriver-v019-k9gx4] 2018-05-18 21:06:47.430  INFO 1 --- [ool-4-thread-27] c.n.s.c.data.task.jedis.JedisTask        : [DEPLOY_KUBERNETES_MANIFEST] - Swapping out artifacts in service svcrepro from context...
[spin-clouddriver-v019-k9gx4] 2018-05-18 21:06:47.430  INFO 1 --- [ool-4-thread-27]

[2018-05-18 21:18] nfirvine commented on #2772
I'm seeing a ton of errors in the clouddriver logs like #2559. There's not enough context for me to figure out which kube resource has the problem, but I would suspect there are many of them. Not sure if this is a problem or not. #2259 says it's only a warning

[2018-05-18 21:20] nfirvine commented on #2569
Does this prevent the resource from being indexed?

[2018-05-18 21:31] nfirvine commented on #2772
FYI I'm able to delete the created LoadBalancer/Service from the Load Balancer UI. It looks like that task has a "Force Cache Refresh" step as well, and it finishes fine, about 7 seconds.

[2018-05-19 14:10] ethanfrogers commented on #2569
@nfirvine it believe it would. it causes an exception to be thrown during the caching/translation process which would prevent it from making its way to the cache.

[2018-05-19 16:48] andreasevers opened #2807 ""Wait For Not Up Instances" hangs for Kubernetes V1 provider"
### Issue Summary:
Using Kubernetes V1 provider with GKE, when a servergroup is attached to a load balancer, the disabling hangs.

### Cloud Provider(s):
GKE alpha cluster v1.10.2-gke.0

### Environment:
Spinnaker v1.7.4 deployed on GKE through Halyard GCE VM

### Feature Area:
Servergroup disabling with load balancer attached

### Description:
Logs show the servergroup is disabled correctly:
[cod

[2018-05-19 16:52] andreasevers commented on #2807
@spinnakerbot add-label provider/kubernetes-v1

[2018-05-20 11:04] e96wic commented on #2716
We patched it ourselved. In [this](https://github.com/spinnaker/front50/blob/master/front50-web/src/main/groovy/com/netflix/spinnaker/front50/controllers/PipelineController.groovy) file you can add `pipeline.updateTs = System.currentTimeMillis()` in line 104. It works but I don't know if this is a proper fix for this.

[2018-05-21 10:25] raghawendram opened #2808 "Unable to access the Deck API through public IP, However able to open it by using localhost"
### Issue Summary:
I'm unable to access the spinnaker URL (DeckAPI) through public ip Address. However it is able to access the same URL from local host.

### Cloud Provider(s):
Using the Openstack Cloud provider environment

### Environment:
Deploy the halyard installattion through Docker and deployment environment is local git installation.

### Feature Area:

### Description:

### Steps to Repr

[2018-05-21 11:37] owennewo commented on #2494
@lwander - I'm seeing a timeout in ManifestForceCacheRefreshTask too.  I notice you did a fix spinnaker/orca#2167 'properly implement force cache refresh'.  Do you think this will help this issue?
The fix didn't make it into orca 0.11.2 (spinnaker 1.7.4).  Is it likely to make it into the next version?

[2018-05-21 11:38] lwander commented on #2772
Those logs are helpful -- could you share the orca logs for that same time window? I'm curious why it's not accepting those first few cache refreshes.

Also -- for #2559 do you have any v1 accounts registered?

[2018-05-21 11:39] lwander commented on #2808
@spinnakerbot add-label auth component/deck question

Do you know which interface deck is bound to? If not, can you share:

[code]

[2018-05-21 12:10] lwander commented on #2494
@owennewo is your clouddriver node under heavy load? If so, this issue is resolved in 1.8. If not, can you post details in the above issue @nfirvine opened?

[2018-05-21 12:25] lwander commented on #2794
Thanks -- which version of Halyard are you running? I think we fixed a similar issue with a proxy-path changing in 1.2 thanks to @ezimanyi

[2018-05-21 12:42] raghawendram commented on #2808
Thanks iwander for the reply...
The deck port is listening on localhost(127.0.0.1)

root@73befe5928ca:~# netstat -tulnp | grep 9000
tcp        0      0 127.0.0.1:9000          0.0.0.0:*               LISTEN      4541/node
root@73befe5928ca:~#

[2018-05-21 12:44] lwander commented on #2808
You're bound to the local interface still -- follow the steps here: https://www.spinnaker.io/setup/quickstart/faq/#i-want-to-expose-localdebian-spinnaker-on-a-public-ip-address-but-it-always-binds-to-localhost

[2018-05-21 12:45] lwander commented on #2780
@ezimanyi can you look into this?

[2018-05-21 12:45] lwander commented on #2569
Yes, but only v1 resources

[2018-05-21 12:49] lwander commented on #2716
@e96wic, @adityacs which storage provider are you using -- is this minio?

If so, I think the docs are missing a step, namely you need to create the file `~/.hal/default/profiles/front50-local.yml` with:

[code]

[2018-05-21 12:49] lwander commented on #2716
If that works after redeploying (`hal deploy apply`) I'll patch the docs.

[2018-05-21 12:51] raghawendram commented on #2808
I have already applied the solution-2 which is not rely on authentication mechanism and executed the steps which are in below link. But still no luck.
https://blog.spinnaker.io/exposing-spinnaker-to-end-users-4808bc936698

[2018-05-21 12:54] lwander commented on #2808
Can you run:

[code]

and

[code]

[2018-05-21 13:18] owennewo commented on #2494
@lwander.  Yes - we do have heavy load and are currently on 1.7.3.  When is spinnaker 1.8 released?

We don't have same symproms as @nfirvine

[2018-05-21 14:11] raghawendram commented on #2808
Below are the outputs of these files.

root@73befe5928ca:~# cat /home/spinnaker/.hal/default/service-settings/deck.yml
host: 0.0.0.0

I didn't see the **baseurl** option in the below configuration file.

root@73befe5928ca:~# cat /home/spinnaker/.hal/config
currentDeployment: default
deploymentConfigurations:
- name: default
  version: 1.7.4
  providers:
    appengine:
      enabled: false
      ac

[2018-05-21 14:27] ezimanyi commented on #2780
Yes, I'll take a look today.

[2018-05-21 14:29] lwander commented on #2494
The release window opens in June:
https://www.spinnaker.io/community/releases/release-cadence/#upcoming-release-windows

The actual release date depends on how long it takes to stabilize 1.8

On Mon, May 21, 2018 at 9:18 AM Owen Williams <notifications@github.com>
wrote:

[2018-05-21 15:40] lwander opened #2809 "Support skipping evaluation of SpEL in individual manifests"
Something like `spel.spinnaker.io/enabled: false` should allow users to inject SpEL-like expressions into their manifests without evaluating them.

[2018-05-21 15:40] lwander commented on #2808
If you follow the instructions linked by that FAQ you'll see you need to set those base urls, see: https://blog.spinnaker.io/exposing-spinnaker-to-end-users-4808bc936698 under the __Map to your DNS address__.

Make sure to run `hal deploy apply` after.

[2018-05-21 16:50] lwander commented on #2807
@andreasevers can you confirm that this fails on version `master-latest-unvalidated` as well?

[2018-05-21 19:48] lwander commented on #2716
Redis storage is largely unsupported -- if you need local storage minio is a self-hosted option.

[2018-05-21 20:24] ttomsu opened #2812 "FR: `hal version customize` to download a BOM locally for tweaking"
### Issue Summary:
Customizing your spinnaker deployment is Hard. The addition of the `local:` prefix for versioning and local configs is a big step forward, but there is still lots of friction.

I propose `hal version customize [version]` as a jumping off point. It should:

1. Download the BOM of `[version]`, or the latest if unspecified.
1. Add the `local:` prefix to your `~/.hal/config` version

[2018-05-21 20:26] lwander commented on #2812
Not sure about

since so far all commands that edit your config live under `hal config ...`.

Also, what about `hal version make-local <version>`?

[2018-05-21 23:56] medyagh opened #2813 "Halyard:stable container expects script to run with sudo but doesn't have sudo permissions"
### Issue Summary:

Running `hall deploy apply` on the stable container (gcr.io/spinnaker-marketplace/halyard:stable)
will result in error that it expects the script to be run with sudo.

[code]

I tried to do `sudo hal deploy apply` but the halyard container doesn't not have `sudo` installed and won't let me install it, since the spinnaker user is not a sudoer
 ```bash: sudo: command not found```

[2018-05-22 00:17] ezimanyi commented on #2780
I looked at the code implementing the Traffic Guard check and didn't see any obvious issues, though agree it's likely a caching issue.  I will continue investigating this to see if I can reproduce or find a race condition that might be leading to this.

[2018-05-22 00:35] ezimanyi commented on #2780
@sweetib : What version of Clouddriver are you running?  It's possible that this is the caching issue that was addressed in https://github.com/spinnaker/clouddriver/pull/2517 and is included in Spinnaker 1.7.1, so my first suggestion would be to upgrade to that version or later.  But of course it's entirely possible it's a different issue.

[2018-05-22 06:42] sweetib commented on #2780
@ezimanyi we have already upgraded to spinnaker 1.7.2 and our clouddriver version is
`spinnaker-clouddriver            3.0.1-20180430104909`

we are facing this issue in this version as well as the old version that we were previously using.

[2018-05-22 06:54] thepatrick opened #2814 "Next steps on "Install Halyard" skip "Configure Cloud Providers""
### Issue Summary:
Next steps on "Install Halyard" skip "Configure Cloud Providers"

### Cloud Provider(s):
N/A

### Environment:
N/A

### Feature Area:
Documentation

### Description:
On https://www.spinnaker.io/setup/install/halyard/ at the bottom under "Next Steps" it sends you to https://www.spinnaker.io/setup/install/environment/ instead of https://www.spinnaker.io/setup/install/providers/

#

[2018-05-22 07:06] mlevitzzky commented on #2794
@lwander
$ hal -v
1.2.0-20180509113540

[2018-05-22 09:03] wjoel commented on #2762
Possibly related issue: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/3083

I can confirm that we've seen spurious `PERMISSION_DENIED` errors and echo stops receiving pubsub messages until restarted (and logs `c.g.c.p.v.StreamingSubscriberConnection : terminated streaming with exception`, as you say).

FWIW, this may not be the only issue, because we've seen messages from GCR eit

[2018-05-22 10:39] bhpike65 commented on #1988
@xnulinu
same here, have u figured out?

[2018-05-22 11:30] lwander commented on #1988
The minio installation was blocked on this config line that we just added to the docs:

https://www.spinnaker.io/setup/install/storage/minio/#editing-your-storage-settings

In short, you need to tell Spinnaker not to depend on S3's object versioning for minio to work.

If you're still seeing problems please re-open.

[2018-05-22 11:30] #1988 closed

[2018-05-22 11:31] lwander commented on #2762
@wjoel

have you been able to rule out the possibility that the permissions for the service account submitting builds were maybe changed while operating? If so I'll pass that back to the GCR team

[2018-05-22 11:38] lwander commented on #2794
@ezimanyi does this symptom look familiar to the proxy-path problem?

[2018-05-22 11:39] lwander commented on #2814
@dorbin can you take a look at this?

@spinnakerbot add-label docs

[2018-05-22 11:48] lwander commented on #2813
We intentionally moved away from `root` for security reasons -- are you sure that you're deploying to a distributed env instead of a local debian env?

What are the permissions of that install.sh file?

@spinnakerbot add-label operations/installation

[2018-05-22 11:49] lwander commented on #2812
@spinnakerbot add-label enhancement component/halyard

[2018-05-22 11:52] lwander commented on #2807
Very strange -- I haven't been able to reproduce on either version. Can you share your orca logs during this operation as well as what GKE version you're deploying to?

[2018-05-22 11:56] andreasevers commented on #2807
GKE version is GKE alpha cluster v1.10.2-gke.0
I'm checking orca logs!

[2018-05-22 11:57] lwander commented on #2807
Oh interesting -- can you try this against a non-alpha cluster as well? 1.9
or 1.8 if possible?

On Tue, May 22, 2018 at 7:56 AM Andreas Evers <notifications@github.com>
wrote:

[2018-05-22 11:59] andreasevers commented on #2807
Yeah, but that will take a while. I need to set up Spinnaker from scratch.
On those clusters I won't be able to turn on Stackdriver metrics since they only work with alpha clusters. So not sure if that would be a realistic baseline to test against.
I'll first post orca logs, and I'll install a 1.9 or 1.8 cluster this evening.

[2018-05-22 12:01] lwander commented on #2807
Don't worry about configuring any of the canary or stackdriver details for now -- I'm just curious about how reproducable this particular bug is. If it works on those cluster versions at least I'll have something to go off of to repair 1.10

[2018-05-22 12:15] wjoel commented on #2762
@lwander yes, but the last time was a month ago, and we've had instances when notifications weren't delivered since then (last week). The `PERMISSION_DENIED` issue seems to be a general pubsub thing (https://github.com/GoogleCloudPlatform/google-cloud-java/issues/3083 doesn't mention GCR).

I'm going to try making some changes to echo, updating its pubsub dependency to the latest release, and see

[2018-05-22 12:52] andreijefremov commented on #2414
I have this issue. And I think I use all the tricks. We are using GKE, terminate SSL on load balancer AND use istio as our ingress controller

logging into gate container I see following configurations which hal applied:
`spin-gate-f7b895cd7-ccj4j:/opt/spinnaker/config$ cat gate-local.yml
server:
  tomcat:
    protocolHeader: X-Forwarded-Proto
    remoteIpHeader: X-Forwarded-For
    internalProxie

[2018-05-22 13:15] andreasevers commented on #2807
I confirm it works on 1.9.7-gke.1

I noticed v1.10.2-gke.1 is now available as a regular, non-alpha cluster. Will try with that now as well.

[2018-05-22 13:19] erancx commented on #2414
I'm having the same issue.
we bypassed it using a reverse proxy location /auth:

[code]

[2018-05-22 13:22] wjoel commented on #2762
@lwander we'll be running with the changes in https://github.com/spinnaker/echo/pull/263 for now, I'll update this thread with the results by the end of the week, or sooner if we see notifications being missed.

[2018-05-22 13:49] andreasevers commented on #2807
Alright, a regular GKE cluster with version v1.10.2-gke.1 shows the same issue.

Commands executed to get to this stage (based on https://www.spinnaker.io/setup/quickstart/halyard-gke/):
[code]

On Halyard VM:
[code]
Steps to reproduce inside Spinnaker:
1. Create new application
2. Create & deploy new servergroup without any settings
3. Destroy servergroup
4. See that this works flawlessly
5. Crea

[2018-05-22 14:23] lwander commented on #2782
@ezimanyi is this related to the issue you fixed w/ the proxy-pass endpoint?

[2018-05-22 14:39] #2668 closed

[2018-05-22 14:40] ezimanyi commented on #2782
I don't think it's related---that issue (https://github.com/spinnaker/spinnaker/issues/2735) only affected Kubernetes >= 1.10 and was fixed in Halyard 1.2 whereas the issue here is on GKE 1.9.3 and still exists with Halyard 1.2.

Also, the proxy issue had a more specific error message: `ERROR Unexpected exception: Retrofit.RetrofitError: 404 Not Found` rather than just getting stuck deploying.

[2018-05-22 14:42] ttomsu opened #2817 "Make `artifactSources` overrides work for debian, googleImageProjects"
### Issue Summary:
https://github.com/spinnaker/halyard/pull/948 introduced the ability to override the binary repository for an individual (or multiple) services. The main scenario I had in mind was overriding the `dockerRegistry` piece, but implemented it as a full `ArtifactSources` object, which includes other fields such as `debianRepository` and `googleImageProject`.

The `googleImageProject`

[2018-05-22 15:53] lwander commented on #2426
Support was added before halyard 1.0

[2018-05-22 15:53] #2390 closed

[2018-05-22 15:53] #2376 closed

[2018-05-22 16:17] rossedman opened #2818 "Better Kubernetes Removal/Offboarding"
### Issue Summary:
When removing a Kubernetes cluster from Spinnaker you must first remove all resources associated with the cluster before removing the cluster itself or resources will be cached permanently. With many clusters and microservices it makes it very hard to rotate clusters or remove clusters for service.

Would like to propose a way to easily remove clusters or have a way to cache ref

[2018-05-22 17:28] adityacs commented on #2716
I switched the storage to s3 and I don't see this issue.

[2018-05-22 17:54] lwander commented on #2818
@spinnakerbot add-label provider/kubernetes-v2 enhancement

[2018-05-22 18:10] pndurette opened #2819 "“Create Load Balancers” Pipeline step config. throwing error (AWS)"
### Issue Summary:
“Create Load Balancers”  Pipeline step doesn’t seem to be set up for AWS

### Cloud Provider(s):
AWS

### Environment:
Spinnaker `1.7.4`, Ubuntu 16.04 LTS, installed via Halyard (`1.2.0`), running in AWS.

### Feature Area:
Pipelines

### Description:
Hi!
After enabling the `infrastructure stages` (in a pretty unusual way, see Steps to Reproduce below), I can add the “Create Loa

[2018-05-22 18:19] lwander commented on #2807
Still can't reproduce this. I created a new cluster at version 1.10.2, created a server group with a load balancer, destroyed it, and it worked fine:

![image](https://user-images.githubusercontent.com/4874941/40381921-00e3e8e8-5dcb-11e8-9743-c6ecb29337a2.png)

[code]

![image](https://user-images.githubusercontent.com/4874941/40381944-1094a00c-5dcb-11e8-83aa-f95fb84d9636.png)

[2018-05-22 18:20] lwander commented on #2807
What does the endpoint

[code]

return?

[2018-05-22 18:33] pndurette commented on #2819
@lwander Thanks for your quick response!
Yeah it was hard to find any doc. on this, it seemed very experimental.

Sadly, no one in my immediate team are Angular people, so we can't quickly hop on and contribute on this one. In the meantime we will continue with LB creation outside of Pipelines. Thank you!

[2018-05-22 19:28] andreasevers commented on #2807
[code]

[2018-05-22 19:34] lwander commented on #2807
What's strange is that:             "load-balancer-destroytest--test": "true", is set, meaning that this hasn't been disabled by spinnaker -- is this showing up correctly as disabled in the UI?

[2018-05-22 19:48] andreasevers commented on #2807
<img width="1317" alt="screen shot 2018-05-22 at 21 47 19" src="https://user-images.githubusercontent.com/6663110/40386358-cc670476-5e09-11e8-9e26-647794280fcc.png">
<img width="729" alt="screen shot 2018-05-22 at 21 46 58" src="https://user-images.githubusercontent.com/6663110/40386360-cc8c53ac-5e09-11e8-9823-32d7c9e6a36b.png">
<img width="320" alt="screen shot 2018-05-22 at 21 46 29" src="https:

[2018-05-22 20:05] lwander commented on #2807
Hmm the pod still shows up as green, which is odd -- what are the labels on those pods?

[2018-05-22 20:06] andreasevers commented on #2807
[code]

[2018-05-22 21:02] nfirvine commented on #2772
Orca says:
[code]

And yes; for every Kube account, we have a v1 and a v2

[2018-05-22 21:07] emptywee opened #2820 "[Deck] Edit deploy configuration fetching absolutely all load balancers fails and breaks UI"
### Issue Summary:
Edit deploy configuration fetching absolutely all load balancers fails and breaks UI.

### Cloud Provider(s):
Kubernetes V1

### Environment:
3 self-hosted kubernetes clusters with over 1000 services created across the board.

### Feature Area:
Deck, Deploy stage, Edit configuration button.

### Description:
Request to get all load balancers fails with 500 Internal Server Error

[2018-05-22 21:09] nfirvine commented on #2772
FWIW, I did `watch time wget -qO /dev/null  http://spin-clouddriver.spinnaker:7002/cache/kubernetes/manifest` from inside the orca pod (heh) and never saw a request take > 100 ms

[2018-05-23 00:00] PatrickAuld commented on #2813
I'm also encountering this; you hit this if you follow the recommended steps in the install docs.

[2018-05-23 01:59] ezimanyi commented on #2780
@sweetib : Thanks for clarifying; I'll dig some more into this given that it's obviously not the earlier caching issue and will update you with what I find.

[2018-05-23 03:14] bhpike65 commented on #1988
@lwander
"spinnaker.s3.versioning: false"  was added to the config.
and front50 still have this issue.

[2018-05-23 07:34] e96wic commented on #2716
@lwander I use Azure Storage, but also tried S3 with minio and both had those problems.

[2018-05-23 08:38] HexTeto opened #2821 "Failed to add an azure account"
### Issue Summary:
Got error tenant id XXXX is invalid when add azure provider account using halyard

### Cloud Provider(s):
Azure (China region)

### Environment:
- 1VM with Ubuntu 16.04 OS running on Azure
- halyard 1.2.0-20180509113540
- azure cli 2.0

### Feature Area:
Setup, Account, Azure

### Description:
Hi,
In the "Adding an account" (https://www.spinnaker.io/setup/install/providers/azure

[2018-05-23 09:30] wuzhihui1123 opened #2822 "Appliction's Permissions not work"
### Issue Summary:
  Appliction's Permissions not work

### Cloud Provider(s):
  kubernetes V1

### Environment:
  kubernetes version:  1.8.7
  spinnaker version:  1.7.4 ，1.7.5    （There are problems with both versions）
  spinnaker Authentication:  **ldap**
  spinnaker Authorization role provider:  **file**  ( if use ladp to provide roles , the problem also exists)
### Feature Area:
  Deck -> Appl

[2018-05-23 09:31] kundralaci commented on #2494
Finally it started working for me too. I started to use bigger and bigger VMs, but since clouddriver needs a LOT of resource (for now, hope fix arrives soon), the trick was to use one large VM, and not resources spread among nodes. So i finally ended up with a 4vCPUs / 16GB RAM VM ...

[2018-05-23 09:36] e96wic opened #2823 "Deck: Pipeline does not display properly"
### Issue Summary:

Deck: Pipeline does not display properly when using many clusters. The "Start pipeline" button moves out of the visible area.

![image](https://user-images.githubusercontent.com/13048266/40416203-01c97702-5e7d-11e8-9097-7adc3575f7a3.png)

### Cloud Provider(s):

kubernetes v1

### Environment:

kubernetes

### Feature Area:

deck / UI

### Description:

### Steps to Reproduce:

[2018-05-23 09:44] prashantdj1 commented on #2752
anyone have any update on this?

[2018-05-23 11:30] lwander commented on #2823
@spinnakerbot add-label bug ui

[2018-05-23 11:31] lwander commented on #2822
This seems pretty serious -- @ttomsu or @stewchen can you take a look at this?

[2018-05-23 11:32] lwander commented on #2822
@spinnakerbot add-label bug auth

[2018-05-23 11:32] lwander commented on #2821
@spinnakerbot add-label bug provider/azure operations/installation

[2018-05-23 11:47] lwander commented on #2807
Very strange, neither the pods nor the replica set were properly disabled -- one last thing to look at -- what are the annotations on the replica set?

[2018-05-23 11:54] lwander commented on #2772
Are you sure that the request that times out is a GET and not a POST? It seems the request was left out from those orca logs, and they don't line up with the clouddriver logs above (4 days in between) so it's a little tricky to try and figure out what's happening.

[2018-05-23 11:56] lwander commented on #2813
@dorbin can you look at this? It seems the new recommended steps are causing trouble.

[2018-05-23 11:56] lwander commented on #2813
@medyagh can you share what the permissions are on that file?

[2018-05-23 12:35] owennewo commented on #2494
We got it working too but by cloning orca 0.11.1 (1.7.3) and cherry picking:
https://github.com/spinnaker/orca/commit/a1ecc7c6f1ddec2afaca7b8e85ed37689ec2fae2

After the cherry pick the ManifestForceCacheRefreshTask took over 2mins.

Reading between the lines from @lwander above - the commit is a client-side (orca) workaround, the real fix is for server-side (clouddriver) to be faster, but that's

[2018-05-23 12:45] andreasevers commented on #2807
[code]

[2018-05-23 12:49] lwander commented on #2494
spinnaker/orca@a1ecc7c

For a little context -- that commit is intended to force orca to wait until the cache for the resources it cares about (e.g. the manifest it deployed) is consistent. I'm guessing that the extra retry logic is helping to prevent the timeouts from causing trouble. However, IIRC it is missing a clouddriver commit that ensures that cherry pick does what's intended.

100% the nu

[2018-05-23 12:51] lwander commented on #2807
This means the disable request was at least able to edit the annotations, but not the labels. This is feeling like a bug on the GKE end -- can you try upgrading to 1.10.2.gke.1 from 1.10.2.gke.0? Not sure if that patches it but that is the only difference in our setup that I'm seeing.

[2018-05-23 13:04] andreasevers commented on #2807
I already tested on v1.10.2-gke.1 (see above). Can't upgrade the alpha cluster, but if need be I can spin up a new one and test it again.

[2018-05-23 13:26] danielpeach commented on #2820
Could try bumping the hystrix timeout. e.g., in your gate-local.yml:

[code]
Not sure which method actually gets called here, but the hystrix key would come from this class:

https://github.com/spinnaker/gate/blob/master/gate-web/src/main/groovy/com/netflix/spinnaker/gate/services/LoadBalancerService.groovy

[2018-05-23 13:48] ttomsu commented on #2822
When you click "Update" as user `FSSvcA053`, does it successfully update the app config?

[2018-05-23 14:14] lesaux opened #2824 "Unsupported Kubernetes object kind 'PodDisruptionBudget'"
### Issue Summary:
Unsupported Kubernetes object kind 'PodDisruptionBudget', unable to continue.

### Cloud Provider(s):
GKE Kubernetes provider V2

### Steps to Reproduce:
 Use Deploy (Manifest) stage with a manifest that contains a "PodDisruptionBudget"

### Additional Details:
I can manually apply such a manifest through kubectl.

[2018-05-23 14:36] emptywee commented on #2820
@danielpeach I will, thanks! But from the user perspective, is it worth loading all of them? Maybe add a limit to load only those created for the app? And if needed more than that, maybe add another button in the already loaded fragment on the page to load the rest?

[2018-05-23 14:47] anotherchrisberry commented on #2820
It might be worth revisiting the Kubernetes Load Balancer Provider class in Clouddriver. We were seeing slow responses for AWS (We have ~3000 load balancers). After some refactoring, we're bringing back the entire list in 4 or 5 seconds.

The other option would be to only show the load balancers for the application, but make the others available via search. We did that on AWS a couple of weeks ago

[2018-05-23 14:50] lwander commented on #2670
This is addressed here: https://github.com/spinnaker/clouddriver/pull/2653 for all CRDs

[2018-05-23 15:16] danielpeach commented on #2824
@spinnakerbot add-label provider/kubernetes-v2 enhancement

[2018-05-23 16:00] paullaleu commented on #2782
Google now let me upgrade to kubernetes 1.10.2, I could also try a "hal deploy clean"  and  deploy again ?

[2018-05-23 16:04] lwander commented on #1988
No such key errors are not a problem, that's just the client letting us know that a key we looked for doesn't exist. When Spinnaker starts, none of the keys it expects have been created yet. Are you seeing other problems?

[2018-05-23 16:30] emptywee commented on #2820
@danielpeach for some reason even after adding that hystrix thing into config, it throws 500 after 20000ms (see ut, which stands for upstream time, values):

[code]

If it makes it under 20000ms, then it's okay:
[code]

So it feels like there's some other default value of 20000 ms.

I have the following in my gate-local.yml:

[code]

[2018-05-23 16:32] emptywee commented on #2820
Maybe something like this somewhere, not sure what the kork is:
https://github.com/spinnaker/kork/blob/master/kork-web/src/main/groovy/com/netflix/spinnaker/okhttp/OkHttpClientConfigurationProperties.groovy#L27

[2018-05-23 16:38] ttomsu commented on #2822
What did you configure as a storage provider?

[2018-05-23 16:41] ttomsu commented on #2822
It looks like Front50 [has the right permission check](https://github.com/spinnaker/front50/blob/master/front50-web/src/main/groovy/com/netflix/spinnaker/front50/controllers/v2/ApplicationsController.groovy#L99) on it:

[code]

[2018-05-23 17:08] wuzhihui1123 commented on #2822
@ttomsu  this is front50 config
![image](https://user-images.githubusercontent.com/4246626/40439885-e2dd2f56-5eee-11e8-84c3-1e3f5443d480.png)

[2018-05-23 17:40] medyagh commented on #2813
@lwander
Since the `.hal` folder is mounted from the host, it is owned by the user that runs docker. (medya user)
so halyard's user on the container (spinnaker user) was not able to read it, so chown-ed it to spinnaker's UID on the host and also did chmod a+r+w on all the files in .hal folder.

Before that I was getting errors that it can not access .hal folder, after that I got passed that step.

[2018-05-23 18:34] medyagh commented on #2813
hm... yeah I pointed it to a `minikube` cluster on same host. I wonder it that would be a problem.

[2018-05-23 18:38] lwander commented on #2807
Is it possible the Kubernetes user Spinnaker is running as doesn't have permission to edit labels?

[2018-05-23 18:46] lwander commented on #2813
What's the output of `hal config deploy -o yaml`?

[2018-05-23 19:26] dorbin commented on #2814
Good catch, @thepatrick
Sorry 'bout that.

[spinnaker/spinnaker.github.io/pull/795](https://github.com/spinnaker/spinnaker.github.io/pull/795)

[2018-05-24 00:48] medyagh commented on #2813
here is the output of `hal config deploy -o yaml` testing against a minikube cluster.

[code]

here is the full output from `hal deploy apply`

[code]

I verified that the minikube cluster is accessible through the halyard's container.
by doing this:

[code]

here is the full file permissions

[code]

I only tested this against Minikube.

[2018-05-24 00:48] thepatrick commented on #2814
thanks @dorbin :)

[2018-05-24 00:54] ezimanyi commented on #2780
I discovered what I believe to be a bug with how Orca updates the server group cache in the 'Force Cache Refresh' task in a deploy stage.  There's a bug where in some cases, the second call to on-demand refresh the cache for a particular server group within the same stage will not be sent; in this case we first refresh the cache of the server group after creating the group, then again after it com

[2018-05-24 00:55] ezimanyi commented on #2780
(In addition to the behavior here, this bug also makes deploy stages take much longer, as they need to wait the full 12 minutes for the force cache refresh to timeout.)

[2018-05-24 01:06] #2814 closed

[2018-05-24 05:53] KeisukeYamashita commented on #2774
@lwander

I used Google Clouddriver to create the instance with halyard.

[code]

And I ran `stern spin-clouddriver-bootstrap-v000-5qrmb -n spinnaker` and I got this log.

[code]

[2018-05-24 05:58] KeisukeYamashita commented on #2774
After few minutes, I got warn messages.

[code]

[2018-05-24 08:33] e96wic opened #2827 "[DockerTrigger] Igor retriggers all available images on start"
### Issue Summary:

Igor triggered pipelines of possibly all available images after changing "dockerRegistry.itemUpperThreshold".

### Cloud Provider(s):

kubernetes, docker

### Environment:

kubernetes, version 1.7

### Feature Area:

DockerRegistry / Igor / Docker Trigger

### Description:

In a special case I encountered today, Igor triggered a large amount of pipeline that had docker triggers

[2018-05-24 08:51] #2827 closed

[2018-05-24 09:54] sweetib commented on #2780
@ezimanyi thanks for update Eric. We are using 60sec as a polling interval for clouddriver redis as of now. We will wait for the fix to be available.

[2018-05-24 10:49] andreasevers commented on #2807
How can I check that exactly?
I exec'd into the clouddriver pod and executed the following commands:
[code]
(I deploy in default namespace)

[2018-05-24 10:50] tweakmy commented on #1988
I am getting the loading spinner when I try to create a new application.
There is no obvious logging on the spin-deck. Dont know how to troubleshoot. Been trying to make it work for the past 3 days. The experience of quick start is awful for kubernetes-manifest v2

There is some error in the cloud-driver.

[code]

[2018-05-24 12:11] lwander commented on #1988
We don't have a quickstart for k8s v2 yet, unless that's what you mean?

Can you post more of those logs from clouddriver (seems that's the middle of a long spring boot exception)?

[2018-05-24 12:17] lwander commented on #2813
Is it possible that you missed the `hal config deploy edit --type distributed --account-name <account>` command called out [here](https://www.spinnaker.io/setup/install/environment/#distributed-installation)? If so that's why halyard is trying to install this using debian packages.

[2018-05-24 12:19] lwander commented on #2774
Can you share more of the startup logs from clouddriver? The ones you posted all look OK, but it seems based on the following comment that along the way something goes wrong.

[2018-05-24 12:20] lwander commented on #2772
It's further up in the logs above the exception, for example, see log entry:

[code]

[2018-05-24 12:21] lwander commented on #2807
What auth method are you using? `kubectl` in the pod is relying on the service account that's been mounted.

[2018-05-24 12:25] angegar opened #2828 "GitHub enterprise as oauth2 provider"
### Issue Summary:
I don't manage to use my GitHub enterprise intance to authenticate

### Cloud Provider(s):
Kubernetes

### Environment:
AWS

### Feature Area:
Authentication

### Description:
I am trying to authenticate with my GitHub enterprise instance, it seems there is no provider to achieve it but we can to it via the halyard config file. Do you have a sample to set it up as my configurati

[2018-05-24 12:26] lwander commented on #1988
Ah well it's in alpha still, so expect some rough edges :)

@tweakmy based on the logs it's missing some config, not sure what yet though.

Can you share the output of:

`hal config provider kubernetes -q -o yaml`

[2018-05-24 12:32] tweakmy commented on #1988
[code]

[2018-05-24 12:36] andreasevers commented on #2807
Do you mean in my own terminal?
My `~/.kube/config` file has for the cluster:
- client-certificate
- client-key
- username
- password

This is populated with gcloud auth to get the credentials from GCP.

[2018-05-24 13:43] wheleph commented on #2413
With Spinnaker 1.6.1 and Halyard 1.2.0 I get more meaningful error message:

[code]

[2018-05-24 13:56] uvoigt commented on #2026
It seems like for a different reason but in my environment with Redis I see the same java.net.SocketException in the spin-gate log.
front50 gets into a situation where all worker threads are blocked waiting for a Redis connection.
This might be solved by a certain configuration of the Apache connection pool which is used by the Jedis connection pool as mentioned in https://github.com/xetorthio/jed

[2018-05-24 14:11] lwander commented on #2807
Can you find where halyard has mounted the kubeconfig in your clouddriver pod (you can check what the config points to in `~/.hal/default/staging/clouddriver.yml`) and then on the clouddriver pod pass that kubeconfig as an option to `kubectl` with `--kubeconfig`?

[2018-05-24 15:24] rossedman opened #2829 "Kubernetes V2 Manifests: Escape Java Variables"
### Issue Summary:
When committing config maps for Elasticsearch/Filebeats or other Java based applications, Spinnaker will try to inject the variables, causing pipeline failures. How could we escape variables that are not meant for Spinnaker?

### Cloud Provider(s):
Azure/GKE

### Environment:
Spinnaker Distributed, On GKE, Deploying To Azure + GKE

### Feature Area:
Templating/Expressions

### D

[2018-05-24 15:26] rossedman opened #2830 "Kubernetes V2 Annotation Priority In Moniker"
### Issue Summary:
In the latest nightly build of spinnaker, the fields for V2 deployment moniker metadata have been removed in favor of annotations.

However, `moniker.spinnaker.io/cluster` cannot be overwritten directly from a Kubernetes manifest while `moniker.spinnaker.io/stack` and `moniker.spinnaker.io/detail` can. Spinnaker prioritizes itself over the annotations. To overwrite this, one mus

[2018-05-24 15:54] e96wic opened #2831 "[Kubernetes V2] Add namespace option for deployManifest"
### Issue Summary:

I would like to see an (optional) text field in the UI where I can set the target namespace. With this I won't have to create a deployment manifest for each namespace I deploy to.

### Cloud Provider(s):

kubernetes

### Environment:

kubernetes

### Feature Area:

Kubernetes V2 / Deck-UI

### Description:

### Steps to Reproduce:

### Additional Details:

[2018-05-24 16:12] amanya opened #2832 "Kubernetes V2 deploy manifest failing on cluster versions < 1.7"
### Issue Summary:

Due to [this](https://github.com/spinnaker/clouddriver/pull/2653) change, we can't longer deploy to kubernetes clusters without support for CRDs (versions <1.7)

### Cloud Provider(s):

Kubernetes

### Environment:

Kubernetes cluster version < 1.7

### Feature Area:

Kubernetes/v2

### Description:

Kubernetes introduced custom resource definitions on version 1.7. We are still

[2018-05-24 17:08] phsiao commented on #2765
Another workaround I use is to kubectl edit the deployment file and remove the readinessProbe config.

[2018-05-24 17:25] #2829 closed, assigned to nobody

[2018-05-24 17:26] lwander commented on #2830
Thanks for filing this!

@spinnakerbot add-label provider/kubernetes bug

[2018-05-24 17:32] lwander commented on #2831
This is something we've gone back-and-forth about, mainly because we don't want to make too many properties override-able from the UI

@spinnakerbot add-label ui enhancement provider/kubernetes-v2

[2018-05-24 17:33] lwander commented on #2830
:roll_eyes:

@spinnakerbot add-label provider/kubernetes-v2

[2018-05-24 18:16] lwander commented on #2828
@spinnakerbot add-label enhancement auth

[2018-05-24 18:21] #2830 closed

[2018-05-24 18:41] #2832 closed

[2018-05-24 18:52] nfirvine opened #2833 "`Testing expressions` docs are out of date"
### Issue Summary:

https://www.spinnaker.io/guides/user/pipeline/expressions/#testing-expressions

has several errors that make it quite impossible to use

### Cloud Provider(s):

GKE

### Environment:

Spinnaker 1.7.3

### Feature Area:

orca

### Description:

1. The `detail` field does not exist in the current release of orca https://github.com/spinnaker/orca/blob/version-0.11.3/orca-web/src/m

[2018-05-24 19:03] lwander commented on #2833
@dorbin @nhayes can you take a look at this as a part of the pipeline doc rewrite?

@spinnakerbot add-label docs

[2018-05-24 19:09] lwander commented on #2258
Closed by above PR

[2018-05-24 19:09] #2258 closed

[2018-05-24 19:14] lwander commented on #2302
Done using default cluster = deployment annotations.

[2018-05-24 19:14] #2302 closed

[2018-05-24 19:46] wjoel commented on #2831
I'd prefer to be able to specify a list of parameters (just key-value pairs) to the deploy manifest stage, and be able to do `namespace: ${namespace}` in the manifest. It's already possible if using the stage from a templated pipeline (or by editing the raw JSON of the stage).

[2018-05-24 19:56] louisvernon commented on #2831
As mentioned [in the Spinnaker docs](https://www.spinnaker.io/reference/artifacts/in-kubernetes-v2/#why-not-pipeline-expressions) this isn't ideal as it makes Spinnaker’s expression engine a hard dependency of manifest deployment.

@lwander what is the best practice here?

[2018-05-24 19:56] ethanfrogers commented on #2831
This also kind of plays into the templating story as well (if it isn't outright the templating story). With Helm, you can do this by baking each manifest with a given set of values. However, not everyone uses Helm so having a way to _at least_ specify a namespace would be super useful. We had this request come in from a customer as well. While it is possible to do it by editing the JSON it's not v

[2018-05-24 20:12] lwander commented on #2831
@louisvernon this at least makes explicit what's being overridden in the manifest.

[2018-05-24 20:16] wjoel commented on #2831
@louisvernon Well, it's opt in and arguably ideal for at least some use cases. It's not worse than making Helm a hard dependency, and having to create and upload .tar.gz packages to be baked by rosco, at least not in my opinion.

[2018-05-24 20:26] ethanfrogers commented on #2831
I think the kicker is that you can continue to template your manifests using Helm if Spinnaker were to go away or you decide you want to hydrate in a different way, whereas, templating using SpEL _requires_ Spinnaker to hydrate your manifests.

[2018-05-24 20:40] lwander commented on #2831
Well I think the same can be said of any templating tool (for example switch Helm & Spinnaker, and replace SpEL with go-template).

[2018-05-24 20:52] iiro commented on #2195
Looks like the "permissions" is now mandatory - as I tried to upgrade to 1.7.5 when it was released - and after that I could not access any applications anymore and logs were full of a deprecated-message (cannot remember the exact output).

The docs are "still" out of date in https://www.spinnaker.io/reference/halyard/commands/ - and here: https://www.spinnaker.io/setup/security/authorization/#acc

[2018-05-24 21:28] bensnet1 opened #2835 "AWS Bake failure rosco"
### Issue Summary:
AWS Bake fails if artifacts are not being used

### Cloud Provider(s):
AWS

### Environment:
Ubuntu package version
spinnaker-rosco                  0.107.0

### Feature Area:
Rosco

### Description:
Bake fails because no artifact is being passed in (we are not using artifacts for AWS bake)

### Steps to Reproduce:
Bake on AWS without artifacts configured.

### Additional Detail

[2018-05-24 21:49] ezimanyi commented on #2835
The design here is that the bake script should be backwards-compatible and work fine even without an artifacts file---the `cat artifacts.json` line that was failing was just a bug, it should be guarded by an `if [[-e artifacts.json]]` as you point out.

[2018-05-24 22:21] rossedman commented on #2829
@lwander Awesome! Thanks, didn't realize this was already opened.

[2018-05-24 23:05] nfirvine commented on #2772
Ok, I figure out a valid POST body: ```
  "account" : "us-central1-app-dev-gke-0-v2",
  "name" : "service svcprom",
  "location" : "grafana"
}
[code]
2018-05-24 21:43:17.207  INFO 1 --- [0.0-7002-exec-8] k.v.c.a.KubernetesV2OnDemandCachingAgent : On demand cache refresh of (data: {account=us-central1-app-dev-gke-0-v2, name=service svcprom, location=grafana}) succeeded
2018-05-24 21:43:17.208  INFO

[2018-05-25 00:35] rossedman opened #2836 "Kubernetes V2 : YAML Comments Cause Failures"
### Issue Summary:
When deploying manifests with the V2 provider, yaml comments can cause the pipeline to fail.

### Cloud Provider(s):
GKE/Azure

### Environment:
Distributed Spinnaker

### Feature Area:
Pipelines

### Description:

### Steps to Reproduce:
Add comments to a manifest artifact, trigger pipeline with GitHub

### Additional Details:

[2018-05-25 02:57] bensnet1 opened #2837 "shrink ASG times out causing fail to deploy to AWS using highlander"
### Issue Summary:
shrink ASG times out causing fail to deploy to AWS using highlander

### Cloud Provider(s):
AWS

### Environment:
debian package
spinnaker-clouddriver            2.45.0

### Feature Area:
clouddriver

### Description:
When trying to deploy, the shrink ASG fails causing the pipeline to fail

### Steps to Reproduce:
Deploy using highlander

### Additional Details:
rolling back to

[2018-05-25 04:15] lesaux commented on #2772
I have started seeing some "Exception ( Force Cache Refresh ) timeout" as well, as my apps and pipelines number increase. They seem random. Sometime running manually several times will go through.

[2018-05-25 05:06] greenkiwi opened #2838 "Sustained CloudDriver CPU after deploy"
### Issue Summary:
After deploying Spinnaker via Halyard, we see continued sustained CPU usage from cloud driver.

### Cloud Provider(s):
4 kubernetes v1
1 kubernetes v2 - this connects to one of the v1 clusters

### Environment:
kubernetes 1.8.7
spinnaker 1.7.5
In AWS deployed via `kops`

### Feature Area:
CloudDriver

### Description:
Every time we deploy a new config of spinnaker via halyard, w

[2018-05-25 06:29] alex-leonhardt commented on #2813
had the same issue, and missed the above - after I ran it, ran `halyard deploy apply` and it's creating _all the things_ now 👍

[2018-05-25 07:06] wheleph commented on #2413
After investigation of logs it turned out that it's necessary to add the following permissions:

[code]

So the complete role definition looks like:

[code]

[2018-05-25 07:07] wheleph commented on #2413
The issue can be closed.

[2018-05-25 09:37] bhpike65 opened #2839 "[DCOS]There was a problem loading the clusters for this project."
### Issue Summary:
cannot add docs-account in Project Configure.

### Cloud Provider(s):
DCOS

### Environment:
Spinnaker 1.7.5

### Feature Area:
clouddriver

### Description:

### Steps to Reproduce:
create an application and a Server Group,   then deploy.  all fine here.
create project and add a dcos account.

### Additional Details:

[2018-05-25 10:41] wjoel commented on #2762
I've set up some monitoring to allow us to compare the pubsub events received by echo with what images are uploaded to GCR, and it looks good so far. We've also added `Pub/Sub Publisher` permissions to the account used for uploading the images.

I'd like to give it a few more days and compare again on Tuesday (2018-05-29) when we have a full work day of records for Monday.

[2018-05-25 11:40] lwander commented on #2762
Awesome, thanks!

[2018-05-25 11:40] lwander commented on #2413
Nice work!

[2018-05-25 11:40] #2413 closed

[2018-05-25 11:44] lwander commented on #2772
The 23 second cache refresh seems a symptom of https://github.com/spinnaker/spinnaker/issues/2494 (even if the CPU use isn't very high). Something about running a large number of concurrent `kubectl` calls makes them take very long. I'm guessing it has to do with the shared writes/reads from `~/.kube/cache`. If one of

1. upgrading to the nightly builds, or
2. adding more clouddriver pods across a

[2018-05-25 11:44] KeisukeYamashita commented on #2774
This is my logs in `/var/log/spinnaker/clouddriver/clouddriver.log`.

[code]

I am trying `hal deploy apply` everyday but is doen`t work.

[2018-05-25 11:45] lwander commented on #2836
Can you provide:

1. A YAML that will cause this to fail, and
2. The stacktrace that you see in orca or clouddriver when this fails?

@spinnakerbot add-label bug provider/kubernetes-v2

[2018-05-25 11:46] lwander commented on #2774
I'm a little confused about your setup -- how did you get logs from:

Those are written there when Spinnaker is running locally, but the other details above show Spinnaker running a remote cluster. Can you share what steps you've taken to setup Spinnaker?

[2018-05-25 11:48] #2835 closed

[2018-05-25 11:50] lwander commented on #2838
This is fixed in the nightly builds and will be released in 1.8 in early june. See #2494, in particular [this comment](https://github.com/spinnaker/spinnaker/issues/2494#issuecomment-387376513).

[2018-05-25 11:50] #2838 closed

[2018-05-25 11:51] lwander commented on #2813
Nice!

@dorbin @nhayes it seems the new docs are causing some confusion around this point -- is that something we can look into clarifying?

[2018-05-25 11:51] #2813 closed

[2018-05-25 11:52] lwander commented on #2195
@dorbin @nhayes can you look into updating the docs? @stewchen can you confirm this?

[2018-05-25 11:52] lwander commented on #2195
@spinnakerbot add-label docs

[2018-05-25 11:57] lwander commented on #2837
@spinnakerbot add-label bug provider/aws

[2018-05-25 11:58] lwander commented on #2829
No worries -- glad it covers this issue too. Please chime in if you have suggestions

[2018-05-25 12:16] ethanfrogers commented on #2831
^^ fair.

[2018-05-25 12:40] #1909 closed

[2018-05-25 13:28] danilina-wsib commented on #2494
If it helps people who currently have this problem, I found that the clouddriver CPU usage grows linear with the number of monitored namespaces. On our cluster, we only deploy to two project namespaces, but have lots of infrastructure related stuff . Limiting kubernetes provider in hal to only few select namespaces with --namespaces option helped a lot in bringing the CPU usage down

[2018-05-25 14:16] greenkiwi commented on #2414
After upgrading to 1.6 and now 1.7, we haven't seen this behavior.  We have a redirector, but it only gets mistaken http requests to our root.

[2018-05-25 14:16] greenkiwi commented on #2838
Wonderful, the best sort of bug.  One that's already been fixed.  Thanks.

[2018-05-25 14:19] lwander commented on #2838
:)

On Fri, May 25, 2018, 10:16 AM Adam Bovill <notifications@github.com> wrote:

[2018-05-25 15:11] andreasevers commented on #2807
It works when executing the following statements during installation:
[code]

This means the following commands are the full setup:
1. Create new cluster in GKE, version `1.10.2-gke.1` with legacy authentication enabled (and stackdriver logging and monitoring) with name `spinnaker-test`
2. Execute the following command locally:
[code]
3. Execute the following commands inside the halyard VM which w

[2018-05-25 15:11] #2807 closed

[2018-05-25 15:14] tsadoklevi opened #2840 "Deploy (manifest) is missing in Spinnaker 1.7.5"
### Issue Summary:
After upgrading Spinnaker (using Halyard) from version 1.6 to version 1.7.5 "Deploy (manifest)" stopped showing up in the "Type" combo box when creating a new stage.

### Cloud Provider(s):
Google Cloud Platform

### Environment:
K8s

### Steps to Reproduce:
Create a new stage and open the "Type" combo box.

### Additional Details:
None

[2018-05-25 15:23] stewchen commented on #2195
I'll look into why required-group-membership now no longer works. Also, we need to add halyard support for permissions.

[2018-05-25 16:06] sbwsg commented on #2840
Thanks for the issue report.  Can you confirm whether any of the other "(manifest)" stages appear in the dropdown (e.g. "Delete (manifest)" or "Undo Rollout (manifest)")?

I'd like to also confirm the version of the kubernetes provider you're running and its configuration; could you provide your halyard config with any sensitive information removed?  You can get this by running `hal config` at you

[2018-05-25 16:19] sbwsg commented on #2839
This looks like a problem with the DCOS provider assuming that the `parts` array has a non-zero number of entries when parsing the docker repository URL.  Here's the line in question:

https://github.com/spinnaker/clouddriver/blob/release-1.7.x/clouddriver-dcos/src/main/groovy/com/netflix/spinnaker/clouddriver/dcos/model/DcosServerGroup.groovy#L187

@willgorman this looks like a bug in the DCOS pr

[2018-05-25 17:20] tsadoklevi commented on #2840
1. None of the other "(manifest)" stages appear

2. **Kubernetes**: 1.9.6-gke.1

3. hal conifg:

name: default
version: 1.7.5
providers:
  appengine:
    enabled: false
    accounts: []
  aws:
    enabled: false
    accounts: []
    bakeryDefaults:
      baseImages: []
    defaultKeyPairTemplate: '{{name}}-keypair'
    defaultRegions:
    - name: us-west-2
    defaults:
      iamRole: BaseIAMRole

[2018-05-25 17:21] lwander commented on #2655
Going to close for now, please re-open if you see this again

[2018-05-25 17:21] #2655 closed

[2018-05-25 17:35] robertflaig commented on #2408
Submitted fix(Halyard): s3 --bucket not accept s3:// prefix #951

[2018-05-25 17:55] sbwsg commented on #2840
Ah ok so the issue here appears to be that you don't have a k8s v2 provider configured.  The kubernetes account in your hal config, `my-k8s-account`, is set to `providerVersion: v1`.  The manifest stages are only present if you are running the v2 provider.  In older versions of spinnaker the stage dropdown did not correctly filter out the manifest stages which likely explains why you used to see t

[2018-05-25 18:17] nfirvine commented on #2772
Ok, increasing the number of replicas should be pretty easy. Thanks for this hints

[2018-05-25 18:55] tsadoklevi commented on #2840
Thanks a lot! Perfect!

[code]
BTW - Any idea why I received the following (I succeeded with `hal deploy apply` only the third time)?

[code]

[2018-05-25 18:55] #2840 closed

[2018-05-25 19:02] sbwsg commented on #2840
It's difficult to tell exactly what's causing the 503s.  If you continue to see them I recommend capturing halyard's debug output by running the `hal deploy apply` command with the `-d` flag and then including that in a new issue on this repo.  Thanks!

[2018-05-25 19:22] #2797 closed

[2018-05-25 19:31] ezimanyi commented on #2780
The following two pull requests fix the caching bugs I have found to date:
* https://github.com/spinnaker/clouddriver/pull/2663
* https://github.com/spinnaker/orca/pull/2268

I'm still not 100% sure these are the direct cause of the behavior observed here, but they are definitely bugs it's definitely possible they were contributing to the behavior.  Leaving this open as I'll look into this some mo

[2018-05-25 21:09] nc-fosterr commented on #2753
I wonder if this is related to issue here:

https://github.com/spinnaker/clouddriver/commit/a37c1e5e77736ba3c30056f1db5a9747183c3a73

[2018-05-26 06:07] ramimmadi commented on #2798
I have tried deleting the hpa created by spinnaker and created another hpa manually and it does autoscaling. The problem I could see here is the cpu metrics.e.g.
 the hpa created by spinnaker is showing <unknown>/60% and the hpa created manually is showing 10/60
where 60 is my threshold

[2018-05-26 07:14] tweakmy commented on #1988
I started from scratch, that resolves the issues on the clouddriver but I got a different problem compare to last effort.

I STILL CANT create a single application till today. ; (

[code]

[code]

[code]
[code]

[2018-05-26 12:01] KeisukeYamashita commented on #2774
Sorry, I was a bit confused and misunderstand.

 I use CloudLauncher for deploying instance with halyard inside.
And tried to deploy spinnaker by halyard locally.

I looked in my `/var/log/spinnaker/clouddriver/clouddriver.log` in my instance.

I don't know how to look the clouddriver log in my GCE instance.
Can you please tell my how I can find logs of the spinnaker components?

I ran `sudo servi

[2018-05-26 14:04] costimuraru commented on #2037
Trigger is not working with Artifactory Docker Registry + Kubernetes (Spinnaker 1.6.1)

[2018-05-26 15:54] lwander commented on #2414
Closing since it seems to have been resolved in 1.7 -- ping me if it needs to be reopened.

[2018-05-26 15:54] #2414 closed

[2018-05-26 15:56] lwander commented on #2774
Did you use the google cloud launcher? That should have already installed Spinnaker using the halyard on it. It's not intended for anything more than demo work.

If you want an instance to run halyard, I would recommend provisioning a separate instance with Ubuntu 16.04 as the base image and going from there.

[2018-05-26 15:58] lwander commented on #1988
Can you verify using the [s3 client](https://docs.aws.amazon.com/cli/latest/reference/s3/) that you can reach that minio instance with the credentials you've provided? It seems from the front50 logs that those credentials don't have access to your minio install.

[2018-05-26 15:59] lwander commented on #2037
@costimuraru are you pushing to the same tag twice, or creating new tags?

[2018-05-26 16:32] costimuraru commented on #2037
Tried pushing with the same tag twice (actually more times than that).

Also the spinnaker in the trigger config section, I tried to leave the **Tag** empty:
<img width="856" alt="screenshot 2018-05-26 19 28 03" src="https://user-images.githubusercontent.com/952836/40578332-fa98ae62-611a-11e8-8772-2e99b3845735.png">

And also specify the tag:
<img width="861" alt="screenshot 2018-05-26 19 29 21" s

[2018-05-27 14:44] junaid-ali commented on #2566
Faced the same issue on GKE. For me the solution was to update `failureThreshold` to `5`. Also changed the `initialDelaySeconds` to `30` but I think that is not necessary.

[2018-05-28 07:18] wuzhihui1123 commented on #2822
Any clues?  @ttomsu

[2018-05-28 09:38] #2788 closed

[2018-05-28 13:33] tweakmy commented on #1988
I got everything running green now. The copy paste truncate the access-key which cause the access forbidden.

But still back to NoSuchKey error. I still cant create any application, never ending spinner. My entire search screen has empty entries.

[code]

[2018-05-28 13:37] tweakmy commented on #1988
[code]

[2018-05-28 13:47] tweakmy commented on #1988
if anyone is looking for minio deployment:
[code]

[2018-05-28 13:55] tweakmy commented on #1988
is it trying to get to spin-gate on localhost:8084 from spin-deck? It will never reach it using nodeport as my nodeport is mapped to high port number 30084.

[2018-05-28 13:57] nep-group commented on #1988
You should configure override-base-url for ui and api.

[2018-05-28 14:09] tweakmy commented on #1988
hal config security ui edit --override-base-url http://spin-gate.spinnaker:8084???

[2018-05-28 14:50] tweakmy commented on #1988
ok you can close this issue. it was indeed an issue with the override-base-url. This setting should be on the highlighted as part of the https://www.spinnaker.io/setup/install/halyard/.

After that, I am able to create the application. Thank you everyone for helping out.

[2018-05-28 16:57] lwander commented on #2037
This is the intended behavior for the docker registry triggers, since deploying from the same tag is not reproduceable. See more [here](https://www.spinnaker.io/guides/tutorials/codelabs/kubernetes-source-to-prod/#kubernetes-source-to-prod).

You could either

1. deploy a new tag each time, or
2. use webhooks or pub/sub from your registry to push digest changes as shown [here](https://www.spinnake

[2018-05-28 17:15] costimuraru commented on #2037
Thanks, @lwander!
Indeed I just stumbled upon that article which explains it nicely!

I did try to push a new version (`v2`), but the pipeline still did not get triggered automatically after the push :-(. If I try to manually run the Pipeline, it correctly detects the new version:

<img width="589" alt="screenshot 2018-05-28 20 11 25" src="https://user-images.githubusercontent.com/952836/40624116-

[2018-05-29 11:31] #2745 closed

[2018-05-29 12:49] #2739 closed

[2018-05-29 13:22] lwander commented on #2037
Ah so it seems to be a different problem -- could you try to push a new tag, and collect the logs from both igor and echo around that time?

[2018-05-29 14:13] #2738 closed

[2018-05-29 14:31] bggpoort opened #2842 "Allow servicenames up to 63 chars"
### Issue Summary:

Spinnaker doesn't allow loadbalancer names to exceed 24 chars

### Cloud Provider(s):

GCP

### Environment:

Spinnaker 1.7.5 deploying to Kubernetes Engine 1.9.6

### Feature Area:

Deck/Clouddriver

### Description:

Currently Spinnaker allows loadbalancer names with a maximum of 24 chars. As Kubernetes was updated to allow service names up to 63 chars Spinnaker should be upd

[2018-05-29 14:56] #2568 closed

[2018-05-29 17:40] andypeckys-vertex commented on #2153
I am seeing the same behavior

[2018-05-29 17:55] cfieber opened #2844 "Removing release management opinions from core Spinnaker builds"
**Proposal:** Remove most opinions and buildscript dependencies for release management from Spinnaker builds

The gradle project associated with a Spinnaker project should allow a developer to compile, execute tests, and run the application in a local checkout. The developer should not have to understand or care about the release process associated with the project in order to develop on it, parti

[2018-05-29 18:31] cfieber commented on #2844
@jkschneider any opinions on this?

[2018-05-29 19:59] stewchen commented on #2822
I just tested this locally, and the file-based role provider works for me. I would double check that your web cache is cleared and fiat service is healthy?