[2020-07-03 07:53] inverse commented on #5716
@abhijaju did you manage to figure out what was up?

[2020-07-03 11:20] billstark commented on #5650
@sramek5 Hi sorry for bothering, I am working on `gitRepo` provider as well and I got exactly the same issue as you have had: the pipeline fails due to error `UnknownHostKey: xxx. RSA key fingerprint is xxx`. My spinnaker version is 1.19.3 and I have tried your method to generate key with RSA header but still does not seem to work. Do you have any ideas about this? Thank!

[2020-07-03 16:05] sramek5 commented on #4559
Well, same problem here, verion 1.21.0.

We have only omitNamespaces.
I can list other namespaces though, but there is nothing in Infrastructure section.

[2020-07-03 16:28] HaroonSaid opened #5884 "Question: Azure Role Provider"
Looking for guidance on how to configure Azure to be used as role provider

[2020-07-03 17:58] liuya00 opened #5885 "generate pipeline from providing pipeline template via api"
### Issue Summary:
generate pipeline from providing pipeline template via api, face some issue

### Cloud Provider(s):

### Environment:

### Feature Area:

### Description:
when I generate pipeline from providing pipeline template via api, i exectly create succeffuly, but when i check this pipeline in GUI , pop-up window that told me some error like the following:
[code]
please help to resolve th

[2020-07-03 18:00] liuya00 commented on #5885
the api is `/pipelines`
my json data is
[code]

[2020-07-03 19:35] #5310 closed

[2020-07-04 00:05] #5332 closed

[2020-07-04 10:02] raviagarwal101 opened #5886 "spin pipeline save does not work"
### Issue Summary:
On running
`spin pipeline save --file pipeline.json`,
we always get back response as:
`Encountered an error querying pipeline, status code: 404`

### Cloud Provider(s):
AWS

### Environment:

### Feature Area:
spin cli

### Description:
I am trying to automate the pipelines creation using spin cli. But I am unable to create the pipelines using the command:
`spin pipeline save --

[2020-07-04 14:57] erancx commented on #5478
@maggieneterval can we please re-open this bug? we are starting to investigate it on our side.

[2020-07-04 15:05] #4936 closed

[2020-07-04 22:30] #4938 closed

[2020-07-05 08:02] idiamant commented on #1947
We have just encountered the same when upgrading from 1.17.6 to 1.20.6.
The actions from comment https://github.com/spinnaker/spinnaker/issues/1947#issuecomment-330941210  (removing sessions keys) resolved the issue and succeeded to progress with upgrade.

[2020-07-05 13:54] raviagarwal101 commented on #5886
I can confirm that the issue is only with 1.21.0, and it is fixed if rolled back to 1.20.6

[2020-07-05 16:41] dbyron0 commented on #4442
@spinnakerbot remove-label stale

[2020-07-05 19:50] #5479 closed

[2020-07-05 21:34] dbyron0 commented on #5086
@spinnakerbot remove-label stale

[2020-07-05 22:00] #5334 closed

[2020-07-05 22:57] aleon1220 commented on #5509
Back in May there was an issue with ORCA and the creation of the SQL tables in the DB for mariaDB users. I am not sure if is impacting you too.
have you tried again and do you still see the same issues with a newer spinnaker version?

[2020-07-06 00:43] #5877 closed

[2020-07-06 01:16] minkjj opened #5887 "[GCP]Deploying containers on VM is unavailable"
### Issue Summary:
Deploying containers on VM is unavailable

### Cloud Provider(s):
GCP

### Environment:
spinnaker ver 1.20.6

### Feature Area:
deploy>gce

### Description:
Deploying containers on VM is unavailable
Tried to use the image in gcr, but the code shows that only the GCE_IMAGE_TYPE can be used as an artifactory when distributed to GCE.

user can select gcr image when GCE instance lau

[2020-07-06 04:36] ealebed commented on #5648
@spinnakerbot remove-label stale

[2020-07-06 07:18] stregatto commented on #5822
Hi @bcornils I'm suffering the very same issue @inge4pres raised.
How can I help you to better understand or resolve this issue?

[2020-07-06 07:51] mercury200Hg commented on #996
So basically when you have URL's set like -
`services:
  deck:
    baseUrl: https://my.spinnaker.com
    gateUrl: ${services.deck.baseUrl}/gate`

Post SAML authentication, even if your identity provider is hitting

The request is served by deck and not gate.

Hence it's good to use -
`services:
  deck:
    baseUrl: https://my.spinnaker.com
    gateUrl:  https://gate.my.spinnaker.com`

or alternati

[2020-07-06 09:05] minkjj commented on #5720
+1 same issue in 1.19.6

[2020-07-06 09:45] 78722689 commented on #3284
@rverma-nikiai  a year was gone, but it seems it is still not possible to trigger the new HELM chart artifact with a particular version such as 0.1.1 now as I just had a try on Spinnaker 1.12.5?
Anybody know how to trigger a particular HELM chart with Webhook? Thanks in advance.

**// My Webook API call**
        curl ${SPINNAKER_URL}/${WEBHOOK_API} -X POST -H "content-type: application/json" \

[2020-07-06 09:53] vijay-sapient commented on #5852
Hi @ethanfrogers yes these are secrets being used over deployment. we use https://github.com/GoogleCloudPlatform/berglas to manage our passwords/keys, so it has to be pulled from jenkins, and sent to spinnaker through a jenkins stage. here Spinnnaker only accepts the property file.

Just to test I replaced stage.context.propertyFileContents to stage.context.propertyFileContentsignore in core~apps.

[2020-07-06 13:56] maggieneterval commented on #5756
So happy to hear you're getting more involved with the project, @aleon1220! I've been working on Spinnaker for almost two years and still am intimidated by how huge the project is and how much I still don't understand, so we're all in the same boat! 😄

[2020-07-06 14:51] devorbitus commented on #5876
I would recommend something [like this](https://blog.spinnaker.io/spinnaker-echo-google-cloud-functions-stackdriver-logging-spinnaker-audit-log-81139f084db9) to archive events to a secure location for audit purposes.

[2020-07-06 15:29] aglover-zendesk commented on #5786
My issue resulted from having the `moniker` set to a different value than the `application` in our `deployManifest` stages. If you create a pipeline via the UI, apparently it sets these values for you (`moniker` isn't even visible in the UI) but we are defining our pipelines via code.

For posterity, your stages should look something like this:
[code]

[2020-07-06 20:33] ryandcartwright opened #5888 "Support AWS CloudWatch as a metric source for Kayenta"
### Issue Summary:
There are a lot of companies that use AWS CloudWatch as a time-series database for Application and Infrastructure Monitoring. These companies are asking for AWS CloudWatch as a requirement for them to use Kayenta. CloudWatch now supports 1-minute granularity of data.

Duplicate issue here: https://github.com/spinnaker/kayenta/issues/757

### Cloud Provider(s):

AWS

### Environm

[2020-07-06 21:22] atyutyunnik opened #5889 "1.21's orca fails a Run Job (Manifest) with "no property containers[0] on" error message"
### Issue Summary:
Spinnaker 1.21 orca fails a Run Job stage with `java.lang.IllegalArgumentException: no property containers[0] on [activeDeadlineSeconds:null` error message

### Cloud Provider(s):
Kubernetes

### Environment:
Spinnaker 1.21

### Feature Area:
Orca

### Description:
After upgrade from Spinnaker 1.20.6 to 1.21.0, my `Run Job (Manifest)` stages fail:
[code]

### Additional Details:

[2020-07-06 21:47] ezimanyi commented on #5889
This is almost certainly due to spinnaker/orca#3760.  @marchello2000 @cfieber @srekapalli , can one you please take a look?

I suspect that the issue is that the new `setNestedValue` function doesn't handle cases where there's an array index in the expression (ex: `property.subproperty[1].value` or something).

[2020-07-06 22:03] maggieneterval commented on #5757
I've added new documentation to Halyard on deprecating fields: https://github.com/spinnaker/halyard/pull/1744
We will be using the `ValidForSpinnakerVersion` annotation to deprecate fields rather than removing them from Halyard once no supported Spinnaker version supports them.

[2020-07-06 22:03] #5757 closed

[2020-07-06 22:18] ezimanyi commented on #5731
@manuelaguir : I suspect what's happening in your case is that Spinnaker is falling back to the namespace specified in `/var/run/secrets/kubernetes.io/serviceaccount/namespace`, in the absence of any namespace specified in the `kubeconfig` file.  There's some info on that file [here](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#accessing-the-api-from-a-pod).

Ultimat

[2020-07-07 03:13] axot commented on #5678
Hello, with setup cleanup agent, the memory usage has been greatly improved. We found these days memory usage raised again. I did a simple investigation below,

1. Is it safe to delete `kato:taskmap` and `kubernetes:event`?
2. If [1] is yes, should we delete these keys using a cron job?

Thanks.
[code]

[2020-07-07 05:10] sagayd commented on #5863
All of the custom service files - deck.yml, gate.yml, front50.yml, clouddriver.yml, rosco.yml, echo.yml, igor.yml, orca.yml, fiat.yml, and kayenta.yml have the same content
[code]
I suggest we create one more section for Deployment something like below
[code]

[2020-07-07 05:55] #5464 closed

[2020-07-07 08:01] RefRec97 opened #5890 "Spinnaker CORS Issues when connecting from a different Subnet"
### Issue Summary:
We have Spinnaker set up in a local Kubernets Cluster. We (having IPs like 10.49.134.34) can use Spinnaker just fine. But Colleagues from a different Subnet (with IPs like 172.20.6.54) can access Spinnaker, but on trying to view Pipelines, they cant see them, and get CORS errors. using the hal config api edit --cors-access-pattern sadly did not work. We have keycloak for Securit

[2020-07-07 08:55] vide commented on #5167
@spinnakerbot remove-label stale

[2020-07-07 20:05] ezimanyi commented on #5786
@p3rshin : I'm wondering if the issue that @aglover-zendesk ran into (and solution) might help you here.  Essentially what happens is that the request to fetch a manifest from clouddriver does two permission checks:
* That the user has permission to the account in question
* That the user has permission to the app specified on the manifest's app
  * In cases where a `moniker.app` is explicitly spe

[2020-07-07 22:25] sdpoueme commented on #5786
We saw the same issue today on Spinnaker 1.19.5
The pipeline was patching an existing spinnaker an istio service ingress gateway and the moniker annotation was getting removed during that process and it was leading to the exact same error:

[2020-07-08 02:38] allisaurus commented on #5528
Closing due to lack of recent changes and age (now 2 versions old). Feel Free to reopen if this continues to be seen in later releases.

[2020-07-08 05:09] HaroonSaid commented on #3490
We use ECS and can't seem to get the project page to display
using 1.21.0

[2020-07-08 12:47] cablespaghetti opened #5891 "Spin 1.17 doesn't work with OAuth cachedToken"
### Issue Summary:
Spin 1.14 works fine with this config file, but Spin 1.17 does not despite there being no change in the documentation as far as I can see.
[code]
The error with 1.17
[code]

If this is a documentation issue, the page I'm following is here: https://spinnaker.io/setup/spin/#access-and-refresh-token

Thanks

[2020-07-08 13:09] jervi commented on #5829
We're actually experiencing this problem as well, and we're using Aurora, not Mysql. I'm starting to believe this might not be database dependent, but rather a problem with the SQL provider in general. We also have a huge number of accounts configured in Spinnaker. I think Netflix still only have relatively few accounts? Can this be some kind of concurrency issue triggered by indexing a lot of acc

[2020-07-08 14:27] #5433 closed

[2020-07-08 16:25] ishagarg01 opened #5892 "Front50 to switch off Public access on Azure Blob Containers"
### Issue Summary:
Front50 is giving public/anonymous access to azure blob containers through code. Below is the code snippet from AzureStorageService.java file:
![image](https://user-images.githubusercontent.com/50055100/86943964-193b1d80-c115-11ea-9890-b07a6b2d2193.png)

In the above snippet,  permissions.setPublicAccess(BlobContainerPublicAccessType.CONTAINER); this to be changed to  permission

[2020-07-08 21:49] aleon1220 commented on #5756
Your words are very encouraging. Thanks.

[2020-07-08 22:42] ezimanyi commented on #5786
@sdpoueme : I'd be interested in more details if you figured out how that annotation was being removed.  Was this something that was initially deployed by Spinnaker (and that should have had the annotation), but the patch operation was removing it?  Or was it initially deployed outside of Spinnaker and Spinnaker was only used to do the patch (in which case it likely would never have had that annot

[2020-07-09 04:37] hehe717 commented on #4208
I have same issue too.

[2020-07-09 14:38] maggieneterval commented on #5756
Based on how many users are running an unsupported version of Spinnaker, I think it might be worth leaving the legacy docs around indefinitely (or at least longer than the 1.23 release), so I'm going to close this for now and we can re-evaluate when we have a better understanding of how documentation for unsupported releases fits into the new docs site versioning plan.

[2020-07-09 14:38] #5756 closed

[2020-07-09 16:29] silvez-dh commented on #5367
Experiencing the same here

`spin --version`
`version 1.14.0`

[2020-07-09 16:42] KumarS86 opened #5894 "Not able to change account in the Step 'Configure Deployment Cluster' - add server group"
### Issue Summary:
The option to change the account under add server group is not working and it sticks to the default account.

### Cloud Provider(s):
Google cloud platform

### Environment:
Production

### Feature Area:
Spinnaker/Deck

### Description:
The issue is with the component Deck on version 3.0.2 where it is not allowing to change the account under deploy stage -> deploy configuration -

[2020-07-09 17:11] #5749 closed

[2020-07-09 17:41] silvez-dh commented on #5891
Same issue here (spin version as well) but using Github instead

[2020-07-09 17:50] silvez-dh commented on #5367
I guess the issue should be related to the need to configure the `callback url` to http://localhost:8085 according to https://spinnaker.io/setup/spin/#client-id-and-client-secret

But to properly work the `callback url` for Github oauth2 should point to deck endpoint (ex: https://spinnaker-deck.stg.com/login)

Setting the `callback url` to http://localhost:8085 o Github works but break the access

[2020-07-09 18:51] jaredstehler commented on #5773
closed via #779

[2020-07-09 18:51] #5773 closed

[2020-07-09 19:14] jaredstehler opened #5895 "Igor fails to parse concourse build resources from some job plans"
### Issue Summary: The build plan json structure is recursive in nature and the current pojo-mapping-based parser fails to read all defined resources in certain cases, depending on nesting of on_success/on_failure.

### Cloud Provider(s): K8s / Concourse

### Environment: AWS, Spinnaker 1.19.11, Concourse v6.3.0

### Feature Area: Concourse CI integration, build monitor

### Description: PR forthc

[2020-07-09 20:30] #5491 closed

[2020-07-09 20:39] HaroonSaid opened #5896 "Server Group not showing in UI - V1.21.0"
### Issue Summary:
After upgrading to version 1.21.0 when selecting an application and selecting a cluster, the Server Group UI doesn't appear

### Cloud Provider(s):
AWS

### Environment:
Production

### Feature Area:
Deck

### Description:

### Steps to Reproduce:

### Additional Details:
<img width="1208" alt="Screen Shot 2020-07-09 at 1 40 13 PM" src="https://user-images.githubusercontent.com/

[2020-07-09 22:15] #5489 closed

[2020-07-09 22:16] guido9j commented on #5836
@ezimanyi : Now that this issue been resolved. Am I supposed to close this issue?

[2020-07-09 22:20] #5493 closed

[2020-07-10 08:35] Mahito opened #5897 "monitoring-daemon couldn't access services metrics endpoint on the k8s pod"
### Issue Summary:

[code]

### Cloud Provider(s):

- kubernetes

### Environment:

- GKE: 1.14.10-gke.36
- halyard: 1.37.0-20200630110018
- Spinnaker: 1.21.0

### Feature Area:

halyard

### Description:

I expected to get metrics, however the log showed some error as follow.

[code]

These error happened orca, gate, echo, etc...

### Steps to Reproduce:

- Deploy Spinnaker to Kubernetes
- Enable

[2020-07-10 10:13] shashipratap opened #5898 "include openstack provider"
Page: [/reference/providers/](https://www.spinnaker.io/reference/providers/)

Feedback: Big telecom companies are using openstack for their Network Cloud.
can you include it again ? without openstack it is not usable for them

[2020-07-10 14:27] ezimanyi commented on #5836
@guido9j : I ended up merging the test cases, so I think this can be closed.  Thanks for following up!

[2020-07-10 14:27] #5836 closed

[2020-07-10 14:42] ezimanyi commented on #5865
@vijay-sapient : Thanks for reporting this issue!  I'm not sure I fully understand exactly what's happening.  Can you provide more information about where you're seeing the double dash, and what you'd expect to see?  Is this in the actual output manifest after running Helm?

[2020-07-10 14:50] vijay-sapient commented on #5865
Hi @ezimanyi , Thanks for the response.

We need them to double dash. We have argo custom CRD's which uses double dash. https://github.com/argoproj/argo/blob/master/examples/README.md (search for double dash to see some examples)

**For example:-** when i use the below in deploy stage.
- - name: call-ingest-template
templateRef:
name: ingest-template
template: ingest

deploy stage is converting it

[2020-07-10 16:48] dorbin commented on #5898
@emjburns , for comment

[2020-07-10 17:24] ouyangz314 opened #5899 "Enable Spinnaker to handle retry for accessing GCS objects"
### Issue Summary:
GCS can run into problems on 503 service unavailable [1] (expected) when GCS object is accessed at high frequency and it can cause the build script to fail. The request would succeed on retry and GCS has a standard design to handle this issue by using exponential backoff for retry [2]. Spinnaker does not seem to have this feature implemented to automatically handle this error an

[2020-07-10 17:44] maggieneterval commented on #5883
Hi @silvez-dh! Thanks for taking the time to open this issue.

Have you tried configuring your accounts with the `--only-spinnaker-managed` flag set to true? (See [here](https://spinnaker.io/reference/halyard/commands/#hal-config-provider-kubernetes-account-edit) for Hal CLI docs and [here](https://github.com/spinnaker/kleat/blob/master/docs/docs.md#kubernetesaccount) if you are using Kleat or han

[2020-07-10 17:44] #5883 closed

[2020-07-10 18:08] maggieneterval commented on #5845
Hi @ganguay!

I am unable to reproduce this problem. I've configured a pipeline with an expected artifact whose reference contains a parameter value referenced with SpEL, and am able to re-run it successfully. It has the following expected artifact and parameter configuration:

[code]

The execution details of the re-run have the following `trigger` section as expected, with the artifact section f

[2020-07-10 18:15] #5500 closed

[2020-07-10 19:34] ouyangz314 commented on #5899
Here is the configuration for the build file:
gcs
enabled: true
  project: project_name
  bucket: "$bucket_name"
  jsonKey: [redacted]

[2020-07-10 20:46] #5775 closed

[2020-07-10 21:04] plumpy commented on #5898
We can't include code that doesn't have an owner. No one actively involved with the project is familiar with Open Stack. If you would like to own it, we have [a list of requirements for owning a cloud provider](https://github.com/spinnaker/governance/blob/master/cloud-provider-requirements.md).

[2020-07-10 21:04] #5898 closed

[2020-07-10 22:26] allisaurus commented on #5605
Adding a CloudWatch metrics endpoint for ECS has been suggested as a potential [Spinnaker Gardening day](https://spinnaker.io/community/gardening/) project! A contribution like this would make it possible to retrieve ECS cluster and service metrics for display in Deck (some of the asks in the body of this issue).

Here's some implementation info for anyone interested in participating or otherwise

[2020-07-10 22:26] ezimanyi commented on #4746
This is fixed in 1.18.0.  Sorry for the lack of response on this issue, we've started being more rigorous about triaging incoming issues, so noticed the duplicate spinnaker/spinnaker#5283 when it was reported.

[2020-07-10 22:26] #4746 closed

[2020-07-10 22:39] ezimanyi commented on #5626
We're starting to scope out #5676, and the tentative plan there would involve no longer storing the full Kubernetes YAML in the pipeline context.  This should address the two related issues here:
(1) When Orca SpEL-evaluates the context, it will no longer evaluate the manifest, which what is leading to warnings for any non-escaped `$`.  There will still be an option to do a single pass of SpEL eva

[2020-07-11 00:20] #5270 closed

[2020-07-11 00:20] #5211 closed

[2020-07-11 02:45] #5399 closed

[2020-07-11 03:38] friendly-pineapple opened #5900 "Spin CLI is unable to create new pipelines after updating to Spinnaker 1.21.0"
### Issue Summary:
Aloha!

We are seeing an issue where the `spin` CLI is unable to create new pipelines after we have updated Spinnaker to `1.21.0`. For reference, we are running `spin` CLI version `1.17.0`.

### Cloud Provider(s):
GCP

### Environment:
Spinnaker deployed into GKE cluster.

### Feature Area:
Pipelines / `spin` CLI

### Description:
`spin` CLI is unable to create new pipelines, an

[2020-07-11 04:12] friendly-pineapple opened #5901 "Pipeline execution requests via webhook triggers are lost"
### Issue Summary:
Aloha!

We are seeing an issue where pipeline execution requests via webhook triggers are lost. After making an HTTP request to the configured webhook URL, we do see a successful `200` status code, with a response that looks like:

[code]

However, the pipeline is actually never executed (we do not see anything in the application's web page, or via `spin pipeline execution list`

[2020-07-11 08:05] #4551 closed

[2020-07-11 17:38] jaygorrell commented on #5539
Still seems to be an issue on the latest version.

@spinnakerbot remove-label stale

[2020-07-11 18:20] #5423 closed

[2020-07-11 21:00] #5403 closed

[2020-07-12 12:15] #5155 closed

[2020-07-12 12:30] NicolaiSchmid commented on #2047
@spinnakerbot remove-label stale

[2020-07-12 16:40] #5108 closed

[2020-07-12 16:40] #4948 closed

[2020-07-12 17:40] #4915 closed

[2020-07-12 17:50] shubhamc183 commented on #5331
@Crazyigor1987 did you also use Keycloak for Authorization? Also, can we use generic OIDC for authorization for the Spinnaker apart from Google Groups, Github teams, SAML?

[2020-07-12 18:32] allisaurus commented on #5400
This feature has been suggested as a potential [Spinnaker Gardening day](https://spinnaker.io/community/gardening/) project! Here's some implementation info for anyone interested in participating or otherwise working on this.

## Capacity provider concepts and setup

[Capacity providers](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cluster-capacity-providers.html#capacity-providers-

[2020-07-13 00:30] #5153 closed

[2020-07-13 02:15] kskewes commented on #5901
What is your backing for Front50? Object storage or SQL?

We saw consistency issues when using MinIO in cluster and had to put bash sleeps between `spin save` calls.
Moving to SQL enabled us to delete these sleeps.

[2020-07-13 05:16] ganguay commented on #5845
@maggieneterval thank you for getting back... am checking the configuration.. will update more details regarding the same

[2020-07-13 05:52] sakshi-bansal commented on #5872
Yes, the user trying to deploy has access to deploy on the namespace. But it seems to fail with the default user permission.

[2020-07-13 06:00] #5290 closed

[2020-07-13 08:56] silvez-dh commented on #5883
thanks for the support @maggieneterval ! haven't tried it yet, will reopen case it persists.

[2020-07-13 10:52] shubhamc183 opened #5902 "Halyard not allowing to map roles from OIDC, KeyCloak, in OAuth2 UserInfoMapping"
### Issue Summary: Not able to map roles from OIDC, KeyCloak, in OAuth2 UserInfoMapping

### Cloud Provider(s): Kubernetes
[code]

### Halyard
[code]
### Environment: Distributed

### Description:
I am trying to use OIDC, [Keycloak](https://www.keycloak.org/) for **authentication** and as well as **authorization**. Authentication is working fine and I am able to log in user from KeyCloak. I want t

[2020-07-13 11:01] idiamant opened #5903 "Halyard config check timeouts (over 1 min)"
### Issue Summary:
When running `hal config` to just validate the configuration changes done manually, takes longer than 1 min, causes the request to timeout. Running `hal deploy apply` runs the config part first, and it does work, because there is an override of the default timeout to 30 min.

### Cloud Provider(s):
Specifically timeout exceeds on Docker Registry Account Validation step, but it's

[2020-07-13 12:07] silvez-dh commented on #5367
Temporaly solved this creating another Github oauth application (pointing to the `callback url` to localhost:8085) only for spincli usage.

Strange that `redirect_uri` parameter that spincli generates when trying to authenticate (correctly pointing to localhost:8085) are not being respected and keeps returning to the `callback url` configured in the oauth application on Github

[2020-07-13 14:58] ezimanyi commented on #5865
@vijay-sapient : Thanks for the details!  I was able to reproduce the exact issue, and tracked it down to a subtle bug in how we are doing SpEL evaluation.  I'll have a fix shortly and will link it back to this issue.  As the fix is a bit risky (and this behavior has been around for a long time) I won't be able to cherry-pick this fix back to current release branches, but this will be fixed in the

[2020-07-13 15:00] vijay-sapient commented on #5865
Thanks a lot @ezimanyi. I will keep an eye, and test it out once its out.

[2020-07-13 16:18] perek opened #5904 "Notifications do not fire when unmatched expected artifact"
### Issue Summary:
When a pipeline and/or application is configured to send notifications and the pipeline execution fails due to unmatched expected artifact no notifications fire.

### Cloud Provider(s):
n/a

### Environment:
production 1.19.11

### Feature Area:
Echo

### Description:
Pipeline notifications do not behave as expected likely due to how the notification handler is implemented.

###

[2020-07-13 17:52] andrijaperovic commented on #5900
Is there a timeline when this will be fixed @maggieneterval ?

[2020-07-13 17:57] maggieneterval commented on #5900
Hi @andrijaperovic! I'm on Spinnaker build cop rotation this week, so I'm tagging all newly opened issues with their appropriate SIG labels. Since there isn't currently a SIG that owns Spin CLI, I don't know that any core contributors will be actively looking into a fix, but a community-contributed fix for this issue would be welcome!

[2020-07-13 18:05] ezimanyi opened #5905 "Decrease the number of Kubernetes resources we cache"
### Overview

The Kubernetes provider exhaustively adds the full manifest for any kind that it can read to the cache.  In most cases, the cost of this caching outweighs the benefit, and contributes to difficultly scaling the Kubernetes provider to large deployments.

The goal here is to re-think what we cache, and only cache things when it actually does lead to better performance than making live

[2020-07-13 18:13] ezimanyi opened #5906 "Remove liveManifestCalls in favor of one sensible cache refresh strategy"
## Overview

The `liveManifestCalls` flag was added to address speed up deployments so that they no longer had to wait for one (or more) caching cycles before they completed.  Unfortunately, this leave the cache in an inconsistent state, which makes some later tasks (ex: dynamic target selection) fail.

Let's come up with one simpler strategy that does not depend on a flag.  Namely, let's always d

[2020-07-13 18:17] ncknt commented on #5905
CRDs (or event standard kinds) can be changed via plugins.

[2020-07-13 18:23] ezimanyi commented on #5905
@ncknt : Do you have some more details about how these can be changed via plugins?  What changes are possible, and how does a user configure them?

Ultimately the goal here is that the default caching strategy should be more sensible, and only cache things where the benefit of caching outweighs the cost.  In the case of CRDs, we're caching the full text of all deployed CRDs, when in general the on

[2020-07-13 18:24] ezimanyi opened #5907 "Improve the performance of the task that waits for resources to stabilize"
## Overview

## Details

* Consider using the [kubectl watch API](https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes).
* Refactor the Orca/Clouddriver contract around resource stability: have Orca simply pass the resource coordinates to Clouddriver and get back whether or not it is stable, rather than duplicating some stability logic in Orca. Need to invest

[2020-07-13 18:33] ezimanyi commented on #5871
@harikumarks : Thanks for the detailed issue!  Agreed on all of the points above that this would be something useful to have better support for CRDs.  Ideally it would be possible to get simple support for CRDs without even needing to write custom overriding classes.

It looks like we do already in the config allow kinds to be mapped to Spinnaker kinds, but this mapping is not used in all places w

[2020-07-13 18:34] #5865 closed

[2020-07-13 18:52] ncknt commented on #5905
You can load new `KubernetesHandler` via a plugin and start deploying versioned CRDs (for example). It doesn't really change anything other than perhaps not just built-in kinds have their version managed by Spinnaker.

Did you mean dynamic here? Isn't it for these stages that the name of the manifest is dynamically retrieved?

[2020-07-13 19:06] maggieneterval opened #5908 "Kubernetes caching agents should make more targeted queries against clusters"
## Overview

In addition to caching [fewer types of resources](https://github.com/spinnaker/spinnaker/issues/5905), Clouddriver should store the minimum data necessary about each relevant resource, and replace cache lookups with live calls where appropriate.

## Details
- Currently, we are fetching and storing the entirety of a resource’s JSON representation. We should instead only query for and s

[2020-07-13 19:15] maggieneterval opened #5909 "Kubernetes operations should not include the entire manifest in pipeline context"
## Overview

Currently, Kubernetes operations include the entire manifest in the pipeline context, leading to performance problems such as execution details failing to load. We should instead pass the full manifest across the wire the minimum number of times necessary among Deck, Orca, and Clouddriver, and then persist only a reference to the operated-upon resource (and possibly a snapshot of the

[2020-07-13 19:19] ezimanyi commented on #5905
@ncknt : Yes, we'd definitely keep compatibility with the current ability to override a `KubernetesHandler`.  This would be a lower-level change, where we'd no longer automatically fill the cache with the full manifest for every kind (whether built-in or CRD).  The cache would instead focus on supporting queries that are expensive to do without the cache.  If there are queries that CRD handlers ca

[2020-07-13 19:26] maggieneterval opened #5910 "Give users control over whether manifests are SpEL-evaluated"
### Overview:

A number of issues have been reported due to Spinnaker attempting to evaluate `${}`-wrapped expressions not meant for Spinnaker to evaluate as SpEL. There is a partial solution in place for manifests supplied as artifacts, but we should give users the option to guarantee that Orca will never attempt to evaluate SpEL in certain manifests, regardless of whether they are supplied as te

[2020-07-13 19:47] ezimanyi commented on #5676
Unassigning now that this is in our active tracking project.

[2020-07-13 19:47] ezimanyi commented on #5643
Unassigning now that this is in our active tracking project.

[2020-07-13 19:48] ezimanyi commented on #5607
Unassigning now that this is in our active tracking project.

[2020-07-13 19:54] ezimanyi commented on #5865
Fixed in `kork`; the fix was then pulled into `orca` in spinnaker/orca#3818.

[2020-07-13 21:26] ncknt commented on #5905
I see. It's dynamically static :) Thanks for the explanation.

[2020-07-13 22:59] kskewes commented on #5819
Had another look at this and see this `igor` return a `400` to `echo-worker`

[code]

I'm not sure why the version is on the end of the path and I can't figure out the swagger-ui.html call to get the artifact.

[2020-07-13 23:56] CyrusKOCI opened #5911 "Spinnaker - Oracle Load Balancer Regional Subnets don't work"
### Issue Summary:
Observed on Spinnaker with distributed deployment type (Kubernetes). When creating Load Balancer, regional subnets are not supported. VCN must have two AD Subnets which need to be selected when creating the Load Balancer. If either of the two or both are regional subnets then Load Balancer creation fails.

### Cloud Provider(s):
Oracle Cloud & Oracle Object Storage

### Environm

[2020-07-14 04:51] ryanwoodsmall commented on #5071
@spinnakerbot remove-label stale

[2020-07-14 04:53] harikumarks commented on #5871
@ezimanyi thanks that makes sense. Do you think we could at least fix Issue 1 and maybe Issue 2-  Which could be simply fixed by exposing the kind name( without api fix) and  and using that in the aforementioned code. Issue is more relevant and may not fixed by caching changes as i was specifically referencing liveManifestCalls.
I can raise a separate bug if you agree

[2020-07-14 06:29] ganguay commented on #5845
Hi @maggieneterval have added the pipeline json along with the screenshot of the error,let meknow if this helps..
![Screenshot from 2020-07-14 11-49-37](https://user-images.githubusercontent.com/48548084/87391719-e12a5380-c5c8-11ea-887e-8185f6d37ff7.png)
[pipelinejson.docx](https://github.com/spinnaker/spinnaker/files/4916962/pipelinejson.docx)

[2020-07-14 06:53] achew22 opened #5912 "Front50 GCS SSLHandshakeException on data refresh"
### Issue Summary:

When my Front50 node attempts to refresh data from my cluster, it prints out the difficult to decipher error message of:

[code]

along with a stack trace (included at the trailer of this issue description).

### Cloud Provider(s):

* GCP

### Environment:

* Installed by Kleat on a GKE instance
* GKE is configured with [Workload Identity](https://cloud.google.com/kubernetes-en

[2020-07-14 08:40] papanito commented on #4314
@spinnakerbot remove-label to-be-closed

[2020-07-14 12:30] vijaypremnath commented on #5858
I have a similar issue. My pubsub trigger doesnt work at all.  All i see in echo logs is below related to pubsub. Is there a way to manually validate whether echo can reach my google pubsub messages?

2020-07-14 12:22:13.726  INFO 1 --- [           main] c.n.s.e.p.google.GooglePubsubMonitor     : Starting async connections for Google Pubsub subscribers
2020-07-14 12:22:13.738  INFO 1 --- [

[2020-07-14 13:56] hugocortes opened #5913 "Spin CLI v1.17.0 - unable to authenticate with oauth2"
### Issue Summary:
I receive this error when attempting to authenticate using oauth2 on spin cli version 1.17.0:
[code]
If spin config has `cachedToken` object then spin cli will fail to serialize the config file and get this error:
[code]

Downgrading to 1.14.0 using the same config file works just fine.

### Cloud Provider(s):
n/a

### Environment:
Spinnaker deployed on baremetal
spin cli v1.17.

[2020-07-14 14:28] plumpy commented on #5910
This feels like the sort of hacky thing you do when you're using a library you don't have any control over. Is there really not a better way to tell it not to process the SpEL? I suppose the difficulty is that you _do_ want it to process the SpEL elsewhere in the pipeline, just not in the manifest?

[2020-07-14 14:43] maggieneterval commented on #5910
😭 Completely agree. My understanding is that [SpEL v4](https://github.com/spinnaker/orca/pull/3286) is an incremental step toward a world in which all SpEL evaluation occurs in a predictable order during Evaluate Variables stages, and other stages can only reference those variables (but not actually include any SpEL expressions to be evaluated in their contexts). I can imagine a less hacky solutio

[2020-07-14 14:51] maggieneterval commented on #5911
Hi @CyrusKOCI, thanks for taking the time to open this issue! Just wanted to let you know that I'm not sure anyone is currently working on the Oracle provider. See [this issue](https://github.com/spinnaker/governance/issues/127) for more details.

[2020-07-14 15:19] plumpy commented on #5899
Do you happen to have a stack trace showing the 503?

[2020-07-14 15:45] cwadley commented on #5913
We are also seeing this issue

[2020-07-14 16:18] sdpoueme opened #5914 "Helm3 Bake Manifest fails when lookup method is called from tpl logic"
### Issue Summary:

A spinnaker pipeline is failing when baking a manifest. The helm chart includes a secret which is built based on some conditional logic located in a tpl file. The logic in the tpl file looks up for a resource that is supposed to be located on the target cluster, but when Spinnaker bakes the chart, it tries to read that resource from its runtime cluster.

### Cloud Provider(s):

[2020-07-14 16:34] gal-yardeni commented on #5852
hi @vijay-sapient, we have a CI sig meeting tomorrow at 10:00 am PST, will you be able to join us so we can discuss it? thanks!

[2020-07-14 16:35] gal-yardeni commented on #5797
closing this ticket as a fix for it was merged.

[2020-07-14 16:35] #5797 closed

[2020-07-14 16:38] gal-yardeni commented on #5807
@exploiz65 I'm sorry to hear it! next time you can ping us on slack and we will make sure to admit you in the meeting.
Are you still facing this issue?

[2020-07-14 16:39] gal-yardeni commented on #5813
ping @rverma-jm  -- are you still facing this issue? will you be able to join our sig meeting tomorrow at 10:00 PST?

[2020-07-14 16:43] gal-yardeni commented on #5823
@ajordens appreciate your help here -- it looks like a gate issue which is not related to CI, how can we triage it better?

[2020-07-14 17:25] alexgaganashvili opened #5915 "Please Add Support for HELM_EXPERIMENTAL_OCI=1"
Please refer to https://helm.sh/docs/topics/registries/

Thanks

[2020-07-14 17:36] ouyangz314 commented on #5899
Yeah, here is the trace our customer received:

com.google.api.client.googleapis.json.GoogleJsonResponseException: 503 Service Unavailable
{
  "code" : 503,
  "errors" : [ {
    "domain" : "global",
    "message" : "Backend Error",
    "reason" : "backendError"
  } ],
  "message" : "Backend Error"
}

[2020-07-14 17:44] plumpy commented on #5899
Is there a stack trace in the Spinnaker logs?

[2020-07-14 17:44] plumpy commented on #5899
i.e. a Java stack trace showing what code was running that got this error

There might not be one, but if they had one it would be very helpful...

[2020-07-14 18:38] vijay-sapient commented on #5852
Hi @gal-yardeni sure i can

[2020-07-14 18:47] CyrusKOCI commented on #5911
Hi @maggieneterval. Thank you for linking that issue. I'll give it a look!

[2020-07-14 18:50] achew22 commented on #5912
I woke up this morning and the issue has magically resolved itself. I'm going to leave this open in case you would like me to do more research into something, but I wonder if I was hitting a broken GCS node?

[2020-07-14 18:52] maggieneterval commented on #5845
Hi @ganguay, thanks for sharing your pipeline JSON!

I think the issue here can be resolved if you remove the pipeline expression from your `matchArtifact`; although regular expressions are supported in `matchArtifact` fields, I do not think that SpEL expressions are (Please see [this comment](https://github.com/spinnaker/spinnaker/issues/3926#issuecomment-460392167) on a similar issue for more co

[2020-07-14 18:52] #5845 closed

[2020-07-14 20:15] ezimanyi commented on #5871
@harikumarks : I think that the simpler fixes above could probably be fixed without waiting for the other work that's in progress.  In particular:
(1) I think this should be easy to do as a small/targeted fix.  I don't think we should modify `toString` as there are a lot of other places that are expecting a fully-qualified name (to distinguish between kinds of different names but the same api grou

[2020-07-14 20:39] gal-yardeni commented on #5862
@roopakv This is a great idea!
Few comments:
1. If you were to submit an actual RFC, you will need to provide more details and examples here :)
2. Since you can actually just go ahead and start implementing it, there's no need for an RFC in this case.
3. The best and recommended way to add a CI provider to Igor is by **adding a plugin**.
Here's an example of a drone CI provider plugin, which you c

[2020-07-14 22:18] ouyangz314 commented on #5899
Let me ask the customer to see if they have the Java stack trace.

[2020-07-15 01:28] blackcat-lin commented on #4684
I just add more k8s accounts and got that issue again.  And I had to add the header size in  clouddriver-local.yml, fiat-local.yml, front50-local.yml,  gate-local.yml and orca-local.yml to avoid the UI error such as can view project and pipelines in the application.

[2020-07-15 03:40] shubhamc183 opened #5916 "nodeSelectors not getting repsected for deployment of Spinnaker"
### Issue Summary: nodeSelectors not repsected

### Cloud Provider(s): Kubernetes
[code]

## Halyard
[code]

### Environment: Distributed

### Description:

I have used the Halyard configuration as

[code]

**But halyard as well all the microservices pods are not getting deployed on the nodes which have the label `spinnaker:true`.**

[2020-07-15 04:33] roopakv commented on #5862
@gal-yardeni where / how do i join the sig meeting?

[2020-07-15 05:26] gal-yardeni commented on #5862
@roopakv here's a link: https://meet.google.com/yec-pgcf-gxx for the meeting tomorrow at 10:00 am PST. We have a meeting once a month. Here's a link to the agenda: https://docs.google.com/document/d/1vV5lzBydtPQVwIADxdb7eKqq5yoBhA4pEJrxksLuXdE/edit , you can add items as you wish!
For ad hok issues, you can use #sig-ci slack channel.

[2020-07-15 08:27] paovitali commented on #5822
@bcornils Hi, thanks for adding this to SIG agenda, we've added a reminder in slack #fiat channel to start a conversation over it, is there any other action we can do in order to tackle the issue as we are still experiencing it? Thanks

[2020-07-15 12:42] silvez-dh opened #5918 "endless redirects when userInfoRequirements for github oauth is set"
### Issue Summary:
Whenever authn **userInfoRequirements** parameter is set (to enforce authentication security), Github Oauth authentication falls into an endless 302 loop in the spinnaker UI

### Cloud Provider(s):
k8s

### Environment:
Spinnaker version: 1.19.12, 1.20.6 and 1.21.0 (deployed via helm), backend S3 + redis
Running on EKS cluster
Oauth provider is Github
Authz provider type is Gith

[2020-07-15 13:30] dblackdblack opened #5919 "Missing recent halyard .debs on dl.bintray.com/spinnaker-releases/debians"
The latest published halyard deb is 0.34.0:
[code]
(after running apt-get update)

The relevant apt sources list lines:
[code]

In the sources.list lines I tried replacing `trusty` with `xenial` and `focal`; no improvement

[2020-07-15 14:04] #5919 closed

[2020-07-15 17:00] snorlaX-sleeps opened #5920 "[AWS] Spinnaker unable to deploy AMIs for account when it is not the primaryAccount in the Clouddriver configuration"
### Issue Summary:
We have Spinnaker deployed in AWS account A, managing accounts B and C, deploying AMIs owned by account D.

When we try to have a single Spinnaker instance supporting two product AWS accounts, the secondary account pipeline can successfully find the AMI shared to it's own account, but the pipeline will fail as Clouddriver is `Unable to find owner of resolved AMI`.
This error doe

[2020-07-15 17:25] theRemix opened #5921 "Number of items to cache exceeds upper threshold"
### Issue Summary:

Docker Registry triggers fail to build automatically due to a full cache.

### Cloud Provider(s):

k8s on GCP

### Environment:

I am running Spinnaker using the Google Cloud Build to build images to Google Container Registry to deploy into GKE on GCP.
Using external redis.

### Feature Area:

Pipelines

### Description:

Expected the image cache to not fill up, or purge before

[2020-07-15 20:15] #5484 closed

[2020-07-15 23:29] harikumarks commented on #5871
@ezimanyi , Yes I can send a PR
For 1) I can add another filter for involvedObject.apiVersion as you recommended
For 2)  Looking up with the name is better than what we have today as you suggested,  so will do the PR accordingly

[2020-07-16 00:25] #5308 closed

[2020-07-16 05:22] sanopsmx opened #5922 "Gate saml maximum authentication age property should be made configurable"
### Issue Summary:
Gate saml maximum authentication age is hardcoded to 7200 secs(2 hrs). Saml server token is valid by default for 8 hrs. Once the spinnaker session timeout, we enter into a continuous loop with the saml server asking for a new session. Saml server sends the same token , which does not exist in the spinnaker gate.

### Feature Area:
@Gate

### Description:
Gate saml maximum authen

[2020-07-16 05:22] sanopsmx commented on #5922
I will be working on this issue.

[2020-07-16 05:45] friendly-pineapple commented on #5901
Ah, yes, we were previously on GCS. After migrating `front50` to use SQL instead, this issue went away. Thanks for the tip @kskewes!

[2020-07-16 14:15] #5165 closed

[2020-07-16 14:51] silvez-dh commented on #5902
passing **--no-validate** parameter doesn't helps either...

[2020-07-16 17:00] mfreebairn-r7 commented on #5920
Hey,

Also seeing this issue, I have been remote debugging clouddriver, I noticed that this `AllowLaunchAtomicOperation` (https://github.com/spinnaker/clouddriver/blob/master/clouddriver-aws/src/main/groovy/com/netflix/spinnaker/clouddriver/aws/deploy/ops/AllowLaunchAtomicOperation.groovy#L57) only runs for non-primaryAccount (in your case account_c).

The `AllowLaunchAtomicOperation` gets added b

[2020-07-16 18:43] shubhamc183 commented on #5902
Even using **--no-validate** doesn't help.

[code]

[2020-07-16 23:05] atyutyunnik commented on #5374
@spinnakerbot remove-label to-be-closed

Should we at least document this when there is one managing account and multiple managed accounts with respective ECRs?
[code]

[2020-07-17 04:36] dnilasor opened #5923 "[Governance] Link Slack Admin status to TOC and SC membership"
### Issue Summary:
We should outline a process (in the governance repo?) to provide Slack Admin access to members of the TOC and SC when they are confirmed as members. We should also grant that access to existing TOC/SC members. This will provide better coverage when non-admins need assistance and place a lesser burden on individual maintainers. @markyjackson5 LMK if you have other ideas, but this

[2020-07-17 06:24] #5244 closed

[2020-07-17 07:03] cdobbyn opened #5924 "Patch (Manifest) - Allow patching multiple manifests"
### Issue Summary:
Today you have to specify a single resource to patch. Ideally we could select based on resource labels and patch a large number of resources.

### Cloud Provider(s):
Kubernetes

### Environment:
AWS (Kops deployed on EC2) and EKS /w EC2 node groups.

### Feature Area:
Pipelines

### Description:
What I would like to be able to do is patch all deployed resources with specific lab

[2020-07-17 07:36] research-sudo opened #5925 "Inquiry About the Microservice Architecture Employed by `spinnaker`"
I am a researcher investigating the open source projects that are designed by the microservice architectural style (https://martinfowler.com/microservices/). My preliminary investigation shows that the **_spinnaker_** project (https://github.com/spinnaker/spinnaker) is designed by the microservice architectural style.

Can you please **_confirm_** if my interpretation that this project is designed

[2020-07-17 08:00] friendly-pineapple commented on #5901
Sorry -- we're actually still seeing this even after `front50` to SQL. It _seems_ less flakey before, but requests are still being dropped from time to time.

[2020-07-17 11:00] mikekamornikov opened #5926 "Cannot bind docker image to custom k8s resource"
### Issue Summary:
I cannot deploy Strimzi `KafkaConnect` resource because image substitution doesn't work. The setup works just fine with services using `Deployment` resource.

### Cloud Provider(s):
- Kubernetes

### Environment:
- k8s manifest is a github-account-name artifacts
- docker image is a docker-registry artifact
- we have 2 params - commit and tag
### Feature Area:
- Pipelines

### De

[2020-07-17 11:31] vijay-sapient commented on #5900
had same issue with spin CLI version 1.17.0 with spinnaker 1.20.6. i tried spin cli 1.14 and it worked fine for me

[2020-07-17 13:41] maggieneterval commented on #5925
Hi @research-sudo, thanks for reaching out! Your research sounds super interesting. I'd recommend checking out Spinnaker's [architecture documentation](https://spinnaker.io/reference/architecture/). If you have additional questions or would like to further discuss your research with Spinnaker developers, it sounds this conversation could be a good fit for Spinnaker's [Platform SIG](https://github.

[2020-07-17 13:41] #5925 closed

[2020-07-17 13:51] maggieneterval commented on #5737
Hey @babinin and @ealebed, thanks for reporting this one! A fix will be released with Spinnaker 1.22, which is currently scheduled for mid-August.

The cause of the non-existent tags showing up in the UI was that we were never clearing deleted tags from Clouddriver's cache. This is because the caching agent responsible for Docker tags was `informative` rather than `authoritative`, meaning the tags

[2020-07-17 13:51] #5737 closed

[2020-07-17 13:59] silvez-dh commented on #5902
@shubhamc183 i was able to overcome the hal config check adding gate values directly into its profile file:
`.hal/default/profiles/gate-local.yml`

The values where:

[code]

Still playing a little bit around but at least roles are shown on spinnaker.

[2020-07-17 14:14] ezimanyi commented on #5923
I don't think that we have a formal onboarding/offboarding process, but we should probably document it.  The other thing that I'm aware we tie to TOC/SC membership is admin access to the repos; if we agree that admin access to Slack should also be for TOC/SC members for the duration of their term we can document both of these.

[2020-07-17 14:40] silvez-dh commented on #5902
@maggieneterval do you know if this parameter should skip this error and move forward in execution?

[2020-07-17 15:58] shubhamc183 commented on #5902
My ~/.hal/config.yml

[code]
~/.hal/default/profiles/gate-local.yml

[code]
gate-local.yml is getting copied to ~/.hal/default/staging but spinnaker can be accessed without authn and authz.

**Then, I made ~/.hal/config.yml > security > enabled > true but no outh2 data in there. Ran `hal deploy apply`.**

Spinnaker is again accessed without any authentication. But when I am hitting the gate URL it

[2020-07-17 19:23] ryandcartwright commented on #5826
+1

Adding a Teams notification type which will appear in the dropdown shown here under "Notify via" in the stage configuration. Add similar functionality available through Slack notifications.

![Edit Notification](https://user-images.githubusercontent.com/43223416/87823399-1b456080-c828-11ea-8987-6451c4889139.png)

[2020-07-17 19:30] danielpeach commented on #5826
A new notification type could be added as a plugin by implementing the recently added `NotificationAgent` interface. Would be happy to guide anyone through the process of implementing a notification type this way. Also check out https://github.com/spinnaker-plugin-examples/notificationPlugin, which can serve as a template.

[2020-07-17 19:38] kencieszykowski commented on #5374
Can confirm this works in even the most restrictive settings; I'm deploying via stable helm chart and although the interpretation in the chart is lacking, I was able to apply using the following hal command:

`hal config provider docker-registry account edit zefr-ecr-registry --password-command 'read -r AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY AWS_SESSION_TOKEN <<< $(aws sts assume-role --role-arn

[2020-07-17 19:39] kencieszykowski commented on #5374
Can confirm this works in even the most restrictive settings; I'm deploying via stable helm chart and although the interpretation in the chart is lacking, I was able to apply using the following hal command:

`hal config provider docker-registry account edit <ECR-REGISTRY-NAME> --password-command 'read -r AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY AWS_SESSION_TOKEN <<< $(aws sts assume-role --role-ar

[2020-07-17 21:13] meyerson commented on #5752
Hi! We have the same issue - anyone have a good workaround? Thanks!!! @jaygorrell

[2020-07-17 21:15] meyerson commented on #4936
Hello all!  Anyone have good fix for this? We are experiencing the exact same issue/lack of feature.  maybe @gnarea

[2020-07-17 21:38] ajmax opened #5927 "Cloudformation cache prematurely disappears from CloudDriver Redis cache"
### Issue Summary:
Cloudformation cache prematurely disappears, causing CloudFormation deploy stage to wait for completion indefinitely even after successful deployment.

### Cloud Provider(s):
AWS

### Environment:
Clouddriver Version: 6.7.3
 Spinnaker Version: 1.19
 Elasticache/Redis Engine Version: 5.0.4

### Feature Area:
AWS, CloudFormation Deploy, CloudDriver, CloudDriver Redis on Elasticach

[2020-07-18 00:15] #5183 closed

[2020-07-18 13:21] Chinikins commented on #3651
The spin CLI can now save projects with https://github.com/spinnaker/spin/pull/261. One thing I noticed is that there is the ability to accidentally save a project that has no name which ends up breaking everything until you go and delete the corrupt project in storage. That probably needs to be fixed on the gate API level and not on the CLI to do the needed bounds checking, but I'm unsure how to

[2020-07-18 18:11] Chinikins commented on #3651
@spinnakerbot remove-label stale

[2020-07-19 00:15] #5177 closed

[2020-07-19 02:19] Chinikins commented on #5913
I originally got this error when the spacing in my file wasn't correct. Upon fixing the spacing, spin CLI parsed the token correctly.

[2020-07-19 02:24] Chinikins commented on #5900
I believe this PR would fix this issue: https://github.com/spinnaker/spin/pull/257

[2020-07-19 05:31] Chinikins commented on #5913
This isn't actually broken just need to update your config to match the example given in https://github.com/spinnaker/spin/pull/262 and the cached token gets parsed correctly!

[2020-07-19 05:57] hugocortes commented on #5913
Thanks! Changing the keys in `cachedToken` object to snake case resolves the parsing error.

However, I'm still receiving the authentication failed error:
[code]

My updated config:
[code]

[2020-07-19 18:03] abdulbasitkay commented on #5235
I believe a more appropriate role would be `roles/storage.objectAdmin` as this role grants full access to only the objects in the bucket and not admin access to the bucket itself which should suffice. It eliminates having the privilege to delete the bucket. If that would do, I can go ahead and update the doc.

What do you say @itonito ?

GCP [Docs](https://cloud.google.com/storage/docs/access-cont

[2020-07-19 22:36] aleon1220 commented on #5488
Actually AWS wrote this https://aws.amazon.com/blogs/opensource/how-to-integrate-aws-lambda-with-spinnaker/
Spinnaker.io is missing docs regarding that. Which i am happy to submit at a later stage.
any help is appreciated.

[2020-07-20 07:52] e96wic commented on #5892
Code can be found here:
https://github.com/spinnaker/front50/blob/05b20e09240e1f075fdf45ebe703a92b80df9ae0/front50-azure/src/main/java/com/netflix/spinnaker/front50/model/AzureStorageService.java#L62

[2020-07-20 09:46] iniinikoski commented on #5922
Hi @sanopsmx

Is this the same issue as here: https://github.com/spinnaker/spinnaker/issues/5539 - or even closely related...?

[2020-07-20 11:12] sanopsmx commented on #5539
Seems to be the same one...We were facing the issue, so raised a bug....we want to make it configurable.....

[2020-07-20 11:16] pieterza commented on #5539
Any update? Would hate to see my initial fix undone

[2020-07-20 11:21] sanopsmx commented on #5539
When i configured the maxAuthenticationAge in hal config..it gave me a error

[2020-07-20 11:22] sanopsmx commented on #5539
This was the error:

- Get current deployment
  Failure
Validation in Global:
! ERROR Could not translate your halconfig: Unrecognized field
  "maxAuthenticationAge" (class
  com.netflix.spinnaker.halyard.config.model.v1.security.Saml), not marked as
  ignorable (9 known properties: "enabled", "keyStore", "issuerId",
  "metadataRemote", "keyStoreAliasName", "metadataLocal", "keyStorePassword",
  "

[2020-07-20 12:24] silvez-dh commented on #5902
@shubhamc183, that's basicaly what is inside security session (from inside halyard pod, under .hal/config)

[code]

and the remaining are inside gate-local.yml file like mentioned above. Maybe change provider to **OTHER**? The identation seems looks good also for you?

The files were copied inside gate pod (not merged inside one config file as i first expected:

[code]

[2020-07-20 12:26] manikarnam commented on #4046
I am facing this issue while running my spinnaker "
Error fetching applications. Check that your gate endpoint is accessible." Could you help me, anyone
Thanks in advance

[2020-07-20 13:14] mitchfriedman commented on #5918
I see the same issue, but regardless of the `userInfoRequirements`. It just seems to always redirect to the wrong url (http instead of https).

[2020-07-20 13:36] avram commented on #5289
@spinnakerbot remove-label stale

[2020-07-20 14:47] diasjorge commented on #5920
I think Spinnaker will try to share the AMI from the AMI account to the account you want to deploy

[2020-07-20 18:03] abdulbasitkay commented on #5235
I've gone ahead to make the change. If that's a contrary conclusion, the PR can always be close

[2020-07-20 18:20] #5485 closed

[2020-07-20 19:21] georgeliaw commented on #5886
Confirming that this happens with spincli 1.17.0 as well and rolling back from 1.21.0 to 1.20.6 fixed the 404 issue.

[2020-07-20 19:28] shubhamc183 commented on #5902
Thanks a lot @silvez-dh it's working fine as expected! :)

I have just one last question.

How do you know exactly that in ~/.hal/config you need to mention all OAuth2 related configuration **but**  `userInfoMapping` and `client` in ~/.hal/default/profiles/gate-local.yml

[2020-07-20 19:32] jaygorrell commented on #5543
@spinnakerbot remove-label to-be-closed

[2020-07-20 19:38] sdpoueme commented on #5786
Hi @ezimanyi we deploy [SAP Kyma ](https://kyma-project.io/)on top of kubernetes clusters using Spinnaker pipeline. When these kyma clusters are created, Spinnaker is responsible for the deployment of the Kyma installer only. Then the Kyma installer takes control of the process and completes the deployment (it is an operator). Resources deployed by Kyma are not managed by Spinnaker, our pipelines

[2020-07-20 19:40] kskewes commented on #5069
@spinnakerbot remove-label stale

[2020-07-20 20:49] harikumarks commented on #5871
@ezimanyi , quick followup. I forgot that KubernetesKind does not have an attribute for the full apiVersion ( example apps/v1, argoproj.io/v1alpha etc). It only has one for the apiGroup(apps,argoproj.io etc). So we cannot use it to filter in kubectljobexecutor. I was wondering if i can send a review without filtering via involvedObject.apiVersion for kubectljobexecutor file changes  i.e. for (1).

[2020-07-20 23:31] ethai commented on #5626
Hi @ezimanyi , can you confirm if any specific version of Spinnaker would effectively address this issue?

[2020-07-21 00:12] alyssahardy commented on #5870
Hi @maggieneterval -- I was away for a bit and now returned. The issue is not with the version, but the name/account. For example, the values file for dev might reside in a different gcs bucket. I am unable to reopen this issue, though. We are mainly working on trying to templatize some pipelines.

[2020-07-21 03:52] Chinikins commented on #5891
hi all, this is a documentation issue - if you update your configs to the following: https://github.com/spinnaker/spin/pull/262 it should begin working for ya'll

[2020-07-21 03:56] Chinikins commented on #5885
Have you looked into using the Spin CLI in combination with sponnet to do this?

[2020-07-21 07:57] bartek-lopatka commented on #4601
This issue is still present for me too: CLI returns "Pipeline template save succeeded", while it didn't and Orca throws an error.

[2020-07-21 08:04] elvis-cai opened #5928 "After upgrading to 1.19, pipeline failed to start"
### Issue Summary

Since 1.19 is using java 11 now, we find our mptv1 pipieline does not work anymore, workaround is change `deploymentEnvironment.imageVariant: JAVA8`  and then everything works.

### Cloud Provider(s):
Google kubernetes engine

### Environment:
nonprod/preprod

halyard version: 1.37

### Description:
This is the error msg we got:
[code]

[2020-07-21 08:49] mitchfriedman commented on #5918
The issue appears to be _before_ github redirects back to gate - gate appears to be building the incorrect redirect_uri when it redirects to github (using http instead of https). AFAICT, the tomcat settings would be about once the redirection has landed at the correct gate URL, this would redirect to the deck frontend?

[2020-07-21 09:18] diasjorge opened #5929 "Can not see AWS instance details after upgrade to 1.20.6"
### Issue Summary:
When clicking on an AWS instance on the infrastructure tab, I see: Instance not found
GCE instances work correctly

### Cloud Provider(s):
AWS

### Environment:
I noticed this error after jumping from 1.19.12 to 1.20.6. I had to rollback and the problem went away

### Feature Area:
UI

### Description:
I see the response from the server is correct but on the browser console I se

[2020-07-21 10:48] vuxuanlai commented on #5723
I got the same problem.I used Spinnaker on v1.21.0, Halyard on v1.37.0

[2020-07-21 13:37] ezimanyi commented on #5626
@ethai : I don't have a great answer yet for what version will address the issue.  Roughly the work we're planning should be in Spinnaker 1.22 and 1.23, but I don't know exactly when the actual fix for this issue here will land among that (and it's also only an estimate so it could be later).  For now I'd suggest some of the workarounds above.  I'll definitely update this issue once we have a more

[2020-07-21 13:45] rrijkse opened #5930 "Kayenta does not support EKS IAM roles for Service Accounts"
### Issue Summary:

Kayenta cannot access the S3 bucket to store its configuration when running in an EKS environment with web identity.

### Environment:

AWS EKS

### Feature Area:

Kayenta

### Description:

When using EKS service account with an IAM role assigned the environment variables AWS_ROLE_ARN and AWS_WEB_IDENTITY_TOKEN_FILE are set on the pod, however Kayenta is unable to access the S

[2020-07-21 13:49] ethai commented on #5626
thanks for responding. Honestly i can't figure out a way to apply the workaround suggested from above.
I cannot find a way to manually update the Elasticsearch's helm template to escape what they've instituted for readiness probe:

                  local path="${1}"
                  local args="${2}"

the above after spinnaker parsing would result is literal value of 1 and 2 thus causing elastic

[2020-07-21 13:50] silvez-dh commented on #5902
@shubhamc183 no worries! It was just trial and error basically :D (hahah...just joking, i just didn't mixed the sections in both files and worked this way)

[2020-07-21 13:57] silvez-dh commented on #5918
from what i tested i got the same felling, something wrong before the request is sent to Github in this case (no request was ever sent to it)

will test this again when have some spare time

[2020-07-21 16:02] Chinikins commented on #5696
Out of curiosity, is this still an issue for you? I'm not able to reproduce it on spinnaker 1.20.6

[2020-07-21 17:58] #5900 closed

[2020-07-21 18:09] Chinikins commented on #5886
https://github.com/spinnaker/spin/pull/273 should fix this issue

[2020-07-21 18:39] #5902 closed

[2020-07-21 19:22] marcosantar93 opened #5931 "Exception running DeployManifestTask"
### Issue Summary:
On a simple pipeline consisting on an Automated Trigger from a gitlab webhook and a Deploy (Manifest) stage, the pipeline fails always with the following UI message:
[code]
The manifest is stored in a gitlab file referenced through an artifact.
I also see the X-SPINNAKER-ACCOUNTS missing header message on the logs, so I tried adding a fiat service account as issue https://github

[2020-07-21 19:44] abdulbasitkay commented on #5713
@spinnakerbot remove-label stale

[2020-07-21 19:45] ezimanyi commented on #5713
Assigning to @abdulbasitkay who is working on this as part of the Spinnaker Gardening Days!

[2020-07-21 21:49] kskewes commented on #5913
Note if you're using `cachedToken` you can omit the `clientId` and `clientSecret` fields, at least with Google (G Suite).

We have this target in a `Makefile` that we run locally after not using `spin` for a while:
[code]

[2020-07-22 00:14] abdulbasitkay commented on #5713
@rverma-jm you suggested updating Kustomize to version 3.5.4. Any concern with updating it to the latest version v3.8.1.
Anybody know of any breaking changes we might hit. I'll be making a PR soon

[2020-07-22 00:38] ezimanyi commented on #5732
Looks like this was implemented in spinnaker/rosco#534.

[2020-07-22 00:38] #5732 closed

[2020-07-22 02:17] hugocortes commented on #5913
Going to close my issue as it's resolved by this pr: https://github.com/spinnaker/spin/pull/271

[2020-07-22 02:17] #5913 closed

[2020-07-22 07:11] ghostsquad commented on #3777
@spinnakerbot remove-label stale

[2020-07-22 10:28] snorlaX-sleeps commented on #5920
Hi @diasjorge
The AMI in question has already been shared to both account B and account C (from account D) and both accounts have the same permissions to use the AMI
What I don’t understand is why the secondary account (account C in this example) needs to get an AMI it already has (found in the previous pipeline step), while the primary account does not

[2020-07-22 11:59] bellkharkiv commented on #5875
I have a similar problem
`hal deploy apply
+ Get current deployment
  Success
+ Prep deployment
  Success
Validation in default.stats:
- INFO Stats are currently ENABLED. Usage statistics are being
  collected. Thank you! These stats inform improvements to the product, and that
  helps the community. To disable, run `hal config stats disable`. To learn more
  about what and how stats data is used,

[2020-07-22 15:30] #5713 closed

[2020-07-22 16:43] dbyron0 commented on #5344
@spinnakerbot remove-label stale

[2020-07-22 18:06] dbyron0 commented on #5250
@spinnakerbot remove-label stale

[2020-07-22 20:25] marcosantar93 commented on #5931
After reconfiguring spinnaker from scratch, we got the same error.
We finally found a workaround by switching to a file based `authz` and activating the `service-account` flag on our kubernetes provider

[2020-07-22 20:25] #5931 closed

[2020-07-22 22:13] fieldju opened #6279 "Graphite queries that return no data make a canary run go TERMINAL"
If a graphite query doesn't return data, it seems to make a canary run go TERMINAL

![image](https://user-images.githubusercontent.com/711726/88234501-deb1a480-cc2d-11ea-948f-00ac0aa357d7.png)

[2020-07-23 02:26] aleon1220 commented on #5875
I think i answered your question in StackOverflow.
Try creating an AWS IAM user with Access Key and Secret and run the following from the spinnaker docs on storage

[code]

then

[code]

Take a look at the [storage](https://spinnaker.io/setup/install/storage/) docs

[2020-07-23 03:19] alchen99 commented on #5918
I have this working in 1.21.x. Check the following settings:
* In the GitHub Oauth Apps configuration make sure `Authorization callback URL` matches `security.apiSecurity.overrideBaseUrl` in the `.hal/config` file

* In the `.hal/config` file set the following:
[code]
* In `.hal/default/profiles/gate-local.yml`
[code]

[2020-07-23 08:18] kmurthyms commented on #5599
We are facing an issue due to this random suffix ,in cleanup of jobs as we were using "strategy.spinnaker.io/recreate" to clear of the jobs. Any workarounds to overcome this issue ?

[2020-07-23 09:05] alexef commented on #4554
I'm having the same issue. Any way to instruct halyard that it needs to assume a role to verify the bucket?

[2020-07-23 09:48] rokie582 commented on #5275
HI,

Did you fix this issue?

[2020-07-23 11:09] bartlettt opened #5932 "Igor cannot parse concourse 6.2.x builds due to decimal build numbers"
### Issue Summary:
Concourse 6.2.0 introduced a build re-run feature. Re run builds get a decimal build number. I.e. build 5 rerun produces build 5.1. Igor cannot parse decimal build numbers. See exception below

### Cloud Provider(s):
Kubernetes

### Environment:
Spinnaker 1.21.1 running on Kubernetes. Installed using helm chart. Using igor image: gcr.io/spinnaker-marketplace/igor:1.11.1-20200721

[2020-07-23 13:57] pselden commented on #5626
https://github.com/spinnaker/spinnaker/issues/5626#issuecomment-661873350 -- same here with the literal 1 being replaced. We probably have to downgrade to 2.18 to fix it.

[2020-07-23 15:20] zhouchong90 opened #5933 "Cloud driver cannot list images from azure container registry"
### Issue Summary:
Cloud driver cannot list images from azure container registry

### Cloud Provider(s):
Azure

### Environment:
Spinnaker 1.21.1 deployed on azure kubernetes service

### Feature Area:
Docker Registry

### Description:
I added the azure container registry to spinnake

It seems that halyard is able to validate the registry but when trying to configure the trigger on UI it's not abl

[2020-07-23 16:20] maggieneterval commented on #5235
Closing this; thanks so much to @abdulbasitkay and @devorbitus for helping update these docs! 🎉

[2020-07-23 16:20] #5235 closed

[2020-07-23 16:30] iniinikoski commented on #5785
@spinnakerbot remove-label stale

[2020-07-23 16:32] iniinikoski commented on #5785
I agree, this is a caveat. With MPTv1 & roer, the templates cannot be removed if they are in use - but it's different (of what I understand) with MPTv2...

[2020-07-23 16:55] Reifier commented on #5784
@spinnakerbot remove-label stale

[2020-07-23 17:17] gal-yardeni commented on #5823
@jaydee864 are you still facing this issue? do you need further help?

[2020-07-23 17:30] mikekamornikov commented on #5926
Here is the code:

https://github.com/ethanfrogers/clouddriver/blob/f64685f0001dd46daa2a8f01423d16395b69dcb7/clouddriver-kubernetes/src/main/groovy/com/netflix/spinnaker/clouddriver/kubernetes/v2/artifact/ArtifactReplacerFactory.java#L54-L83

So as I thought just `spec.template.spec['containers', 'initContainers']` path is supported. Any ideas what should I do in my case? Hardcoding manifest as te

[2020-07-23 17:37] alchen99 commented on #5794
@RubyLangdon your scope `read_user`, userInfoUri, and userInfoMapping is not correct. This will cause an endless redirect loop. Also some tomcat overrides are usually needed. Please try the following in `gate-local.yml`

[code]

[2020-07-23 17:53] KeisukeYamashita opened #5934 "Unable to configure GCP's zonal NEGs by Halyard"
### Issue Summary:

Because the Halyard won't allow us to configure custom service annotation, we can't enable [Network Endpoint Group(NEG)](https://cloud.google.com/load-balancing/docs/negs/zonal-neg-concepts) for [GKE](https://cloud.google.com/kubernetes-engine).

### Cloud Provider(s):

* All services that have `kind: Service` Kubernetes resource

### Environment:

* Google Cloud Platform(GCP)'

[2020-07-23 19:56] ezimanyi commented on #5599
As of Spinnaker 1.20.3 there is a flag you can enable to stop having Spinnaker append a suffix to jobs; this will become the default behavior in Spinnaker 1.22.  There are more details [here](https://github.com/spinnaker/spinnaker.github.io/blob/dda2245634d1581ae8c4de37b0af59d9ae9e9f24/community/releases/next-release-preview/index.md#breaking-change-suffix-no-longer-added-to-jobs-created-by-kubern

[2020-07-23 22:37] twoversionsofme commented on #4614
@spinnakerbot remove-label stale

This seems like a really nice feature, no?

[2020-07-23 22:42] clrung commented on #4313
I am also interested in deploying Spinnaker to a specific node group.
@spinnakerbot reopen

[2020-07-23 22:42] clrung commented on #4313
I am also interested in deploying Spinnaker to a specific node group.
@spinnakerbot remove-label to-be-closed

[2020-07-24 01:28] aleon1220 commented on #5708
There was an issue related to this 5788. It is closed now and fixed. It didnt work for me when trying OrcaSQL on MariaDB
https://github.com/spinnaker/spinnaker/issues/5788

You should try again.

[2020-07-24 03:42] Anshul-Rathour opened #5950 "hal deploy apply fails with error"
Page: [/setup/install/deploy/](https://www.spinnaker.io/setup/install/deploy/)

Feedback:

bash-5.0$ hal deploy apply
+ Get current deployment
  Success
+ Prep deployment
  Success
Validation in default.stats:
- INFO Stats are currently ENABLED. Usage statistics are being
  collected. Thank you! These stats inform improvements to the product, and that
  helps the community. To disable, run `hal co

[2020-07-24 05:39] shubhamc183 opened #5938 "Halyard docs for mapping roles from OIDC in OAuth2 UserInfoMapping not clear."
Recently I was trying to setup Spinnaker for authN and authZ via Keycloak, OIDC where I wanted to map roles.

I faced an issue for quite a time setting the AuthZ for quite some time where I was not able to map roles from external sources.

`~/.hal/config`
[code]

And `.hal/default/profiles/gate-local.yml`
[code]
**The important detail here is that `userInfoMapping` I have to keep in `.hal/default/

[2020-07-24 06:33] ealebed commented on #5228
@spinnakerbot remove-label stale

[2020-07-24 06:33] ealebed commented on #5699
@spinnakerbot remove-label stale

[2020-07-24 07:01] lyzhang1999 opened #5935 "Deck not show service account permission error message"
### Issue Summary:
in orca orca-front50/src/main/groovy/com/netflix/spinnaker/orca/front50/tasks/SaveServiceAccountTask.java line 130, there is TODO when User is not authorized with all roles for pipeline, I got this error but deck just show `Pipeline save operation did not succeed:xxxxxxx(status: TERMINAL)` , not detail reason

### Cloud Provider(s):
Google kubernetes engine

### Environment:
hal

[2020-07-24 10:36] gomid opened #5936 "[Orca] Skipped synthetic stage should not fail parent stage"
### Issue Summary:
When a stage contain a conditional synthetic child stage, and the conditional stage is skipped during execution, the parent stage will be marked as `TERMINAL` by `CompleteStageHandler`

This behaviour is inconsistent with normal execution handling, where `SKIPPED` stages won't mark pipeline as `TERMINAL`.

### Cloud Provider(s):
AWS

### Environment:
Spinnaker 1.19.7

### Featur

[2020-07-24 14:46] ezimanyi commented on #5921
Tagging sig/ci as this appears to be related to the logic in igor to keep track of which builds have already been triggered, but if this does actually relate to Kubernetes code please re-assign!

[2020-07-24 15:45] dorbin commented on #5938
@spinnaker/sig-security

[2020-07-24 16:55] galvarado opened #5939 "Canary Analysis Support is not working on the latest release of 1.21.0"
### Issue Summary:

Set up Canary Analysis Support is not working on the latest release of 1.21.0 and had to downgrade to the latest 1.20.6 release

### Cloud Provider(s):
Kubernetes

### Environment:
Localdebian

### Feature Area:
Canary Analysis

### Description:
I am trying to enable canary following:https://spinnaker.io/setup/canary/:
[code]
Next, set the Spinnaker version to v1.7.0 or higher:

[2020-07-24 17:07] maggieneterval commented on #5924
Hi @cdobbyn, thanks for opening this feature request! I'm curious how you're currently patching by label in Jenkins, as I don't think `kubectl patch` currently supports label selectors. Unless I'm mistaken and `kubectl` does support patching by label, this would be non-trivial to implement as we'd need to first fetch all matching resources and then apply the patch operation to each. That said, we

[2020-07-24 17:12] maggieneterval commented on #5926
Hi @mikekamornikov, thanks for taking the time to write up this issue. This is unfortunately a known problem: the artifact replacement logic is not customizable for CRDs. Eventually, we'd like to make artifact replacement one of the CRD handler extension points so that users can supply their own artifact replacement paths. As a temporary workaround, I'd recommend trying to use [SpEL](https://spinn

[2020-07-24 17:40] #5561 closed

[2020-07-24 17:40] #5557 closed

[2020-07-24 17:48] mikekamornikov commented on #5926
@maggieneterval Yep, that's one of the workarounds I was thinking about. It's doable. A bad thing is that violates a little bit our build/deploy process. We commit full manifests produced by `kustomize`. And these manifests don't contain any `Spinnaker` related stuff (besides some annotations).
I wonder if it's possible to use "Patch" stage + SpEL to deal with my issue. Do we support CRDs there? I

[2020-07-24 18:00] maggieneterval commented on #5926
Ah I see, so you don't want any Spinnaker-specific SpEL to live in your kustomization. There is no way to patch an incoming artifact in Spinnaker, unfortunately. Perhaps you could include a Spinnaker-specific kustomization overlay/patch with the SpEL so it's at least not living in your base kustomization, but no other workarounds are really coming to mind. I'll leave this open in case any other us

[2020-07-24 18:17] ezimanyi commented on #5934
Addressed in spinnaker/halyard#1763.

[2020-07-24 18:17] #5934 closed

[2020-07-24 18:19] ezimanyi commented on #5626
@ethai @pselden : The case where you have an expression that *is* valid SpEL (but that you don't want to actually evaluate) is tricky.  For now the best I can suggest is to escape the SpEL as suggested in [this comment](https://github.com/spinnaker/spinnaker/issues/2809#issuecomment-395510438).  Of course that will only work if you control the source of the manifest (ie, if it isn't something upst

[2020-07-24 18:36] tonyg4864 commented on #5035
Hi, seems that this issue will be fixed by https://github.com/spinnaker/front50/pull/886.
I was wondering in the meanwhile how have you guys been working around this issue ?

[2020-07-24 18:47] Shelna-GCP opened #5940 "Jenkins job config xm link is not valid"
### Issue Summary:
in https://spinnaker.io/setup/features/script-stage/  the mentioned link  --- > Download the raw job xml config file
is giving invalid xml / xml with error.

### Cloud Provider(s):

### Environment:

### Feature Area:

### Description:

### Steps to Reproduce:

### Additional Details:

---

**_Please delete the instructions below this line prior to submitting_**

Instructions:

[2020-07-24 18:55] ethai commented on #5626
@ezimanyi , great i'll look forward to the solution when it's ready

[2020-07-24 20:00] tonyg4864 commented on #5035
Im also experiencing the issue described by : @error418

Spinnaker 1.19.11
Aurora DB
HA Enabled

[2020-07-24 21:13] mtaylor98 commented on #5040
I am also running into this exact issue. I am deploying a single manifest that contains a namespace, service and replicaSet. The initial deployment works with no problem as long as my pipeline is not configured with any sort of deployment strategy (highlander or red/black). But if I push a change to that manifest that updates something about the replicaSet and my pipeline runs, and is configured w

[2020-07-24 21:39] zhouchong90 commented on #5933
Oh! I got what the issue is. I forgot to enable the docker registry feature..
Silly me. This fixed the problem
hal config provider docker-registry enable

[2020-07-24 21:39] #5933 closed

[2020-07-24 22:26] mmlac commented on #4964
@spinnakerbot remove-label stale

[2020-07-25 05:58] KeisukeYamashita commented on #5934
Note: The document updating PR is here → https://github.com/spinnaker/spinnaker.github.io/pull/1988

[2020-07-25 19:21] diasjorge commented on #5746
@spinnakerbot remove-label stale

[2020-07-25 19:22] diasjorge commented on #5746
Is this expected behavior? If you have an image shared with multiple accounts. If the tags are different then The find image by tags stage fails

[2020-07-25 20:46] vijay-sapient opened #5941 "hal deploy --no-validate still connecting to public bucket"
we have enabled vpcsc on gcp, which restricts us from connecting to public buckets. when i run hal deploy its trying to check bom version and failing.

As per document if i use --no-validate https://spinnaker.io/setup/quickstart/faq/#halyard-times-out-during-a-config-change it should have worked. anything am missing?

Tried multiple versions from 1.35.0 to 1.37.0:

below 2 commands.

hal deploy ap

[2020-07-25 21:11] ISPHOST commented on #5891
I have issue with Login Failed:

File: .spin/config

[code]

[code]

[2020-07-26 22:30] RubyLangdon commented on #5794
Hi @alchen99, when I try that config I get a gitlab error `The redirect URI included is not valid.`

In `gate-local.yml` I also have `preEstablishedRedirectUri: https://<my-gate-url>/login` and in the gitlab I have the callback URL set to `http://<my-gate-url>/login` which works in version 1.19 and 1.20.

[2020-07-27 01:19] dbrougham commented on #5569
@spinnakerbot remove-label to-be-closed

[2020-07-27 02:30] jaredstehler opened #5942 "Handle nullable branch name from concourse scm metadata"
### Issue Summary:
it is possible for concourse to not set 'branch' in git metadata, causing jackson parse errors in orca when deserializing triggers.

### Cloud Provider(s): aws / kubernetes v2

### Environment: 1.20.7

### Feature Area: igor / concourse

### Description:
it is possible for concourse to not set 'branch' in git metadata:

https://github.com/concourse/git-resource/blob/master/asset

[2020-07-27 04:57] ealebed commented on #5711
@spinnakerbot remove-label stale

[2020-07-27 08:29] papanito commented on #4381
@spinnakerbot remove-label stale

[2020-07-27 09:52] gbucknel opened #5943 "Doc : mistake in front50 -> sql migration steps"
### Issue Summary:
In this page -> https://spinnaker.io/setup/productionize/persistence/front50-sql/#how-netflix-migrated-front50-from-s3-to-sql

On step 8) it says :

`Disable reads against S3 with spinnaker.migration.compositeStorageService.reads.primary: false.`

I think this should be

`Disable reads against S3 with spinnaker.migration.compositeStorageService.reads.previous: false.`

Because S

[2020-07-27 12:00] #4427 closed

[2020-07-27 13:41] Kannanmj commented on #2067
I'm using jenkins version 2.235.1

even i'm facing same issue.

Navigating to Global Security, I checked the 'Enable Proxy Compatibility' under CSRF Protection --> i have tried this not working for me . i'm getting error

crumb ->{"_class":"hudson.security.csrf.DefaultCrumbIssuer","crumb":"a819dd04239c26c0ff88397e340198c2","crumbRequestField":"Jenkins-Crumb"}
crumb-->{crumbValue=a819dd04239c26c0ff

[2020-07-27 14:59] marchello2000 commented on #5889
Just saw this, sorry about that! https://github.com/spinnaker/orca/pull/3830 looks good to me

[2020-07-27 17:44] gal-yardeni commented on #5932
hi @bartlettt , we have a similar issue https://github.com/spinnaker/spinnaker/issues/5895. Can you please take a look? for #5895 there is an open PR waiting for review.

[2020-07-27 18:21] jaygorrell commented on #5539
@sanopsmx I think the setting currently should go into `gate-local.yml` under the `saml` key, but the ideal would be for hal to support it. It doesn't work under gate-local either though -- that's what this issue is tracking... why it stopped.

[2020-07-27 18:21] jaygorrell commented on #5922
Those appear to be the same. Have you already started on a solution @sanopsmx?

[2020-07-27 19:50] alchen99 commented on #5794
@RubyLangdon unless you have a typo shouldn't your callback URL be https://<my-gate-url>/login?  Is `security.apiSecurity.overrideBaseUrl` in the ~/.hal/config the same as https://<my-gate-url> ?  While you are in the redirect loop go to https://<my-gate-url>/auth/user in the same session. It should return a JSON with some info in it. Check to make sure `username` is populated.

[2020-07-28 00:29] #4964 closed

[2020-07-28 01:31] kevinawoo commented on #5035
hey @tonyg4864 it's been released in 1.19.13!

[2020-07-28 03:29] kskewes commented on #5470
Have just had another go at migration off the k8s Redis instance to Elasticache Redis.

For Igor I can do this, providing I mount in the token as env var:
[code]

For Orca I can't seem to get that to work or anything similar like this in orca.yml:
Orca logs show a timeout which suggests to me it's not using SSL.
[code]
We are mostly on MySQL except Orca still uses Redis for tasks queue (maybe I ca

[2020-07-28 03:30] kskewes commented on #5470
@spinnakerbot remove-label stale
@spinnakerbot remove-label to-be-closed

[2020-07-28 04:10] kskewes commented on #5807
@exploiz65 - today I was able to setup Igor with Elasticache auth & TLS per this post: https://github.com/spinnaker/spinnaker/issues/5470#issuecomment-664755104

We have the following in `igor.yml` and mount in `REDIS_TOKEN` as an env var to the pod. We use raw yaml's not Halyard.
[code]

Note that bizarrely these values don't work for any other Spinnaker services, see the linked post for details.

[2020-07-28 04:22] kskewes commented on #5470
If we look at Fiat we can see that it instantiates a `JedisPool` without SSL option.
https://github.com/spinnaker/fiat/blob/master/fiat-roles/src/main/java/com/netflix/spinnaker/fiat/config/RedisConfig.java#L70

This contrasts to Kork: https://github.com/spinnaker/kork/blob/master/kork-jedis/src/main/java/com/netflix/spinnaker/kork/jedis/JedisPoolFactory.java#L62

Gate and Orca are the same as Fia

[2020-07-28 04:27] sanopsmx commented on #5922
Not yet after seeing that this issue is related to 5539. We can make this issue as duplicate of #5539.

[2020-07-28 04:27] #5922 closed

[2020-07-28 04:29] sanopsmx commented on #5539
Yes Jay...hal should support this. Waiting for the fix.

[2020-07-28 06:09] gbucknel opened #5944 "Doc : mistake in https://spinnaker.io/setup/productionize/persistence/orca-sql/"
### Issue Summary:

The in the url -> https://spinnaker.io/setup/productionize/persistence/orca-sql/ the text says to :
[code]
Should the tx_isolation be  READ-COMMITTED or REPEATABLE-READ ? It seems like the admin is being asked to set both?

[2020-07-28 06:56] stellirin opened #5945 "Spinnaker v1.21.2 does not honour given pipeline ID when saving new pipeline with spin"
### Issue Summary:
We create pipelines exclusively with spin, with jsonnet to generate the actual json pipeline. After upgrading from 1.18 to 1.21 we can update existing pipelines, but new pipelines do not use the provided pipeline ID. Instead, a random UUID is used.

### Cloud Provider(s):
GCP

### Environment:
Halyard is used to deploy Spinnaker to a GKE cluster.

### Feature Area:
Pipelines

##

[2020-07-28 10:24] bartlettt commented on #5932
Hi @gal-yardeni I didn't realise there was a similar issue already reported. Is it possible for someone to merge the two issues? I don't think I have the permissions to do that.

[2020-07-28 13:42] mattsanta commented on #4550
Looking to get an idea of the use case for this feature. Is it enough if the stage only deletes resources that are not versioned by Spinnaker?

The resources that are versioned by Spinnaker by default are found [here](https://spinnaker.io/reference/providers/kubernetes-v2/#workloads). ReplicaSets are also versioned by default but the documentation is wrong, going to fix that. Spinnaker also allows

[2020-07-28 13:56] bmuschko commented on #4550
My use case looks as follows:

1. I have a Spinnaker pipeline with one or many stages of type "Deploy (Manifest) Configuration". Think of each stage as a target environment we want to use to deploy a Helm chart to e.g. development, staging, production.
2. When a deployment stage is executed, the provided Helm chart creates one or many Kubernetes objects in the configured account and namespace. For

[2020-07-28 15:29] jaygorrell opened #5946 "NodeSelector documentation and functionality is inconsistent"
### Issue Summary:
Documentation calls for using the following to add a nodeSelector to Spinnaker components:
[code]

[2020-07-28 15:29] #5946 closed

[2020-07-28 15:36] jaygorrell opened #5947 "Halyard/Kubernetes NodeSelector documentation is innacurate"
### Issue Summary:
[Documentation](https://spinnaker.io/reference/halyard/custom/#nodeselectors) calls for using the following to add a nodeSelector to Spinnaker components using service settings files:
[code]

However, the key that works is actually `nodeSelector`. Using this is a workaround, but it's difficult to discover.

In addition, the hal config file has `deploymentEnvironment.nodeSelector

[2020-07-28 16:01] gal-yardeni commented on #5932
sure, I'll close it.

Closing as it's duplicate to issue #5895.

[2020-07-28 16:01] #5932 closed

[2020-07-28 18:50] ryan-dyer-sp opened #5948 "Helm manifests with image tag and a bound docker image artifact dont work"
### Issue Summary:
There appears to to be an issue with spinnakers ability to overwrite the image in a manifest with a bound artifact if the input manifest has a tag on it.  This seems problematic when using helm as most helm charts have a tag.  The default template for new helm charts (and vast majority, if not all public charts) has the image in format of "repo/name:tag" .

### Cloud Provider(s)

[2020-07-28 19:02] gal-yardeni commented on #5895
Closing this issue as the PR for fixing it got merged.

[2020-07-28 19:02] #5895 closed

[2020-07-28 22:52] linjmeyer commented on #4550
Use case for me:

We have a pipeline with artifacts like prod.yaml and canary.yaml, both contain many resources (deployments, configmaps, disruption budgets, services, etc.).

Currently we have to tell Spinnaker how to "clean up" all the canary resources once the pipeline is finished and no more traffic is going towards the canary.  We then have to keep all of our Spinnaker pipelines updated with

[2020-07-28 22:59] linjmeyer commented on #4550
Ah.. on second thought using the produced artifacts isn't much better.  One input artifact can produce many output artifacts:

![image](https://user-images.githubusercontent.com/7676659/88730379-89790580-d0fb-11ea-993c-7214c8b60dee.png)

Maybe if the produced artifacts also included a "bundle" artifact with all resources in it it could be an option.

[2020-07-28 23:29] RubyLangdon commented on #5794
That wasn't a typo, we have always had the gitlab application callback URL set to `http`, and it's `https` in the hal config `overrideBaseUrl`.

However if I change the callback URL to `https` and set everything up as in your example we are back in the same situation of endless redirects.

At the user endpoint `https://gitlab.com/api/v4/user` I can see that `username` is populated. At `https://git

[2020-07-29 00:15] robzienert commented on #5945
We do not allow user-defined identifiers for pipeline configs or pipeline executions, however there is (deprecated) capabilities of referring to a pipeline config by its name, which you could try using. This deprecated functionality is dangerous, however, if you happen to accidentally create two pipeline configs with the same name, you will end up having a "ghost" pipeline config which can cause a

[2020-07-29 00:43] talbright opened #5949 "Halyard antiAffinity config not working"
### Issue Summary:

Halyard is not accepting antiAffinity config(s). PodAffinity and NodeAffinity configs are working.

### Cloud Provider(s):

K8S v2

### Environment:

EKS

### Feature Area:

Halyard

### Description:

halyard isn't accepting `podAntiAffinity` configuration

### Steps to Reproduce:

[code]
[code]
Note: if the `antiAffinity` clause is removed the deploy works as expected.

### Ad

[2020-07-29 00:47] talbright commented on #5949
/cc @ezimanyi @perek

[2020-07-29 01:54] perek commented on #5949
The class has the antiaffinity here: https://github.com/spinnaker/halyard/blob/master/halyard-config/src/main/java/com/netflix/spinnaker/halyard/config/model/v1/node/AffinityConfig.java#L25

This config works fine for us so either there is a new regression in halyard or something else is awry:
[code]

[2020-07-29 01:57] perek commented on #5949
Preferred expects a weighted term iirc: https://github.com/spinnaker/halyard/blob/75bd3219dfaf0d8b0f735f29e5a9f6db70c3a338/halyard-config/src/main/java/com/netflix/spinnaker/halyard/config/model/v1/node/AffinityConfig.java#L81

[2020-07-29 01:58] perek commented on #5949
see: https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/pods/pod-with-node-affinity.yaml

[2020-07-29 02:01] perek commented on #5949
try the format:
[code]

[2020-07-29 02:21] #5936 closed

[2020-07-29 02:21] kskewes commented on #3651
This has been working great for us. Thanks very much @Chinikins for making this happen. :100:

[2020-07-29 03:13] kskewes commented on #5945
Hmm, we also make heavy use of setting pipeline config's (id) as we:
1. generate all projects, apps, pipelines client side in jsonnet.
2. use the `id`'s in pipelines that have a `pipeline` stage. Because we know the id's we have set this is easy to do.
3. take care to avoid collisions locally.

`Project` json also requires submitting the pipeline config id, see below `aws-k8s-cni-dos` being the pi

[2020-07-29 06:49] stellirin commented on #5945
Sorry but, whether intentional or not, choosing the ID has been possible for at least a _year_, (when my team started using Spinnaker, which I then inherited when I joined 6 months ago). I'm sure we're not the only ones that rely on this feature.

So let's look at some ways to workaround.

I see we can get the pipeline ID from spinnaker with something like:

[code]

I also see that omitting the ID

[2020-07-29 07:39] kskewes commented on #3651
Unfortunately have just hit this:

https://github.com/spinnaker/spinnaker/issues/5945

[2020-07-29 07:44] kskewes commented on #5945
I wonder if it's possible for pipeline stage and Projects to accept app name and pipeline name as values instead of using ID's.

Spinnaker would need to hydrate server side at execution of pipeline or Project page view?

This also might require enforcing unique pipeline names if not done already. Can't think of a use case for reusing pipeline name and it would be very confusing.
We don't use MPTv#

[2020-07-29 08:20] cdobbyn commented on #5924
Thanks Maggie.

I think you're right, it's not trivial. I'm not sure of a good way to do this natively using kubectl without doing some additional work. I suspect the activity would be made easier once the work to use the SDK directly instead of kubectl has been completed. It does appear as though it is possible using kustomize today, though I don't think that aligns with your guys' future plans v

[2020-07-29 14:02] mattsanta commented on #4550
Thanks for the responses so far. @linjmeyer, you're correct in how Spinnaker handles resources it versions.

[2020-07-29 14:38] talbright commented on #5949
Sorry to be a bother, you are absolutely right, my syntax was off from the spec. I went with something like:

[code]

Thanks for taking a look!

[2020-07-29 14:38] #5949 closed

[2020-07-29 14:45] maggieneterval commented on #5924
@cdobbyn Thanks for the update!

At yesterday's Kubernetes SIG, we were discussing possible solutions to [a similar issue of users wanting to _delete_ everything applied by a certain Deploy (Manifest) stage](https://github.com/spinnaker/spinnaker/issues/4550). One proposed solution was essentially adding a more first-class way to do what you're doing, by adding an option to the Deploy (Manifest) s

[2020-07-29 16:37] ghostsquad commented on #4236
To be honest, I think this is an easy fix. Every time you deploy, update an annotation with say a git SHA and then use the built in delete stage to match everything that doesn't match that value.

[2020-07-29 17:00] cdobbyn commented on #5924
What you're describing sounds like exactly what I'm doing, just baked into the UI. I think that'd probably work as long as I could still access it via the NOT_EQUALS case in the follow up step (delete).

It doesn't look like you can patch resources by label natively without doing extra work, so this issue is probably off the table.

[2020-07-29 17:15] maggieneterval commented on #5924
👍 Appreciate your feedback!

It's not undoable, so am happy to leave this issue open to gauge interest from the rest of the community, but for now will likely focus on a solution for delete-everything-in-a-manifest since there does seem to be a bit more interest there. That said, if we end up landing on a solution in which Spinnaker needs to look up every resource in the input manifest for deletio

[2020-07-29 17:44] robzienert commented on #5945
I took a closer look and I spoke incorrectly - custom pipeline config IDs _are_ deliberately allowed. I'll update the ticket and will investigate a fix personally. Sorry for the scare. :(

[2020-07-29 18:17] robzienert commented on #5945
I was unable to reproduce this in our environments by submitting to the API directly (not using `spin`). I'm working on getting `spin` on my machine so I can test there.

[2020-07-29 19:00] #5920 closed

[2020-07-29 19:23] phillipweston commented on #5282
Also experiencing this issue. I've tried re-installing Halyard, perhaps need to downgrade?

[code]

[2020-07-30 01:31] Chinikins commented on #3651
Could you elaborate more on the error? Are you setting the project id explicitly and the new project id's aren't honored upon saving to an existing project?

[2020-07-30 01:40] Chinikins commented on #5945
So this line is new: https://github.com/spinnaker/spin/blob/master/cmd/pipeline/save.go#L92 but that was put in because of issues in being able to create new pipelines. See https://github.com/spinnaker/spinnaker/issues/5900 so is the Gate returning a 404 incorrectly causing the ID to be blown away?

[2020-07-30 04:59] andrijaperovic opened #5951 "Spinnaker UI/Deck: Uncaught TypeError RunJobExecutionDetails.tsx:58"
### Issue Summary:
Observing a crashed DOM when inspecting a runJob stage of v2 pipeline in 2.21.

### Cloud Provider(s):

GCP

### Environment:
Kubernetes/GKE v1.16.9-gke.6
Deployed using gcr.io spinnaker-marketplace images

### Feature Area:
Spinnaker Deck (UI)
gcr.io/spinnaker-marketplace/deck:3.2.0-20200625152925

### Description:
Observing a DOM failure with the following exception in the dev

[2020-07-30 16:15] jaygorrell commented on #5536
@spinnakerbot remove-label to-be-closed

[2020-07-30 16:15] jaygorrell commented on #5536
@spinnakerbot remove-label stale

[2020-07-30 16:59] alchen99 commented on #5794
Hmm normally the callback URL should be `https` if using OAuth/OIDC. I'm actually surprised it allowed you to use http for anything other than localhost as the callback.

Seems like we might have different implementations of the GitLab Applications/Oauth since `https://gitlab.com/api/v4/user` returns a 401 for me. If `https://gitlab.com/api/v4/user` returns something for you then you should be fin

[2020-07-30 18:53] friendly-pineapple opened #5952 "Pipeline executions are occasionally stuck"
### Issue Summary:
Aloha!

We are occasionally seeing that our pipeline executions get stuck, where none of the pipeline stages actually run.

### Cloud Provider(s):
GCP

### Environment:
Spinnaker deployed into GKE cluster.

### Feature Area:
Pipelines

### Description:
**Behavior that we're seeing:**
- The pipeline's status says that it is `RUNNING`, but the very first stage is `NOT_STARTED`. Th

[2020-07-30 21:14] rafalfaro18 commented on #2067
I just used this plugin https://plugins.jenkins.io/build-token-root/ which is mentioned by Jenkins help.

[2020-07-30 21:41] jaydee864 commented on #5823
@gal-yardeni Sorry for not getting back to you sooner. We have figured out why the one Jenkins instance was slow, but we still are still in the POC phase of our Spinnaker onboarding and we have ~60 other Jenkins instances with various networking paths we will need to onboard in the future so I can't say we won't have this issue again in the future.

[2020-07-30 23:16] Chinikins commented on #5945
I'm able to reproduce this after updating our spinnaker to latest and with spin cli built from latest master, I can save new pipelines but if I try to save them again, the ID was ignored in the save. i.e.

`pipeline ID "given pipeline id sent" does not match the found pipeline "given pipeline name sent" in application "appName" with ID "cc7a22e4-5569-456c-933c-aa9372f124d3"`.

It seems the ID is b

[2020-07-31 00:17] kevinawoo commented on #5945
@robzienert, @Chinikins I remove the pipeline ID check from spin cli to go back to the previous behavior of allowing custom config IDs https://github.com/spinnaker/spin/pull/289.

[2020-07-31 00:56] kevinawoo commented on #5945
I just cut a release for the [spin cli 1.17.3](https://github.com/spinnaker/spin/releases/tag/version-1.17.3) which was made for Spinnaker v1.21.2. Can you all give it a try? 🙏 🙏

[2020-07-31 01:12] andrijaperovic commented on #5951
@robzienert can you tag this with spinnaker ui/ux label and tag the relevant team?

[2020-07-31 04:02] #5942 closed

[2020-07-31 06:14] Chinikins commented on #3651
So I reproduced the issue and got around it by not setting the project id to begin with and just the project name. I'm not sure there's a need to set a project id?

[2020-07-31 08:55] papanito commented on #4447
@spinnakerbot remove-label stale

[2020-07-31 09:41] jcavanagh commented on #4447
I have a pending pull for this issue, should be early next week.

[2020-07-31 15:05] #3226 closed

[2020-07-31 16:50] #1895 closed

[2020-07-31 17:22] almoskvin commented on #2778
Speaking about 'hal version' 1.15.0,

Spinnaker returns "eventId" on a trigger request and tries to start an execution in an asynchronous way.
Using that "eventId", it is possible to check the execution using this call:
%URL%/applications/%APP_NAME%/executions/search?triggerTypes=webhook&eventId=%EVENT_ID%.

Using that search call, we will receive an empty body in case something went wrong (I woul

[2020-07-31 18:33] sacoefrancis commented on #5633
Hi @dpolicastro,
       I have the same issue manual trigger is working properly. But automated trigger fails with the following error message.
"as artifact constraints were not satisfied". Did find a way to fix this? Please let me know
Thank you

[2020-07-31 18:47] robzienert commented on #5952
Are you using Redis or SQL for the queue?

[2020-07-31 19:20] #5590 closed

[2020-07-31 22:45] #5226 closed

[2020-07-31 23:07] ghostsquad commented on #5728
@spinnakerbot remove-label stale

[2020-07-31 23:07] ghostsquad commented on #5727
@spinnakerbot remove-label stale

[2020-07-31 23:07] ghostsquad commented on #5726
@spinnakerbot remove-label stale

[2020-07-31 23:07] ghostsquad commented on #5628
@spinnakerbot remove-label stale

[2020-07-31 23:07] ghostsquad commented on #5627
@spinnakerbot remove-label stale

[2020-07-31 23:19] ghostsquad commented on #2778
@almoskvin might want to file a new issue. It's hard enough to get attention on open issues, let alone a closed issue.

[2020-07-31 23:29] friendly-pineapple commented on #5952
We've migrated Orca to use SQL according to the guide here: https://spinnaker.io/guides/operator/orca-redis-to-sql/

[2020-07-31 23:37] almoskvin commented on #2778
@ghostsquad hey, thanks for mentioning this.
I didn't want to get attention, I just wanted to add a workaround here as I come around this bug closed without description.
Didn't think about filing an issue, but that sounds like a good idea for sure.

[2020-08-01 01:06] ghostsquad commented on #2778
I mentioned filing an issue, because I agree with this.

[2020-08-01 12:45] KeisukeYamashita opened #5954 "Can't delete a metrics group on Spinnaker deck"
### Issue Summary:

In the UI, I can't delete a metrics group.

![image](https://user-images.githubusercontent.com/23056537/89102012-31663a00-d440-11ea-905f-383311de0525.png)

### Cloud Provider(s):

Stackdriver.

### Environment:

GKE

### Feature Area:

### Description:

How can I delete a metrics group?
Even if I have an empty metrics group, I can't delete...

### Steps to Reproduce:

Add a met

[2020-08-01 13:02] KeisukeYamashita commented on #5954
Oh, I realized that the empty metric groups will be deleted when I close the window.
Thank you.

![image](https://user-images.githubusercontent.com/23056537/89102294-b2becc00-d442-11ea-90e2-071d7b0b17d3.png)

[2020-08-01 13:02] #5954 closed

[2020-08-01 17:13] dpolicastro commented on #5633
Hi @sacoefrancis,
Actually I'm not using Spinnaker anymore, I was trying to develop a POC for the company I work for, but most of the features were broken on Spinnaker version 1.19+ so I had to find another CD tool

[2020-08-01 21:21] bettse commented on #5258
@spinnakerbot remove-label stale

[2020-08-03 06:22] papanito commented on #3643
@spinnakerbot remove-label to-be-closed

[2020-08-03 12:13] iniinikoski commented on #5826
Checked the plugin-example - thanks - but it's quite a caveat that Manual Judgment stages are not supported atm: https://github.com/spinnaker-plugin-examples/notificationPlugin#known-bugs

[2020-08-03 13:21] lambertpan commented on #4911
I tried updating host file, but I am still getting this issue. (sorry, couldn't get chance to use spin for a while). Any help please?

[2020-08-03 14:27] maggieneterval commented on #5951
@andrijaperovic thanks for reporting this issue. The exception you mentioned appears to be [from the Titus provider's Run Job execution details](https://github.com/spinnaker/deck/blob/master/app/scripts/modules/titus/src/pipeline/stages/runJob/RunJobExecutionDetails.tsx#L58). To clarify, are you running the Kubernetes Run Job stage or the Titus Run Job stage? I'm unable to reproduce this issue run

[2020-08-03 15:43] andrijaperovic commented on #5951
@maggieneterval this is the Kubernetes Run Job stage in the OSS spinnaker.

[2020-08-03 16:15] ethanfrogers commented on #5914
@sdpoueme  - Thanks for reporting this. If I'm reading this correctly, you're using the `lookup` function to query Kubernetes for a specific secret and injecting it into the template? If so, I think that's an unsupported use case at this time. The way we've implemented chart baking involves running `helm template` in Rosco, the service for baking things like VMs or Helm Charts. Unfortunately, Rosc

[2020-08-03 16:21] maggieneterval commented on #5951
Thanks for clarifying; are you able to provide some minimally reproducible stage config JSON for the Run Job stage resulting in this error? And just to confirm, what top-level OSS release of Spinnaker are you running?

[2020-08-03 16:35] aleixrm-scopely commented on #5289
Hi, apparently we have the same timing issue. I'm using the spin cli libraries in my own tool to call the spinnaker API, and after doing the create application API call and checking that the task has been finished with SUCCESS state, I try to retrieve the application immediately with a GET API call, it returns a `forbidden access to resource in spinnaker: <application_name>` error.

When I put som

[2020-08-03 18:08] daniel-garcia commented on #4236
This issue is a significant problem. At this point, I think its better to have spinnaker deploy a single helm3 CRD and have a helm3 operator manage the deployment. Those operators properly delete resources. The lack of this feature isn't just an inconvenience it leads to bad state. This is especially true when dealing with a cooperative type of resources like ingress rules.

[2020-08-03 20:00] devorbitus commented on #5950
The installation of Halyard is done by giving halyard a non-root account to use. it looks as though that account may be called `spinnaker` and if so I would suggest you use sudo to impersonate that account like this `sudo -H -u spinnaker bash` and then you will probably see the spinnaker service account doesn't have access to the `/root/.kube/config` file. If you make a copy of that file and place

[2020-08-03 20:13] devorbitus commented on #5941
You are essentially attempting to install in an air-gapped environment. [Armory has some documentation](https://docs.armory.io/docs/spinnaker-install-admin-guides/installation/air-gapped/) for doing this with the Armory version but you could possibly follow the steps and do the same tasks but pointed at the Google Cloud Storage bucket instead. In essence, you need some files from the public gs://h

[2020-08-03 23:02] ghostsquad commented on #4236
@daniel-garcia can you not use `delete (manifest)` stage? I think this actually works quite well.

https://spinnaker.io/reference/pipeline/stages/#delete-manifest

since multiple selectors are combined into a `logical and`, you can easily select resources that _don't_ match your current deployment version, but are part of your application "group" (in case multiple applications get deployed to the

[2020-08-03 23:29] andrijaperovic commented on #5951
@maggieneterval sorry for the late response.
We are running Spinnaker OSS 1.21.2.
Here is the snippet of our create upgrade db stage which is the runJob stage for which the stage expansion in execution details causes the DOM failure:

[code]

[2020-08-04 02:56] zhuyongxuan opened #5955 "Some spinnaker metrics missing in V1.20.6"
### Issue Summary:
Some spinnaker metrics missing after upgrade from v1.19.7 to v1.20.6

### Cloud Provider(s):
Kubernetes

### Environment:
Spinnaker

### Feature Area:
daemon-monitor

### Description:
We found some metrics are missing after upgraded spinnaker from v1.19.7 to v1.20.6.
Some missing metrics:(for example)
1. igor:pollingMonitor:pollTiming__totalTime_total
2, front50:controller:invoc

[2020-08-04 07:22] vijay-sapient commented on #5941
Thanks @devorbitus thats exactly what i need. I was missing how to add halyard-local.yml. Some how google search never ends up in armory documents.

Though this option works. As per document https://spinnaker.io/setup/quickstart/faq/#halyard-times-out-during-a-config-change when we use --no-validate, hal should never connect to public bucket. Do you think it could be a bug.

[2020-08-04 10:37] harishatk commented on #3819
yeah! even I was googling on the same! lucky @kaybinwong  already opened a thread on this! I would also suggest/recommend to have a webhook in Notifications. But currently having a workaround with a custom built Slackbot, which can act on the slack notifications! This serves the purpose for now, but it would be great if we can get direct options to send messages/notifications to webhook on Pipelin

[2020-08-04 14:05] devorbitus commented on #5941
I am pretty sure the no-validate flag just disables the SSL validation in cases where a network middleware layer changes SSL so that a corporation can actually view what is going on in its networks.

[2020-08-04 14:27] devorbitus commented on #5955
There was a big change in how metrics are accumulated in the 1.20.x version of Spinnaker (there are [some notes about it here](https://docs.armory.io/docs/release-notes/rn-armory-spinnaker/armoryspinnaker_v2-20-0/#spinnaker-metrics))

[2020-08-04 16:06] maggieneterval commented on #5951
Hey @andrijaperovic, the `type` for a Kubernetes Run Job stage should be `runJobManifest`, not `runJob` ([source](https://github.com/spinnaker/deck/blob/master/app/scripts/modules/kubernetes/src/pipelines/stages/runJob/runJobStage.ts#L18)). If changing that doesn't resolve this issue, please feel free to re-open. Thanks!

[2020-08-04 16:06] #5951 closed

[2020-08-04 16:23] maggieneterval commented on #5939
@galvarado thanks for taking the time to write this up.

Unfortunately, there are currently two flags required to enable the canary front-end and back-end integrations in Spinnaker. Do you have both of the following blocks in your halconfig?

[code]
[code]

My guess is that you are missing the `features` flag. In 1.21, we began only registering Canary data sources in Deck when that flag is enabled

[2020-08-04 18:24] vijay-sapient opened #5956 "Clouddriver hitting secret limitation of 1MB"
Hi All, getting the below error, and i do see that the secret file size is more than 1MB. I do have approx 250 accounts on GCP.
is there a way out i can configure additonal secrets so that clouddriver can use the other secrets as well?.

[code]

[2020-08-04 19:22] devorbitus commented on #5956
This has been [looked at before](https://github.com/spinnaker/spinnaker/issues/3959) and unfortunately was not completed [due to technical difficulties ](https://github.com/spinnaker/spinnaker/issues/3968).

As far as where you can go right now: the limitation for a secret size in Kubernetes is not something that can be changed, unfortunately, and would require significant changes in order to supp

[2020-08-04 21:54] iiro commented on #5742
@spinnakerbot remove-label to-be-closed

[2020-08-05 03:40] JamieChe commented on #5955
Thanks for the info. There are two workarounds in the notes, Observability plugin and updating the metrics name. If I do the name update, is there any name mappings? Because we didn't find matching new metrics for the old ones. And maybe the unit is changed as well?
We will also try the plugin, does the plugin contain grafana dashboard templates? I didn't see related files in the repo. Currently o

[2020-08-05 08:00] #5581 closed

[2020-08-05 09:27] alexef commented on #4554
For the record, this was solved by passing the correct `.aws` credentials and AWS_PROFILE to the hal container.

[2020-08-05 09:29] vijay-sapient commented on #5305
@german-muzquiz still the same issue even with 1.37.0

    "problems" : {
      "problems" : [ {
        "message" : "Unable to write the kubeconfig file to the staging area. This may be a user permissions issue.",
        "remediation" : null,
        "options" : null,
        "severity" : "FATAL",
        "location" : "Global"
      } ]
    },
    "responseCode" : 409,
    "message" : "Unable to

[2020-08-05 09:35] #5234 closed

[2020-08-05 13:19] german-muzquiz commented on #5305
@vijay-sapient Can you test specifying `encryptedFile` prefix for kubeconfigs instead of `encrypted`?
[code]
Our docs need to be updated, there was a change since the initial implementation to use `encrypted` prefix only for secret values and `encryptedFile` for secret files like kubeconfig.

[2020-08-05 17:18] vijay-sapient commented on #5305
@german-muzquiz yeah this one works thanks a lot. I can raise a PR to fix the documentation

[2020-08-05 17:23] devorbitus commented on #5956
More in-depth conversation on the above issue in the Spinnaker slack channel posted here for reference https://spinnakerteam.slack.com/archives/C091CCWRJ/p1596565282328600

Anyone can join Spinnaker slack through http://join.spinnaker.io

[2020-08-05 17:24] german-muzquiz commented on #5305
It's on the works: https://github.com/spinnaker/spinnaker.github.io/pull/1995

[2020-08-05 18:18] andrijaperovic commented on #5951
Hi @maggieneterval ,
Seeing the following issue after modifying our pipelines to use `runJobManifest`:
[code]

[2020-08-05 18:43] maggieneterval commented on #5939
@galvarado thanks again for reporting this -- this was 100% my bad! The workaround I described in my previous comment of adding the `features.mineCanary` flag should do the trick for 1.21, but in 1.22 you will be able to remove it and the `canary.enabled` flag will be sufficient to enable the canary UI.

[2020-08-05 18:44] andrijaperovic opened #5957 "Spinnaker Pipelines: No StageDefinitionBuilder implementation for runJobManifest(alias: null)"
### Issue Summary:

Observing the error No StageDefinitionBuilder implementation for runJobManifest(alias: null) when using stage type of runJobManifest (as opposed to runJob which was used previously).

### Cloud Provider(s):

GCP

### Environment:

N/A

### Feature Area:

Pipelines

### Description:

### Steps to Reproduce:
[code]
Create a stage that runs a Kubernetes job (with the v2 provider).

[2020-08-05 18:46] piyushGoyal2 opened #5958 "Clouddriver with Mysql unable to invalidate stale cache"
### Issue Summary:
Clouddriver Mysql unable to invalidate stale cache.

### Cloud Provider(s):
AWS, EKS, Kubernetes

### Environment:
1.19.x - EKS -Clouddriver - Aurora Mysql 5.7.12

### Feature Area:
Kubernetes CloudDriver, CloudDriver MySQL

### Description:
My clouddriver is backed by Aurora Mysql - 5.7.12. Somehow Mysql is not able to actually invalidate stale cache. On infrastructure page, un

[2020-08-05 18:55] maggieneterval commented on #5957
Hi @andrijaperovic, sorry that you took the time to open a new issue -- I saw your reply on the other issue and was about to respond there.

I'm not sure how you ended up in a state where the `alias` is missing from your stage config, but for the Kubernetes Run Job stage, both of the following fields are required:
[code]
[code]

Check out this [comment](https://github.com/spinnaker/spinnaker/issue

[2020-08-05 18:58] andrijaperovic commented on #5957
Thanks @maggieneterval , can you share some information on how Deck can be configured to generate the stage type with the alias? I'm not able to deduce what the next steps are for our configuration from the comment on #4888. Would be quite helpful.

[2020-08-05 19:03] maggieneterval commented on #5957
@andrijaperovic sorry for the confusion -- Deck should automatically add the correct `type` and `alias` when you are configuring a Run Job (Manifest) stage from the UI. How are you generating your pipeline JSON? If you have some stages that somehow ended up in an incorrect state, you can manually correct these fields using the "Edit as JSON" functionality in Deck.

[2020-08-05 19:25] andrijaperovic commented on #5957
@maggieneterval we were originally using pipeline templates, but due to performance concerns are creating pipeline objects in Spinnaker directly using spin-cli. `runJob` was working fine, with recent upgrades of Spinnaker we have encountered this UI bug which I mentioned originally in #5951 .

[2020-08-05 19:27] andrijaperovic commented on #5957
Would it be possible to add some exception handling in the React JS layer to handle property `resources` of `cluster` being undefined?

[2020-08-05 19:30] ratika-ipg opened #5959 "Getting "Exception ( Create Server Group ) Access denied to application foo" if I do not have 'write' permission on app"
### Issue Summary:
Getting "Exception ( Create Server Group ) Access denied to application foo" if I do not have 'write' permission on app.

### Cloud Provider(s):
aws

### Environment:
dev

### Description:

Getting "Exception ( Create Server Group ) Access denied to application foo" if I do not have 'write' permission on app
Here are the details

abc, xyz = team in GitHub. We are testing with xy

[2020-08-05 21:44] maggieneterval commented on #5957
That's strange; I'm not sure how this could have been working in a previous version of Spinnaker, since my understanding is that both the correct `type` and `alias` must be defined for the Run Job (Manifest) to work. On which version was this working for you? When you downgrade back to that version, are you able to successfully run a Run Job (Manifest) stage without the `alias` defined? Can you se

[2020-08-05 21:51] galvarado commented on #5939
ok thanks for your clarification @maggieneterval  so from what i understand we can confirm an issue with canary.enabled flag in 1.22, it is being  ignored or is not sufficeint to enable the canary UI

[2020-08-05 23:15] andrijaperovic commented on #5957
@maggieneterval I believe we were just using `type: runJob` prior with no `alias` defined, after adding `alias` key to the pipeline JSON of each `type: runJobManifest` stage in Spinnaker version 1.21.2, things are working as expected.

I am not certain if we can do that downgrade testing to verify the behavior of only supplying `type: runJob` without `alias` in a previous version, simply because t

[2020-08-05 23:55] #5957 closed

[2020-08-06 00:06] ajordens commented on #5959
To be honest this is the behavior I'd expect to see ... (requiring `WRITE` on the application you're going to modify resources in).

We're not using `EXECUTE` as a standalone grantable permission so can't really speak to how well that's supported, perhaps someone else is familiar.

[2020-08-06 00:07] ajordens commented on #5958
Assigning to the Kubernetes SIG as it seems like it might be more related to how the cloud provider itself is caching.

[2020-08-06 12:50] silvez-dh commented on #5918
@alchen99 on spinnaker ```1.21.2``` worked for github oauth like you described. But i could still login into spinnaker from an github account outside that didn't belong to the **company** set on **authz**

Nonetheless changing authn provider to **OTHER** (keycloak) and setting **userInfoRequirements** it still falls into the same endless loop

[2020-08-06 13:21] silvez-dh opened #5960 "Oauth - Redirects loop when userInfoRequirements is set for authn EXTERNAL provider"
### Issue Summary:
Whenever **userInfoRequirements** parameter is set using authn EXTERNAL provider plus oauth, spinnaker authentication falls into an endless 302 loop whereas a HTTP 403 (or some landing page) where expected

### Cloud Provider(s):
k8s

### Environment:
Spinnaker version: 1.21.x (deployed via helm), backend S3 + redis
Running on EKS cluster
Oauth provider is OTHER (keycloak)
Authz

[2020-08-06 13:21] silvez-dh commented on #5918
opened this new one for the issue above: https://github.com/spinnaker/spinnaker/issues/5960

[2020-08-06 15:58] stellirin commented on #5945
@kevinawoo I just tested `version-1.17.3` and it seems to be fixed. Thanks!

[2020-08-06 16:58] stevenaldinger commented on #4588
Is there any plan to support private membership? In an older version of spinnaker we were able to have private members and forcing public membership is an unacceptable security issue in enterprise environments. We're looking at alternative auth methods in the mean time but would prefer to use github.

[2020-08-06 20:47] ratika-ipg commented on #5959
Thank you @ajordens for quick response.
I think that makes sense since the previous versions had only READ and WRITE permissions on Application.

Is there a way to achieve deploy permissions to the pipelines but NO permission to modify pipelines and app?

[2020-08-06 22:59] piyushGoyal2 commented on #5958
@ajordens - Thanks. Yeah makes sense. Waiting for guys to debug on this along with them. Looks like a blocker for us right now to move clouddriver to mysql.

[2020-08-06 23:53] kskewes commented on #5958
We have both ec2 and kubernetes accounts configured.
Only ec2 accounts appear to be targeted for cleanup.

Looking through our `clouddriver` logs we can only see cleanup running for ec2 accounts, as per below logs:
[code]

[code]

Looking at the original issue #4803 and corresponding PR https://github.com/spinnaker/clouddriver/pull/4232 that added the cleanup agent I see there is a flag which was

[2020-08-07 04:12] kskewes commented on #5945
Tested with `spin` master and it seems fixed. Thanks very much.

[2020-08-07 10:40] sramek5 opened #5961 "Failed to evaluate script (EL1041E) leads to "false" failed deployment"
### Issue Summary:
Spinnaker has **SOMETIMES** script validation error which I tried to workaround, mentioned in #3028.

### Cloud Provider(s):
OpenStack
Kubernetes: v1.18.6
Spinnaker: 1.21.0

### Environment:
Using Spinnaker to deploy Zebee into kubernetes.

### Feature Area:
v2 Manifest Deploy

### Description:
Configmap with shell script has environment variables. These are skipped in manifest

[2020-08-07 11:03] sramek5 opened #5962 "Delete deployment is missing in GUI"
### Issue Summary:
It would be very nice to have a possibility to delete deployment in Spinnaker GUI.

### Cloud Provider(s):
OpenStack
Kubernetes: v1.18.6
Spinnaker: 1.21.0

### Description:
In `Deployment Actions` button is just a few commands:
![image](https://user-images.githubusercontent.com/53052347/89639066-364a4400-d8ad-11ea-8246-ea605f9e78c6.png)

I tried to `Destroy` or `Disable` Server

[2020-08-07 14:08] Chinikins commented on #4907
@spinnakerbot remove-label stale

The ability to enable and disable pipelines via the spin CLI has been added btw!

[2020-08-07 14:42] Chinikins commented on #4907
The ability to enable/disable easily per pipeline was added in https://github.com/spinnaker/spin/pull/280 so you can do `spin pipeline update --application <application name> --name <pipeline name> --enabled` or `spin pipeline update --application <application name> --name <pipeline name> --disabled` using spin CLI from latest master or waiting until the 1.22 release.

Could probably do something

[2020-08-07 15:16] sandmule opened #5963 "[authN] Unable to confirm if a user belongs to a GitHub organization, if the organization isn't shared publicly on their profile"
### Issue Summary:

Unable to confirm if a user belongs to a GitHub organization due to the endpoint being used.
### Cloud Provider(s):

GCP, GKE
### Environment:

Version 1.21.2, set up following the latest documentation. Running on Kubernetes.
### Feature Area:
Gate, Fiat

### Description:

There is some rough documentation online on how to configure spinnaker to restrict access to only allow pe

[2020-08-07 16:48] devorbitus commented on #5889
Thanks so much for submitting a PR that fixes this @jaydee864 and especially for including tests!!!

[2020-08-07 17:46] cah-lawrence-kaufman commented on #4773
Still needed.

[2020-08-07 19:03] gnadaban commented on #4660
+1

[2020-08-07 19:31] ajordens commented on #5963
I suspect this in an area we would welcome a contribution, I'm not a user of the Github oAuth2 integration myself.

[2020-08-07 20:25] ncknt opened #5964 "Kubernetes manifests versions increase across accounts"
### Issue Summary:
Say we have:
- Account A, namespace N with `Job` v000 and v001 exist
- Account B (different cluster), namespace N: empty.

If I try to deploy a `Job` (which is versioned), I'll version v002 in account A but also in account B.

### Cloud Provider(s):
Kubernetes V2

### Feature Area:
Cloudriver

### Description:
`KubernetesVersionedArtifactConverter` does not filter artifacts in a

[2020-08-07 20:54] gnadaban commented on #5807
@kskewes : Did you notice the typo `rediss` in your baseUrl?

[2020-08-07 20:56] kskewes commented on #5807
`rediss` with the second `s` designates use SSL. It's the scheme name. Like HTTPS. :)

[2020-08-07 21:00] kskewes commented on #3651
Ah the linked issue was about pipeline ID's not project ID's.
Looks like you found a bug anyway :)

Thanks very much, I'm going to close the issue again.

[2020-08-07 21:00] #3651 closed

[2020-08-07 21:01] kskewes commented on #5961
I wonder if this is related to Orca doing additional parsing and failing per https://github.com/spinnaker/spinnaker/issues/5626

[2020-08-07 21:16] gnadaban commented on #5807
Nice! :) Thanks for that smartness! This of course needs proper cert in Redis then, right?

As for the issue, I've been struggling with similar issue from CloudDriver, and this is what I found.
This format does **NOT** work (but should):

[code]

This format works (inferring defaults):
[code]

See esoteric parsing logic [here](https://github.com/spinnaker/clouddriver/blob/0524d08f6bcf775c469a0576a

[2020-08-07 21:23] kskewes commented on #5807
Yes it does need cert. :)

Related, I see that cloud driver is missing the SSL parameter [here](https://github.com/spinnaker/clouddriver/blob/0524d08f6bcf775c469a0576a79b2679b5653325/clouddriver-core/src/main/groovy/com/netflix/spinnaker/clouddriver/core/RedisConfig.groovy#L110).
We have just done a bunch of PR's to other services for this but use SQL backing clouddriver so can't test redis here.

[2020-08-07 21:38] kskewes commented on #5955
We have done a port to the micrometer metrics from Armory plugin and created a Prometheus monitoring mixin including dashboards.
It's a first pass so needs lots of work but will open source it this week coming.

[2020-08-07 21:45] kskewes commented on #5807
Rather than the Igor example I posted I think it's more consistent to override the `services.redis` key as per what we did with gate (and other's) [here](https://github.com/spinnaker/gate/pull/1295)

[2020-08-08 01:32] sdpoueme commented on #5914
Hi @ethanfrogers that is correct. We have several SRE teams relying more and more on this type of logic in their helm charts. Thanks for the feedback. I will report this back to the teams and see if I can find a different approach for these templates.

[2020-08-08 18:11] iandelahorne commented on #5844
@spinnakerbot remove-label stale

This is still an issue near and dear to my heart

[2020-08-08 18:40] #5503 closed

[2020-08-09 07:10] shubhamc183 commented on #5916
Meanwhile, affinity can be used.
https://github.com/spinnaker/spinnaker/issues/5916

[2020-08-09 10:54] anoopl opened #5965 "Huge Traffic from Kubernetes masters to Spinnaker"
### Issue Summary:
Huge Traffic to Kubernetes masters from Spinnaker
Spinnaker might be reading the status of deployments

### Cloud Provider(s):
Kubernetes/ GKE

### Environment:
Dev/test/prod

### Feature Area:

### Description:
Spinnaker receives a huge traffic from GKE masters, Spinnaker is on premise and connected through VPN.
There is around 2 TB data transfer daily. We tried to set Kind, bu

[2020-08-09 13:57] sanopsmx commented on #4792
Can you reopen the issue.

[2020-08-09 22:39] #5811 closed

[2020-08-10 00:30] #5427 closed

[2020-08-10 14:00] #5422 closed

[2020-08-10 17:06] #5939 closed

[2020-08-10 17:58] #5964 closed

[2020-08-11 06:54] babinin commented on #5962
Hi!
it would be very useful to have 'edit' action back
(Spinnaker 1.21.3)

[2020-08-11 09:51] KeisukeYamashita commented on #5963
@sandmule Spinnaker can only fetch user info of public members. But if you use an proxy, this will solve the issue.
https://github.com/KeisukeYamashita/spinnaker-github-proxy

[2020-08-11 09:54] KeisukeYamashita opened #5966 "Spinnaker Fiat reaches to rate limit of GitHub API"
### Issue Summary:

When I enabled GitHub Team authorization feature, at my first login, it reached the GitHub API's rate limit and the login failed.

### Cloud Provider(s):

* GKE

### Environment:

* Fiat
* GitHub
* Spinnaker `1.21.0`

[code]

### Feature Area:

* Authorization

### Description:

I followed the [GitHub Teams - Spinnaker](https://spinnaker.io/setup/security/authorization/github-t

[2020-08-11 10:22] sandmule commented on #5963
Wouldn't it be easier to just change the scope? If I find some time this week I'll have a crack at it.

[2020-08-11 16:16] gnadaban commented on #3249
@spinnakerbot reopen

+1

[2020-08-11 19:44] maggieneterval commented on #5962
Hey @sramek5 and @babinin! I appreciate you reporting this issue. I've submitted a fix that will go out with the next release (1.22), which is scheduled for within the next couple of weeks.

Spinnaker's Kubernetes SIG has actually discussed disabling all of these ad-hoc actions by default for the Kubernetes provider, since many operators do not want their dev teams making any out-of-band changes t

[2020-08-11 19:44] #5962 closed

[2020-08-11 20:06] clayvan commented on #5759
@spinnakerbot remove-label stale

[2020-08-11 21:46] iiro commented on #5762
@spinnakerbot remove-label to-be-closed

[2020-08-12 01:07] emccallum commented on #5862
Hi @roopakv , we'll be discussing plugins in the next CI SIG meeting tomorrow at 10:00 AM PST. The details are the same as Gal shared above; hope to see you there!

[2020-08-12 01:09] alyssahardy opened #5967 "Pipelines created from pipeline templates fail if tags was used exclusively"
### Issue Summary:
When you create a pipeline-template and save it via spin cli, you have to upload it first without any tags. If the first time you save a pipeline-template you include a tag, your pipelines will be unable to find the template.

### Cloud Provider(s):

kubernetes

### Environment:

I am using pipeline templates to create pipelines which deploy to GKE.

### Feature Area:
Pipelines

[2020-08-12 01:11] emccallum commented on #5813
Hi @rverma-jm , we have another sig meeting tomorrow at 10:00 AM PST. If you're able, please join us to discuss this issue! Otherwise, feel free to reach out in the sig-ci channel in the Spinnaker Slack.

[2020-08-12 01:21] roopakv commented on #5862
@emccallum yes! for sure i'm trying to move some meetings around and then I'll be there

[2020-08-12 01:27] Chinikins commented on #5813
To get around this issue in the past I've pushed the entire github folder into an S3 bucket and listened for S3 bucket changes instead but I would like to see a way for spinnaker to handle this kind of change straight from github.

[2020-08-12 01:54] Chinikins commented on #5967
Hello! It would help if you gave a little more info on how you're calling the pipeline save command. Also a helpful debug step is when creating the pipeline from template via the UI having the console open and seeing the plan request that happens -> there will be usually the request response that will give better insight into what the error is.

[2020-08-12 04:31] Chinikins commented on #5967
I was able to reproduce this and what I found was if passing in `--tag` to the Spin CLI, the pipeline template is actually never saved which is why you can't create a pipeline from it.

The Spin CLI behavior is more or less at the mercy of orca here because it returns a 202 that orca has accepted the request but orca's 400 error doesn't have a good way to come back to the Spin CLI atm.

[code]

[2020-08-12 08:52] enricojonas commented on #5761
@maggieneterval We are also facing this issue and I don't feel that it is resolved even though documentation makes clear how it is supposed to work from 1.20+. Can you re-open this one?

Previously we had all artifacts defined under configuration / expected artifacts. We have multiple teams that have been using Spinnaker in this way. There is no way to edit those artifacts after upgrade to 1.20. W

[2020-08-12 13:57] sdpoueme commented on #5914
Closing this issue.

[2020-08-12 13:57] #5914 closed

[2020-08-12 14:02] sdpoueme commented on #4420
Seeing the same issue on our production spinnaker instances. After 2 years, we have more than 4500 secrets.

[2020-08-12 14:05] sdpoueme opened #5968 "halyard deploys new secrets without cleaning up old secrets"
### Issue Summary:
Halyard is not cleaning up secrets generated during spinnaker config deployment. Raising this issue again in reference to #4420

### Cloud Provider(s):

Kubernetes

### Environment:
OpenStack

### Feature Area:
Halyard

### Description:
After running Spinnaker in production during 2 years, we are seeing a high number of secrets generated by `hal deploy apply` even though we use

[2020-08-12 17:37] alyssahardy commented on #5967
If I don't pass in --tag in the first save via the Spin CLI, and then subsequently pass in the --tag on modified versions, it seems to work OK in using the tagged version. The workaround I'm doing is calling the pipeline-template save twice -- once without the --tag and a second time with the --tag. Are you saying that if I added the tag to the json, I could just make the one call each time?

[2020-08-12 17:43] Chinikins commented on #5967
Yes, what's happening now is that you do a do a save of the pipeline template without a tag to a new pipeline and it actually doesn't save any pipeline template at all because of the error I describe above.

When you remove --tag from the CLI call and move it to the json file, it works. And it seems you can add a tag to an existing pipeline. But if you try to add a tag to a new pipeline template,

[2020-08-12 17:44] gal-yardeni commented on #5852
hi @vijay-sapient , can you take a look here and see if it helps? https://spinnaker.io/reference/halyard/secrets/

[2020-08-12 17:48] vijay-sapient commented on #5852
Hi @gal-yardeni no this does not, the secrets am talking about is application specific, which is visible via UI. I think the fix has to be done on the deck not to show secret.yml during the deploy stage

[2020-08-12 18:08] alyssahardy commented on #5569
This would make pipeline templates more robust. I would be very interested in this feature as well.

[2020-08-12 22:17] KeisukeYamashita commented on #5753
I am facing the same problem here. There is no service account created.

[2020-08-13 11:18] KingCrah opened #5969 "Wrap spinnaker in a C# project"
I wrote an C# project with Visual studio 2017.
Then I need to wrap spinnaker in my project to get images and save images.
I modified .csproj to reference spinnakerNET_v140.dll accroding to it's target platform like "anycpu" or "x64".
I added the files in Spinnaker\bin64\vs2015 with [XMLParser_MD_VC140_v3_0.dll,
 Spinnaker_v140.dll,
 MathParser_MD_VC140_v3_0.dll,
 Log_MD_VC140_v3_0.dll,
 libiomp5md

[2020-08-13 12:56] maggieneterval commented on #5761
Hi @enricojonas, thanks for the detailed feedback! I especially appreciate your UI mocks; they made it very easy to understand your proposed solutions to the issues your raised.

We discussed concerns similar to yours at the UI SIG several months ago when we were in the process of making the newer artifacts UI that Pivotal added the default. The consensus was that for most users, it made the most

[2020-08-13 13:04] KingCrah commented on #5969
And I change target platform to x86.
Then, compiler said it didn't find spinnakerNET and spinnakerNET.Genapi, I add the SpinnakerNet into .csproj , but I got this error.

[2020-08-13 13:55] ratika-ipg opened #5970 "AWS load balancer and target groups are not getting populated in UI"
### Issue Summary:
AWS load balancer and target groups are not getting populated in UI

### Cloud Provider(s):
AWS

### Environment:
stage

### Description:
spinnaker version recently upgraded from 1.17.x to 1.19.13

### Additional Details:
AWS target groups (TG) and Security groups (SG) are still showing for dev and qa env.
For dev and qa accounts were added before upgrade. SG, ELB, ALB or TG are

[2020-08-13 14:34] enricojonas commented on #5761
@maggieneterval thanks for your feedback. I tried this flag with 1.20 and I got the expected artifacts section back but I am not able to create in-stage artifacts, so it is either old or new UI it seems.

If I define in-stage artifacts with the new UI (flag off) the artifacts are not visible when I turn on the flag, the fields are empty.

flag off:

![image](https://user-images.githubusercontent.c

[2020-08-13 15:00] AbdulRahmanAlHamali commented on #5461
Can we reopen this please?

[2020-08-13 16:29] christopherthielen commented on #5969
This repo is for http://spinnaker.io, not https://www.flir.com/products/spinnaker-sdk/
Sorry!

[2020-08-13 16:29] #5969 closed

[2020-08-13 17:22] pkandasamy91 opened #5971 "AWS ECS create server group UI not loading"
When adding a new ECS Server Group to an existing pipeline, the UI loads the popup in the background. This prevents the user from being able to interact with the popup, and thus is not able to configure or close the popup. The only way to exit the popup is to refresh the page.

Looks to be specific to how Deck loads the different provider widgets/popups.

<img width="1280" alt="Screen Shot 2020-08

[2020-08-13 17:32] somyagarg94 commented on #5930
Any updates on this?

[2020-08-13 20:34] maggieneterval commented on #5643
Assigning this to @mattsanta as he will be tackling this! (Matt, you may need to comment on this issue before it lets me assign you.)

[2020-08-13 20:35] mattsanta commented on #5643
Commenting! Currently working on design doc for this :)

[2020-08-13 23:05] patoarvizu commented on #5039
Just to add here that I ran into the same issue but in addition to adding the permissions for `customresourcedefinitions`, I also had to restart the `spin-clouddriver` pods to get it to cache CRDs.

[2020-08-13 23:26] gal-yardeni commented on #5852
hi @vijay-sapient after reviewing it again, it looks like we cannot determine from the backend side (Igor) whether a property inside the Jenkins properties file contains any secrets.
One way to handle it is similar to what you've experienced above - you can add a checkbox to `deck` and when this checkbox is checked, you can hide the properties file results. You can directly contribute to `deck` op

[2020-08-14 01:20] lsarangi1 opened #5972 "Pipeline times out after spinning in "Wait for manifest to stabilize" stage for 30 mins"
### Issue Summary:

Spinnaker pipeline times out after spinning in "Wait for manifest to stabilize" stage for 30 mins

### Cloud Provider(s): Kubernetes

### Environment: I am running spinnaker in a kubernetes cluster backed by AWS EKS. I have 2 other cluster accounts configured as deployment targets. These are configured as service accounts.

### Feature Area: Pipelines

### Description:

I am ab

[2020-08-14 03:09] neakor commented on #5961
We are seeing the same issue in 1.20.4. This seems like a regression of #3644

[2020-08-14 13:00] #4806 closed

[2020-08-14 15:29] german-muzquiz commented on #5972
@lsarangi1 what version of spinnaker and Kubernetes are you using? from the error it seems that support for `apps/v1` was not available in the version of spinnaker that you are running. This PR https://github.com/spinnaker/clouddriver/pull/4055 shows that it was added in Spinnaker `1.17`, if you have an older one, can you try with a newer version?

That said, waiting 30 minutes to fail the stage i

[2020-08-14 15:55] #4362 closed

[2020-08-14 16:07] lsarangi1 commented on #5972
Kubernetes - 1.15+
Spinnaker - 1.16.1

I installed spinnaker using the stable helm chart (version 1.23.3) - https://hub.helm.sh/charts/stable/spinnaker/1.23.3
Using a later version of a chart gives me an error.
[code]

[2020-08-14 17:05] atyutyunnik opened #5973 "AWS CodeBuild: incorrect grammar in hints"
### Issue Summary:
A number of hint messages in AWS CodeBuild stage contain incorrect grammar "(Optional) Source of the build. It will be **overrided**..."

Expected:
It will be **overridden**...
### Cloud Provider(s):
AWS

### Environment:
Spinnaker 1.21

### Feature Area:
Deck

### Description:
1. Create AWS CodeBuild stage
2. Hover over some hints to see popup messages with the wrong grammar

[2020-08-14 17:36] lsarangi1 commented on #5972
@german-muzquiz curious how did it deploy successfully to the default dev account ?

[2020-08-14 17:52] german-muzquiz commented on #5972
That's a good question. Is there any difference in the account definition of both environments? I see from the logs `Live call to lookup manifest`, that probably means you have `liveManifestCalls: true`. Setting it to false will make spinnaker look into the cache instead of a live call and it could go through a different route in the code.

[2020-08-14 17:56] lsarangi1 commented on #5972
I see..afaik the account definitions are the same. I changed the liveManifestCalls to true while I was debugging this issue. I thought may be it's not able to get the manifest properly from the cache so a live lookup may help. What's the correct setting ?

[2020-08-14 18:07] german-muzquiz commented on #5972
`liveManifestCalls` has [known issues](https://github.com/spinnaker/spinnaker/issues/5607) and it's advisable to have it turned off, it was created as a workaround for performance problems.
It's a shame that the helm charts cannot install a newer version of spinnaker, that's the preferred way to go

[2020-08-14 20:11] maggieneterval commented on #5948
Hi @ryan-dyer-sp, apologies for the delayed response to this issue!

You are correct that Spinnaker's image artifact replacement logic does not work if the image includes the tag. In fact, @ezimanyi recently added some excellent [tests](https://github.com/spinnaker/clouddriver/pull/4799) demonstrating this behavior.

We should definitely come up with a solution to this problem given that, as you m

[2020-08-14 20:58] bitsofdave commented on #5720
Confirming that having `"spelEvaluator": "v4"` is still an issue on Spinnaker v1.21.2 with regards to using templateVariables.

Using `"spelEvaluator": "v3"` does work.

[2020-08-14 22:33] ezimanyi commented on #5039
@patoarvizu : Yes, that's a good point, thanks for writing that here.  To avoid continuously checking the permissions over and over again, Clouddriver caches which Kubernetes kinds it is able to read for the lifetime of the process, so it would need to be restarted to discover any such changes.

[2020-08-15 00:11] ezimanyi commented on #5961
Yeah, this is almost certainly due to the fact that Orca is evaluating SpEL on the manifest as noted by @kskewes.  We are working on a refactor of the way we handle Kubernetes deploy stages that will stop this from happening (#5909).  (This is part of a bunch of performance/refactoring work that we're actively working on.)

Right now what happens is that you can opt out of SpEL evaluation in the s

[2020-08-15 00:11] #5961 closed

[2020-08-15 01:48] atyutyunnik opened #5974 "Can't make AWS CodeBuild work in my environment"
### Issue Summary:
I have enabled a AWS CodeBuild per instructions and have the following in my ~/.hal/config:
[code]

However, the igor pod fails to start, continuously showing exceptions in its log (see below). I have seen failures like ```EC2MetadataUtils      : Unable to retrieve the requested metadata (/latest/dynamic/instance-identity/document)``` before in the clouddriver upon start but tha

[2020-08-15 04:00] #5545 closed

[2020-08-15 21:45] guido9j commented on #5834
@ezimanyi : can this be closed?

[2020-08-16 20:59] ghostsquad commented on #2787
@spinnakerbot remove-label stale

[2020-08-17 06:55] #5514 closed

[2020-08-17 07:22] shivamdixit commented on #4291
@spinnakerbot remove-label stale

[2020-08-17 09:17] ryu1kn commented on #5703
@spinnakerbot remove-label stale

[2020-08-17 10:59] gomid opened #5976 "[Orca] Notification on stage completion/failure doesn't display message for ManualJudgment stage"
### Issue Summary:
`ManualJudgmentStage` has its own set of events (`manualJudgment`/`manualJudgmentContinue`/`manualJudgmentStop`) for notifications.
But for standard stage events `stage.complete` and `stage.failed`, the behaviour is unexpected as it doesn't display configured notification message.

### Cloud Provider(s):
AWS

### Environment:
Spinnaker 1.19.7

### Feature Area:
Manual Judgment
N

[2020-08-17 15:37] plumpy commented on #5042
This was merged by @takaaki7, thanks! It'll be in Spinnaker 1.22, due out sometime next week.

[2020-08-17 15:37] #5042 closed

[2020-08-17 16:26] lsarangi1 commented on #5972
I did manage to find a workaround to install spinnaker version 1.19 and configured the pipelines again. Now it says pipeline succeeded but the new pods are not deployed. From the UI it almost seems like it waited in the force cache refresh stage for 30 seconds and did not move after that...

No obvious errors in the clouddriver logs either. Any ideas on what's missing ?

![Screenshot from 2020-08-

[2020-08-17 16:42] german-muzquiz commented on #5972
The execution looks fine, can you double check that everything was deployed to the right cluster and namespace? If you click `Deploy Status` there's a link to see the actual yaml that spinnaker deployed. Also at the bottom right corner of that frame there's a `Source` link that shows you the full pipeline execution context, which contains more detailed information about that execution. I don't rem

[2020-08-17 16:42] #5972 closed

[2020-08-17 17:22] maggieneterval commented on #5971
@pkandasamy91 are you looking into this? Not sure if this is a known issue with the UI nav refactor (cc @caseyhebebrand)?

[2020-08-17 17:30] #5508 closed

[2020-08-17 17:38] pkandasamy91 commented on #5971
@maggieneterval, I've started looking into it, but would love any thoughts. Raised this issue to see if others might have an idea of what the problem might be, so that we can resolve this quickly (since this would break with the next release that's being cut today?).

[2020-08-17 17:42] caseyhebebrand commented on #5971
This is not a known issue. It looks like the z-index needs to be increased. I updated `.modal` to `--layer-critical`, but this must have a different class associated.

I checked out the code. There is both a react and angular `DeployInitializer`. The react component is working, as verified in my aws test account. The ecs provider uses `deployInitializer.component.html`, which has another parent cl

[2020-08-17 18:18] maggieneterval commented on #5971
Thank you both for the quick response! Would be great to get this resolved today since @german-muzquiz will be cutting the 1.22 release branches tomorrow and this issue feels like a blocker if ECS users would no longer be able to use the create server group modal. @pkandasamy91 would you be able to update the z-index as Casey described? (I would offer to do it but do not have access to ECS creds t

[2020-08-17 18:40] pkandasamy91 commented on #5971
Sure, I can update the z-index. I'll update this issue with more info once it's been done. Thank you both! @caseyhebebrand @maggieneterval

[2020-08-17 18:41] caseyhebebrand commented on #5971
Thank you! I also do not have access to ecs, so it would be fastest for someone who does. Let me know if you need any other context!

[2020-08-17 20:17] sofam commented on #5734
@luckoseabraham did you find a solution? We're also struggling with this.

[2020-08-17 20:32] lsarangi1 opened #5978 "Spinnaker pipeline tries to deploy incorrectly to "default" namespace in spite of namespace being provided in the manifest and hence fails."
### Issue Summary:

When I execute a pipeline to deploy an application to the cluster in which spinnaker is deployed to it runs successfully. However when I run a pipeline that attempts to deploy the same application to another k8 (test account) via a manifest it doesn't deploy the pods. The spinnaker UI incorrectly shows pipeline executed successfully.

### Cloud Provider(s): Kubernetes

### Envi

[2020-08-17 20:53] kskewes commented on #5948
This is a good topic.

We either have the pipeline hydrate a tag via Docker trigger (no tag in YAML) or we specify the tag and don't have a Docker trigger.

There are a few gotcha's that we've observed with Docker images and triggers, sorry for derail:

1. Docker Hub being default Registry and use of `index.docker.io/` prefixing the image (repository) name.
We found inconsistent results with Docke

[2020-08-17 21:34] jeffreycoe commented on #5826
I may have a solution. I was working on implementing this and have some basic functionality working. I'll see if I can submit the appropriate PRs. I'd like for people to provide feedback and help contribute to get this built into Spinnaker.

[2020-08-17 22:16] pkandasamy91 commented on #5971
I've tried updating the zindex to be z-index: var(--layer-critical) !important; to modal-page, but it looks like it's being overridden by the default z-index: 1050 defined by uib-modal. Any thoughts on how to get around this?

[2020-08-17 22:40] emccallum commented on #5813
Hi @rverma-jm , due to inactivity we will be closing this issue. Feel free to open a new issue with the additionally requested context if this persists!

[2020-08-17 22:40] #5813 closed

[2020-08-17 22:45] emccallum commented on #5823
Hi @jaydee864 , happy to hear you were able to resolve this issue. I'll mark this issue as closed; please feel free to open a new issue if you find something else!

[2020-08-17 22:45] #5823 closed

[2020-08-17 22:47] emccallum commented on #5862
Hi @roopakv thanks for joining the SIG last week! Since we were able to discuss this issue and talk about next steps, I'll close this out for now. Please feel free to open a new issue if you encounter one while getting started on this plugin.

[2020-08-17 22:47] #5862 closed

[2020-08-17 22:54] caseyhebebrand commented on #5971
@pkandasamy91 You can just override this parent style. Its likely the same z-index problem affects all components that use this. You can look up the classes needed to override bootstrap css, since I can't recall it off the top of my head.

[2020-08-18 01:29] Chinikins commented on #5967
I dug into this more and see why the Spin CLI isn't returning the correct code, though I'm not sure what the right fix would be...

swagger autogenerates this function: https://github.com/spinnaker/spin/blob/master/gateapi/api_v2_pipeline_templates_controller.go#L99

So while you're probably encountering an error on the first save, you aren't correctly seeing it because the response is 202 but we

[2020-08-18 01:35] atyutyunnik opened #5979 "RunJob Manifest occasionally fails with "Job not found" error message"
### Issue Summary:
The Job routinely passes but sometimes fails with a message "Job not found" like this:
![image](https://user-images.githubusercontent.com/45210095/90455265-83e35f80-e0aa-11ea-8cfc-b6c9d49eefa0.png)

People periodically complain about a "Job not found" issue in Slack Spinnaker channels

### Cloud Provider(s):
Kubernetes

### Environment:
Spinnaker 1.21.4

### Feature Area:
Cloudd

[2020-08-18 01:44] jeffreycoe commented on #5826
PRs are opened. I tried to model this implementation on the Google Chat code. It's basic support to add notifications for Microsoft Teams, and I didn't have a chance to dig deeper to add manual judgment support yet. I'd need some assistance with getting that functionality added.

[2020-08-18 02:39] kevinawoo commented on #5967
The workaround for now is to change Gate to return 200s instead of 202s. I made https://github.com/spinnaker/gate/pull/1307.

I also documented the issue in Swagger https://github.com/swagger-api/swagger-codegen/issues/10435

[2020-08-18 03:13] kskewes commented on #5956
It's also worth noting that with Kleat and the [kustomize](https://github.com/spinnaker/kustomization-base) tooling underway it would be possible to mount as many secrets as Kubernetes supports to any of the containers.
This issue is a Halyard limitation because Halyard stuffs everything into a single secret.

[2020-08-18 03:36] neil-yechenwei opened #5980 "It failed to create load balancer"
### Issue Summary:
After tested, I found spinnaker would fail to create load balancer.

### Cloud Provider(s):
Azure

### Environment:
All release versions and latest master branch

### Feature Area:
Clouddriver

### Description:
After tested, I found spinnaker would fail to create load balancer.

### Steps to Reproduce:
1. Create firewall
2. Create loadbalancer

### Additional Details:

[2020-08-18 03:37] neil-yechenwei commented on #5980
After investigated, seems it failed to create load balancer after applied the PR "https://github.com/spinnaker/clouddriver/pull/4809". @robzienert , could you have a look? If it's a bug, please fix it asap. Thanks.

[2020-08-18 07:54] stregatto commented on #5822
Ciao, I'll be more than happy to help you to solve this bug, all our pipeline seems built accordingly to documentation but grant propagation does not work, this bug is very annoying 'cause block manual triggers for some processes that require 3rdy party authorization.

[2020-08-18 13:29] maggieneterval commented on #5980
Hi @neil-yechenwei! The PR you referenced (spinnaker/clouddriver#4809) that removed the Azure provider from Spinnaker was intentional, since Azure no longer meets Spinnaker's [cloud provider requirements](https://github.com/spinnaker/governance/issues/new?assignees=ajordens%2C+ethanfrogers%2C+ezimanyi%2C+plumpy%2C+robzienert&labels=committee%2Ftechnical-oversight&template=new-cloud-provider.md&tit

[2020-08-18 13:29] #5980 closed

[2020-08-18 13:29] amiteshchandra commented on #4912
@louisjimenez Is this in the plan to get fixed? When we modify the template to add a new variable with default values all the dependent pipeline breaks.

[2020-08-18 13:50] #5971 closed

[2020-08-18 16:19] maggieneterval commented on #5980
I noticed shortly after responding to this issue that Oracle now has a SIG and there is an [open PR to re-add the provider to Clouddriver](https://github.com/spinnaker/clouddriver/pull/4808)! 🎉

[2020-08-18 16:27] Chinikins commented on #5461
@spinnakerbot remove-label to-be-closed

[2020-08-18 16:31] KumarS86 opened #5981 "Deck- DEFAULT_PAGE_SIZE is hardcoded to 500"
### Issue Summary:

DEFAULT_PAGE_SIZE is hardcoded to 500 for SearchService which is causing issue when the search result is larger than pagesize of 500.

### Cloud Provider(s):
GCE

### Environment:
PROD

### Feature Area:
DECK

### Description:
DEFAULT_PAGE_SIZE is hardcoded to 500 for SearchService which is causing issue when the search result is larger than pagesize of 500. This value is hardc

[2020-08-18 17:02] MGP87 opened #5982 "Harbor integration"
### Issue Summary:
When integrating Spinnaker with Harbor, Spinnaker (Clouddriver) is unable to authenticate against the Harbor Registry Cluster IP

### Cloud Provider(s):
Kubernetes

### Environment:
Kubernetes Version v1.18.6
Halyard Version 1.20.7
Harbor Version v2.0.2-e91b4ff1
### Feature Area:
Clouddriver

### Description:
Setting up harbor and spinnaker in kubernetes and am unable to authent

[2020-08-18 17:14] kevinawoo commented on #5657
@karlkfi I happen to work on something different and realized the way we changed
 in https://github.com/spinnaker/gate/pull/1307 need to get applied to Gate's `PipelineController` too.

Steps:
- edit `PipelineController` from 202 -> 200
- run Gate `./swagger/genreate_swagger.sh`
- run spin CLI's https://github.com/spinnaker/spin/blob/master/CONTRIBUTING.md#updating-the-gate-api

[2020-08-18 17:22] #5982 closed

[2020-08-18 17:57] clayvan commented on #5764
@spinnakerbot remove-label to-be-closed

I still think this is very relevant, and pretty easy.

I am working around it, but the feature still makes sense to add.

[2020-08-18 18:46] KarthikRangaraju commented on #2405
Running into the same issue. Can we re-open this?

[2020-08-18 22:47] ezimanyi commented on #5979
Thanks for opening this, and for the detailed replication instructions.

What's happening here is that the `WaitOnJobCompletion` task only tries for ~30s to see if the job started, and then fails if it can't find the job.  (It's fine if the job is still running for longer then ~30s, but it fails with an error if it can't find the job at all.)

This interacts poorly with our caching logic, because

[2020-08-18 22:55] lsarangi1 commented on #5978
Closing this since issue is resolved.

Summary I had to update spinnaker to 1.20.8 and also specify namespace:cm in my manifest under (spec.template.namespace)

[2020-08-18 22:55] #5978 closed

[2020-08-19 00:04] ratika-ipg commented on #5970
Additional info:
I am using github for authn.
As soon as i revert authz part, i am able to see the TG.

We have "GitHub Organization" as a provider for oauth2 for spinnaker configured as per this doc
`https://spinnaker.io/setup/security/authentication/oauth/`

And our github org is SSO enabled.
Github Admin created Personal access token with following scope
`read:org, read:user, user:email`
SSO is

[2020-08-19 04:55] hehe717 opened #5983 "Error when deploying helm charts using kubernetesEL1041E: After parsing a valid expression, there is still more data in the expression: 'colon(:)'"
### Issue Summary:
EL1041E: After parsing a valid expression, there is still more data in the expression: 'colon(:)'
Error happened when deploy kubernetes helm templates using spinnaker

### Cloud Provider(s):
GCP

### Environment:
Kubernetes

### Steps to Reproduce:
With template

[code]

Spinnaker setting
![image](https://user-images.githubusercontent.com/19582090/90593477-f8410e80-e222-11ea-95a

[2020-08-19 04:55] hehe717 opened #5984 "Error when deploying helm charts using kubernetes. (EL1041E: After parsing a valid expression, there is still more data in the expression: 'colon(:)')"
### Issue Summary:
EL1041E: After parsing a valid expression, there is still more data in the expression: 'colon(:)'
Error happened when deploy kubernetes helm templates using spinnaker

### Cloud Provider(s):
GCP

### Environment:
Kubernetes

### Steps to Reproduce:
With template

[code]

Spinnaker setting
![image](https://user-images.githubusercontent.com/19582090/90593477-f8410e80-e222-11ea-95a

[2020-08-19 05:18] #5983 closed

[2020-08-19 05:34] billcchung opened #5985 "Application not really being deleted if there are clusters left"
### Issue Summary:
Delete application did not really delete the application if there are `clusters` left.

### Cloud Provider(s):
kubernetes (GKE)

### Environment:
Spinnaker 1.19.8
Kubernetes 1.16.3

### Feature Area:
UI

### Description:
When there are still `clusters` (from https://${spinnaker-api}/applications/${application-name}/clusters) left, e.g.,
[code]
kubernetes manifest is like:
[code]

[2020-08-19 05:46] sirigithub opened #5986 "Unable to edit permissions in UI for an application"
### Issue Summary:
On trying to edit permissions for an existing application using the UI, the roles and permissions drop downs do not appear.

### Cloud Provider(s):
GCP

### Environment:
Kubernetes

### Feature Area:
Deck

### Description:
On trying to edit an application's permissions in Spinnaker , the dialog does not populate the roles and permissions drop downs. The developer console has the

[2020-08-19 05:53] sirigithub commented on #5986
<img width="598" alt="Screen Shot 2020-08-19 at 3 48 00 pm" src="https://user-images.githubusercontent.com/6692661/90597251-0e0aff80-e234-11ea-85f2-b6fd2a9192b2.png">

[2020-08-19 05:54] sirigithub commented on #5986
Above screen unable to see roles and permissions , all though the Permissions appear before clicking on Edit Application attributes.

[2020-08-19 07:25] sramek5 commented on #5984
Hi, I can see you did not use escape characters ${"${var}"} mentioned in #3028.
This is because orca can not validate shell scripts.

[2020-08-19 10:50] sramek5 opened #5987 "Authentication with ldaps port 636 gives SSLHandshakeException error"
### Issue Summary:
I use ldap for Spinnaker Authentication:
[code]
And like this it works fine.

In next steps I secured deck and gate using `secured connection` with Vault signed certificates (via cert-manager).

[code]
Until here everything works just fine. Then I wanted to use secure connection with ldap (e.g. ` ldaps://ad.service.consul`) expecting default port 636 and that all certificates ar

[2020-08-19 15:53] allisaurus opened #5988 "Proposal: ECS provider end-to-end Test cases"
This issue proposes specific test cases that should be covered by future ECS provider end to end tests. It will inform a [larger design RFC](https://github.com/spinnaker/governance/pull/169) for adding ECS provider testing to the nightly build process.

## What to test

**Server Group creation**

Most ECS provider code paths define logic for deploying ECS server groups, and it’s this task we'd lik

[2020-08-19 17:04] akshayabd commented on #5970
Please bring this up in the Deck SIG as well, not sure if this is an AWS issue, sounds more like a Deck issue in regards to how it works with Auth

[2020-08-19 17:07] akshayabd commented on #5929
Is this still an issue? Also, I'm guessing you did try force refreshing/deleting browser cache?

[2020-08-19 17:10] akshayabd commented on #5927
Just checking - the Redis cache has enough memory so as not to cause fast evictions?

[2020-08-19 17:12] akshayabd commented on #5927
Also - in the thread for the related issue proposals are mentioned which seemed to work for some users:

https://github.com/spinnaker/spinnaker/issues/4278#issuecomment-486990314

Could you try those too?

[2020-08-19 17:14] akshayabd commented on #4278
@xavileon Is there any additional work you want to do for this issue (as suggested by dsilvasc) or can this issue be closed?

[2020-08-19 17:16] akshayabd commented on #5896
Just checking - the issue still shows even after doing a force-refresh/cache deletion on the browser?

[2020-08-19 17:18] akshayabd commented on #5896
We discussed this in the AWS SIG and someone else did encounter something similar - the issue there was that there was a lot of data that was being sent to Deck and Deck was rendering the page before all the information was available.

Suggestion: Please upgrade to latest 1.21 release - let us know if its still happening there.

[2020-08-19 17:21] akshayabd commented on #5879
Hmm I think even though this is a little cumbersome its working as designed. Do you have suggestions on how you'd like the behavior to be?

[2020-08-19 17:32] pkandasamy91 commented on #5896
If you're still having this issue, i wonder if it is because the app is not ready (a large app?). This [change](https://github.com/spinnaker/deck/pull/8316/) addressed it for the master view, but I don't think you can load the details view without the app being ready. @caseyhebebrand thoughts on this?

[2020-08-19 17:33] allisaurus commented on #5867
This doesn't solve the core issue (`draining` != `healthy`), but there was a [related slack thread](https://spinnakerteam.slack.com/archives/CB78MFQPP/p1588774672064600) about this a little while ago with a recommended workaround:

[2020-08-19 17:33] akshayabd commented on #5856
hey @mfaiz0 - could you describe your use-case a little more please? What are you use the short-lived spot instances for? We discussed this in the AWS SIG meeting and are wondering if short-lived instances is an use-case correct for Spinnaker.

[2020-08-19 17:51] caseyhebebrand commented on #5896
@pkandasamy91 @akshayabd Coincidentally, I just created [this PR](https://github.com/spinnaker/deck/pull/8506) yesterday to improve the performance of the details panel rendering. If the app is not ready the details will just show a loading animation.

If I can get it approved, then I will merge it and it will be available in the next version of deck.

[2020-08-19 17:52] mfaiz0 commented on #5856
Hi @akshayabd .... I have been researching to use spot block instances in our CD pipeline. Spot block are cost effective in terms of limited usage (like 6 hours). I have few workloads which only require instances to be up for 3-4 hours and if I use spot block instances instead of On-Demand then it is very cost effective solution. I am using Spinnaker for our deployment pipeline and was surprised n

[2020-08-19 17:58] dbyron0 commented on #4442
@spinnakerbot remove-label stale

[2020-08-19 18:14] xavileon commented on #4278
Not really. The only missing part to fully resolve this issue was the halyard integration. Given the latest developments with kleat, I don't think it makes sense moving forward with adding the configuration to halyard.

[2020-08-19 20:58] Kaixiang-AWS commented on #5974
I was not able to reproduce this error. However, from what I saw in the error log, I think the problem here is that the region was not set in the STS client and it's not able to find a default region. https://github.com/spinnaker/igor/blob/master/igor-web/src/main/java/com/netflix/spinnaker/igor/config/AwsCodeBuildConfig.java#L73

I will work on a fix to set the region explicitly.

[2020-08-19 21:51] pdk27 opened #5989 "Proposal: Improve AWS EC2 / Spot Support"
This issue proposes a bunch of new features in the AWS EC2 / Spot cloud provider area.

**Status:** **All features are merged to master** ✅. Some are waiting to be released ⌛ in 1.28 . See the issue summary below for details.
[Design document](https://docs.google.com/document/d/1wO4wxdZlnI1wXlUV4PF55Q0ZBbjWrt6YXdeh_a7Oqgw/edit#)
[SIG Design review/ meeting notes](https://docs.google.com/document/d

[2020-08-19 22:24] pdk27 commented on #2866
https://github.com/spinnaker/spinnaker/issues/5989 - this proposal covers the features asked in this issue, but via ASG (not Spot fleet)

Features covered:
* multiple instance types
* Spot best practices like capacity optimized allocation strategy that can provision spot instances from deepest capacity pools

Feedback on the proposal is welcome.

[2020-08-19 22:38] conordean opened #5990 "'Exception (Find Artifact From Execution) No reason provided' when using Sponnet library"
### Issue Summary:
Using the [findArtifactFromExecution](https://github.com/spinnaker/sponnet/blob/master/pipeline.libsonnet#L293) from the spinnaker/sponnet library to define an MPTv2 hydrated pipeline consisting of only this stage, we get 'Exception (Find Artifact From Execution) No reason provided'.

### Cloud Provider(s):
GCP

### Environment:
We're using Spinnaker to build produce Google Clou

[2020-08-19 23:12] dbyron0 commented on #5086
@spinnakerbot remove-label stale

[2020-08-20 00:18] avram commented on #5989
This looks really good and covers our major known use cases for using Spot with Spinnaker.

It looks like the instance weights may have good defaults-- is that going to be something we can count on, that it will default to weighting aligned with vCPU counts?

[2020-08-20 00:25] #5424 closed

[2020-08-20 03:13] robert-blackman commented on #5952
@friendly-pineapple Hey, I came across a similar issue. I haven't been able to reproduce it, however following [this runbook](https://spinnaker.io/guides/runbooks/orca-zombie-executions/) I was able to at least cancel the execution.

[2020-08-20 05:08] ealebed commented on #5648
@spinnakerbot remove-label stale

[2020-08-20 09:51] g-s-v opened #5991 "Yandex.Cloud provider"
### Issue Summary:
Add Yandex.Cloud as a cloud provider to Spinnaker
### Feature Area:
New provider
### Description:
Add basic domain objects mapping like accounts, load balancers, server groups in all modules. Support YandexCloud specific bake configurations. Setup all features of YandexCloud using Halyard.
### Additional Details:
We (YandexCloud team) aren't aware if there are any plans to add t

[2020-08-20 11:41] sdpoueme commented on #5698
Thanks @ezimanyi for looking into this!

[2020-08-20 13:29] amiteshchandra commented on #5763
I was using Redis cache for storage. Switched to S3 and it resolved.
Thanks
Amitesh

[2020-08-20 13:29] #5763 closed

[2020-08-20 13:29] amiteshchandra commented on #5763
I was using Redis cache for storage. Switched to S3 and it resolved.

[2020-08-20 15:09] devorbitus commented on #5987
IT looks like maybe your ldap server is using a custom CA, have you added your certificates as a volume mount into fiat? Something [like this](https://spinnaker.io/reference/halyard/custom/#using-custom-volumes)?

[2020-08-20 15:51] stregatto commented on #5880
I encountered the same issue with spinnaker version **1.21.4**
The _save_ on existing pipeline works, but on the new one, it fails.

[2020-08-20 16:42] maggieneterval commented on #5770
We've added this issue to our Kubernetes Performance Improvements project, which has many items slated for Spinnaker 1.23. We're hoping that work will resolve scaling issues such as those reported in this issue; please feel free to follow the project for more details.

[2020-08-20 16:45] pdk27 commented on #5989
@avram the current proposal doesn't include weight recommendations as instance weighting can be customized across various parameters. We will look into simple weight recommendations based on vCPU counts for the non-custom type selection categories in `Instance Type` section of Deck.

Instance weighting recommendations for `custom type` will probably be trickier and more involved. We have a follow-

[2020-08-20 17:19] aRobinson-R7 commented on #5906
We have recently seen pipelines ~fail~ continue to run indefinitely due to Clouddriver restarts (OOMKilled in this case), and the pipelines never progess.
Would this be addressed by using the `--live-manifest-calls` flag?

[2020-08-20 17:40] conordean commented on #5990
This was tracked down to missing executionOptions in the template. What's strange is that they were showing up in the rendered pipeline for me. When I had another user look at the rendered pipeline, they were not showing up for him which indicates some difference in local state? I'll close the issue since the root issue now seems resolved by simply missing a required field for the stage.

[2020-08-20 17:40] #5990 closed

[2020-08-20 19:20] #5974 closed

[2020-08-20 20:35] devorbitus commented on #5966
You can manipulate the defaults of the GitHub Teams/Members caching through configurations in the `<HALYARD>/<DEPLOYMENT>/profiles/fiat-local.yml` file (create it if it doesn't exist).

The default configuration [is here](https://github.com/spinnaker/fiat/blob/master/fiat-github/src/main/java/com/netflix/spinnaker/fiat/roles/github/GitHubProperties.java) but you could increase the TTL or increase

[2020-08-20 21:14] ezimanyi commented on #5906
@aRobinson-R7 : I don't think that this will help with OOM issues as that flag won't change the memory footprint either way.  It can take some tuning to pick the right RAM/CPU parameters for clouddriver but it seems like you might need to allocate more memory.  For help with tuning these parameters I'd suggest asking in the `#kubernetes` channel on Spinnaker Slack.

[2020-08-20 21:25] #5335 closed

[2020-08-20 22:05] emagana commented on #5731
@maggieneterval  If we follow your recommendation "You can change this to default in your kube config if you would prefer that behavior." that means that Spinnaker microservcies will start in the "default" namespace as well?

[2020-08-20 22:06] emagana commented on #5731
BTW. We are hitting this issue. We have a bunch of services and tools that execute runjobs and running in the spinnaker namespace and that broke some functionality.

[2020-08-20 22:15] mtweten opened #5992 "Kubernetes deploy stage namespaceOverride allows bypassing account namespace restrictions."
### Issue Summary:
If you use the namespace override functionality in the Kubernetes deploy stage, or rely on the default namespace and submit manifests with no namespace defined, the Kubernete's account namespace restrictions can be bypassed.

### Cloud Provider(s):
Kubernetes

### Feature Area:
Kubernetes Accounts

### Description:

By using the namespace override functionality in the deploy man

[2020-08-20 22:23] devorbitus commented on #5966
Here is the configuration that works well for the writers of that PR

https://github.com/spinnaker/fiat/pull/247#issuecomment-677936315

[2020-08-20 22:37] ezimanyi commented on #5731
@emagana : It depends on your configuration.  In general, Halyard uses one of your Kubernetes accounts as the account to actually deploy Spinnaker, so setting the namespace on kubeconfig context *that* account is using would change the namespace that Halyard deploys to.  In general the Spinnaker accounts that you'll be using to deploy workloads will be different from the one that Spinnaker used to

[2020-08-20 23:05] #5652 closed

[2020-08-20 23:35] plumpy commented on #5899
This was fixed in spinnaker/front50#911. It will be released as part of Spinnaker 1.22 next week.

[2020-08-20 23:35] #5899 closed

[2020-08-21 01:52] minkjj commented on #5887
@spinnakerbot remove-label stale

[2020-08-21 04:38] darkn3rd commented on #4780
What?  Has this been fixed? Or just ignored. :'(

[2020-08-21 04:44] blaffoy commented on #4780
I was still seeing this problem as of spinnaker 1.19.x. we resolved it by moving to using webhooks and direct API calls to trigger pipeline executions and passing in docker image details as part of the trigger.

[2020-08-21 04:47] darkn3rd commented on #4780
I'm on `1.21.4` and nothing is happening. :'(  How we make this unstale?

[2020-08-21 05:29] blaffoy commented on #4780
You might need to open a new bug? There have been a lot of changes since this issue was opened, and even at the time it seemed that not much progress was made on making it repeatable. You might be having the same symptoms for a different underlying cause.

[2020-08-21 15:27] igcherkaev opened #5993 "Feature Request: #resolvedArtifact(name) spinnaker expression helper"
### Issue Summary:
Expose all resolved artifacts via a spinnaker expression helper function. Currently, there's an existing one `#triggerResolvedArtifact(name)`, but it's limited to trigger context. When pipeline is executed manually, it doesn't work.

### Cloud Provider(s):
Kubernetes

### Environment:
Spinnaker 1.20.6, self-hosted Kubernetes cluster.

### Feature Area:
Orca, Spinnaker Expression

[2020-08-21 16:40] allisaurus opened #5994 "ASG scale up on underlying ECS cluster fails unless ECS server group has matching count?"
### Issue Summary:

This issue exists to document reported weird interactions between the AWS and ECS providers when scaling actions are taken on an ASG that backs and ECS cluster.

### Cloud Provider(s):

AWS, ECS

### Environment:

N/A

### Feature Area:

clouddriver, orca?

### Description, Steps to Reproduce

See [this comment](https://github.com/spinnaker/spinnaker/issues/5988#issuecomment-67

[2020-08-22 15:33] somejavadev opened #5995 "Error 500 when trying to enable nexus repository"
### Issue Summary:

I am running Spinnaker on GKE and I am trying to integrate nexus. When running the following command: `hal config repository nexus enable` to enable the nexus repository it returns ERROR 500, when adding debug to the command: `hal config repository nexus enable --debug` it results in `! ERROR No repository service with name "nexus" could be found`. Link to documentation for run

[2020-08-23 20:25] ouyangz314 commented on #5899
Thank you!

[2020-08-24 03:56] aleon1220 commented on #5648
This should be an interesting project

[2020-08-24 08:48] diasjorge commented on #5929
I tried updating Today to 1.21.4 and I saw the issue. I cleared my browser cache and even tried on Safari and Chrome.

Is there any more information I can give you to help diagnose the problem?

[2020-08-24 09:06] diasjorge commented on #5929
So I've debugged a bit more and found this error trace:
[code]

It seems somehow it thinks some of my targetGroups are "undefined"

[code]

[2020-08-24 09:15] diasjorge commented on #5929
From this code: https://github.com/spinnaker/deck/blob/43c8075e07564f747fe75f0d72dd440e8c766112/app/scripts/modules/amazon/src/instance/details/utils.ts#L8

it seems to be trying to get the target groups from some load balancers from GCE.

[code]

[2020-08-24 09:20] diasjorge commented on #5929
So it seems the problem comes from this commit: https://github.com/spinnaker/deck/commit/ed7c44589cfbf482047a0f47d30df97165053aa4

My application is deployed to GCE and AWS so I think when here: https://github.com/spinnaker/deck/commit/ed7c44589cfbf482047a0f47d30df97165053aa4#diff-8e6e9acc7a85cea2f589f83e3b131f3aR76 they pass `app.loadBalancers.data` it also includes de load balancers from other c

[2020-08-24 10:17] stregatto commented on #5880
Upgrading spin to the latest  (version 1.17.3) the 404 is interpreted correctly.
(https://github.com/spinnaker/spinnaker/issues/5886)

[2020-08-24 12:42] AmanMishra1321 commented on #5399
I getting the same error whaat to do just tell me

[2020-08-24 13:04] vijay-sapient opened #5996 "encryptedFile:gcs | interval pull secrets from bucket"
Once i enabled "encryptedFile:gcs" to store my kubeconfig files. Clouddriver is pulling kubeconfig files every second. Is there a way i can control this interval, or tell clouddriver to pull it only once?
`
INFO 1 --- [igurationSource] c.n.s.k.secrets.engines.GcsSecretEngine  : Getting contents of object .hal/default/credentials/kubeconfig-****
`
This is seems to be loading up the clouddriver and

[2020-08-24 15:32] atyutyunnik commented on #5979
This didn't happen before 1.21 and is quite a regular thing now in 1.21. Maybe the log is not relevant? Because Spinnaker picks up the started deployment (showing progress) and fails within 26 seconds (not 30+)

[2020-08-24 15:44] pdk27 commented on #5989
Sure, Casey. Looking into it. Will update the proposal soon.

[2020-08-24 17:25] anotherchrisberry commented on #4195
Hi @maggieneterval, I know this was closed over a year ago, but do you remember why Deck's build would need to be reworked for this? Or who was looking at it?

[2020-08-24 17:39] maggieneterval commented on #4195
@anotherchrisberry I think @fieldju had tried to put together a POC a while back, but to be honest I don't remember the specifics of what was a blocker.

[2020-08-24 17:46] lsarangi1 commented on #5374
The following command worked for me to resolve this issue. Please document it in spinnaker config steps:

[code]

[2020-08-24 17:51] Gowlar opened #5997 "api url adding .com to domain?"
### Issue Summary:
The UI is attempting to call auth/user endpoint. However, it is adding .com to end of domain. I have set the url in config to the following.

security:
  apiSecurity:
    ssl:
      enabled: false
    overrideBaseUrl: http://api.****.tips:8084
    corsAccessPattern: http://spinnaker.*****.tips:9000

uiSecurity:
    ssl:
      enabled: false
    overrideBaseUrl: http://spinnaker.

[2020-08-24 17:57] jfrabaute commented on #5611
Hi,

We're facing this issue on new spinnaker deployment managing a few k8s clusters.
Increasing resources seems like an option, but I'm wondering what would be the impact of those few configs:

* Increasing `--cache-threads`:
--cache-threads: (Default: 1) Number of caching agents for this kubernetes account. Each agent handles a subset of the namespaces available to this account. By default, only

[2020-08-24 18:50] sanjeevpandey19 commented on #5374
Thanks everyone for commenting on this, below one worked for us  after having source account oidc created in all destination account with federated access having sts:AssumeRoleWithWebIdentity

          username: AWS
          passwordCommand: 'AWS_ROLE_ARN="arn:aws:iam::<destination-account-id>:role/spinnaker" AWS_WEB_IDENTITY_TOKEN_FILE="/var/run/secrets/eks.amazonaws.com/serviceaccount/token" A

[2020-08-24 18:53] #5997 closed

[2020-08-24 20:34] donnyv12 commented on #4481
I'm having this problem as well. Seems as though Spinnaker is not aware of projected volumes, which is a bummer

[2020-08-24 23:01] piyushGoyal2 commented on #5958
@ezimanyi : Hi Eric. Any updates on this?

[2020-08-25 00:29] ezimanyi commented on #5968
@sdpoueme : Thanks for bringing this up again!  This is in general a problem that seems to arise a lot in Kubernetes (kubernetes/kubernetes#22368) (kubernetes/enhancements#948).

I'm not sure what a great solution would be from the standpoint of Halyard.  In general, Halyard will deploy a secret and a deployment pointing to it; the old secret needs to stay as long as any replica sets managed by th

[2020-08-25 00:35] #5501 closed

[2020-08-25 00:40] ezimanyi commented on #5611
@jfrabaute : The `cacheThreads` flag will only really help if you have a single account with many resources, as different accounts will automatically cache resources in parallel anyway.  But if you do have a single account with a lot of namespaces, assigning more threads to that account will parallelize the work (up to the number of namespaces).

The other two flags will decrease the work that the

[2020-08-25 00:42] ezimanyi commented on #5611
Also, this made me realize this is still open though my understanding is that the original issue has been solved; there is continued work on the performance of the caching agents that will continue to help this, but there's no outstanding work to be done directly on this issue.

[2020-08-25 00:42] #5611 closed

[2020-08-25 00:58] ezimanyi commented on #5965
@anoopl : In general we're aware that Spinnaker transfers a lot of data from the cluster; 2 TB per day seems like a lot, though without full context on how many resources Spinnaker is caching it's hard to know for sure if that's reasonable.

Some things you can do to reduce the amount of data are:
* Reduce the frequency that your cluster is being cache, by setting `cacheIntervalSeconds` to somethi

[2020-08-25 05:38] anoopl commented on #5965
@ezimanyi  Thank you so much for the reply.

We already using omit namespaces and kind to cache. Let us try setting the cacheIntervalSeconds to something like 3 to 5 minutes and see if it can reduce some data. We do not have multiple accounts. We have only one account per cluster.

How can we find more details about caching, like how many objects its caching and which objects?

[2020-08-25 13:45] awsiv opened #5998 "[rosco] Error on bake v1.22.0"
### Issue Summary:
After upgrading to `1.22.0`, our pipelines are failing during bake with:

[code]

Have rolled back to 1.21.3

### Cloud Provider(s):
AWS

### Environment:

### Feature Area:
rosco

[2020-08-25 13:57] sdpoueme commented on #5968
Hi @ezimanyi  Thanks for the detailed feedback. I will share it with my team as well. We store our halyard configuration in Enterprise GitHub and after every `hal deploy apply`, we commit the changes (files generated) back to the repo. This is how we are able to keep rolling updates of Spinnaker. Some of these secret probably originate from the files that were generated by Halyard and because of h

[2020-08-25 14:28] ezimanyi commented on #5998
I will fix this; I broke this by making `Artifact` immutable, but there was a usage of the setter in Groovy that had no tests whatsoever so neither compilation nor tests caught the issue.

[2020-08-25 14:40] tillig opened #6277 "Enable HTTPS for Azure Blob Storage"
The current Azure Blob Storage support [has it hardcoded to use HTTP for access](https://github.com/spinnaker/kayenta/blob/0d1d754acc80622a20c4ae36caaa6d3eaa0e6bbd/kayenta-azure/src/main/java/com/netflix/kayenta/azure/security/AzureCredentials.java#L44) which is reasonably non-default. You have to manually enable access to the blob storage account for HTTP and, of course, now you're passing creden

[2020-08-25 15:17] theRemix opened #5999 "Unable to determine the download URL of artifact Artifact"
### Issue Summary:

Builds fail due to not being able to access manifest from github api

### Cloud Provider(s):

kubernetes v2

### Environment:

Spinnaker on GCP

### Feature Area:

Pipelines

### Description:

k8s manifest exists on `master` and an `develop` branches at path `manifests/develop/deployment.yaml`

Expected pipelines to access manifest via github api.

Actual behavior, builds fail

[2020-08-25 16:06] oo00spy00oo opened #6000 "GCS error when upgraded to 1.22.0"
### Issue Summary:

An issue occurs when upgraded to 1.22.0:

[code]

### Cloud Provider(s):

GCP

### Environment:

GKE, GCS

Installed with Helm 3

Halyard: `gcr.io/spinnaker-marketplace/halyard:1.39.0`

[2020-08-25 16:33] benweissmann opened #6001 "Broken link in Script stage setup documentation"
### Issue Summary:

In [the setup instructions for the Script stage](https://spinnaker.io/setup/features/script-stage/#configure-jenkins), the URL https://storage.googleapis.com/jenkins-script-stage-config/scriptJobConfig.xml is broken

### Cloud Provider(s):
n/a

### Environment:
n/a

### Feature Area:
Documentation

### Steps to Reproduce:
`curl https://storage.googleapis.com/jenkins-script-stag

[2020-08-25 16:42] #5998 closed

[2020-08-25 18:26] Chinikins commented on #5967
@alyssahardy if you use the latest spin release 1.18.0 and re-run your first step instead of getting a generic error a more detailed error should now be returned.

[2020-08-25 19:28] jonmoter commented on #4849
Would it be possible to hack around this using a different OID?

Looking at the [Groovy code in Gate](https://github.com/spinnaker/gate/blob/70024a326411d9cde215e7267dd1b713a4453760/gate-x509/src/main/groovy/com/netflix/spinnaker/gate/security/x509/OidRolesExtractor.groovy#L34-L44), it appears to be extracting information from the certificate using by OID.

Would it be possible to use configure Ha

[2020-08-25 20:04] Chinikins commented on #5886
Can you close this after updating to spin v1.17.3 or 1.18.0 which should fix this issue @raviagarwal101

[2020-08-25 20:04] Chinikins commented on #5880
Can you close this after updating to spin v1.17.3 or 1.18.0 which should fix this issue @gsapkal

[2020-08-25 20:05] chris-lee-parsable commented on #4313
This would be great, actually. Struggling with this right now.

[2020-08-25 21:39] ezimanyi commented on #6000
@oo00spy00oo : Thanks for reporting this!  The linked pull request will fix this, but a temporary workaround would be to set the `spinnaker.gcs.bucketLocation` in your `front50` config.  (You can even set it to an empty string if you want, it just needs to be set.). After the linked PR is merged, this workaround will not be necessary and the config can again omit this field.

[2020-08-25 21:42] theRemix commented on #5999
the fix was artifact personal github token

The issue I was running into was that the github token used for obtaining artifacts was attached to a user that has been removed from the organization.
Generating a new github artifact token (personal access token) resolved this issue

replacing the token in `/home/halyard/github_artifact_token`

halyard config
[code]

[2020-08-25 21:42] #5999 closed

[2020-08-25 22:41] ezimanyi commented on #5965
@anoopl : You might find some useful information in the `clouddriver` logs, as at the end of each caching agent's execution it prints something like:
[code]
You could look to see whether there are particular kubernetes kinds that have a lot of entries and further investigate those.  Of course it's not just the number of entries, as `clouddriver` is fetching the full resource---so if there are some

[2020-08-26 00:06] jfrabaute commented on #5611
I enabled debug logs and the cycle finished between 2 and 10 seconds all the time.
Still, I see `NO SERVER GROUPS FOUND IN THIS APPLICATION`.

Here is an output example:

[code]

I don't exactly know what `grouping pod has 1 entries and 1 relationships`, but it seems legit: I deployed one app, which has one pod.
But I don't see anything in the UI. I'm now wondering if there might be a problem with

[2020-08-26 00:47] ezimanyi commented on #5979
Looking at the retry code, we actually only retry for ~25 seconds, so the 26 seconds does match what I'd expect if that polling failed.  (I had an off-by-one error in my mental math before...we do 6 tries waiting 5s between retries which is actually 25s not 30s as I had said.)

I took a closer look at the orchestration logic, and it should be inserting a `ForceCacheRefresh` task before looking at

[2020-08-26 03:00] kskewes opened #6002 "Kubernetes Projected Volume manifests aren't supported by Versioning"
### Issue Summary:

[Kubernetes Project Volumes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-projected-volume-storage/) are a clean way to mount multiple files (via `ConfigMap` and or `Secret`) to a common parent directory.

Spinnaker supports versioning `ConfigMap` and `Secret` versioning via [Strategy](https://spinnaker.io/reference/providers/kubernetes-v2/#strategy) annot

[2020-08-26 03:48] sk-credify commented on #6000
Thanks!

[2020-08-26 03:50] oo00spy00oo commented on #6000
Thanks so much!

[2020-08-26 05:08] KeisukeYamashita commented on #5966
@devorbitus Thank you, I will try and PoC 🙇

[2020-08-26 13:13] jaredstehler opened #6003 "Error 500 from gate when listing pipeline templates"
### Issue Summary:
Encountering an http 500 error when attempting to list or save pipeline templates using spin cli, after upgrade to 1.22.

### Cloud Provider(s):
AWS, Kubernetes

### Environment:
Spinnaker deployed via hal, spin-cli 1.18

### Feature Area:
Spin CLI, Gate

### Description:
Command: `spin pipeline-template list`

Resulting gate log:
[code]

### Additional Details:
Seems to have be

[2020-08-26 19:33] vijay-sapient commented on #5996
Looking into this a little more, i see clouddriver using 50GB of memory and failing. This is also the reason why some of the deployments fails. I have around 600 accounts, with an account for every namespace.
1.What can be the optimal config like cpu and memory limit i should have in the hal config?
2.Does clouddriver support these many accounts?
3. Can we stop pulling the kubeconfig file every se

[2020-08-26 22:24] #6000 closed

[2020-08-26 22:37] aRooooooba commented on #5036
I also had such an issue, the reason is that I put quotes around my tenant id. Can you try to remove the quotes, just do like
[code]

[2020-08-26 23:47] paragbhingre opened #6004 "The container does not exist in the task definition"
### Issue Summary:
Toggling from task definition artifact to the input in task definition introduces the issue of container does not exist in the task definition.

### Cloud Provider(s):
ECS

### Environment:
git installation

### Feature Area:
ECS Deploy stage in Pipeline

### Description:
Background - when you set the task definition artifact, you tend to set the container name for container map

[2020-08-27 01:50] devorbitus commented on #5996
@vijay-sapient Are you using dynamic accounts?

[2020-08-27 05:08] jfrabaute opened #6005 "fiat: Only the first 200 google groups are retrieved"
### Issue Summary:

The list of groups is paginated (default page is 200), so when a user
has more than 200 groups, only the first 200 are retrieve.

### Cloud Provider(s):

### Environment:

### Feature Area:

fiat/authorization

### Description:

### Steps to Reproduce:

Login as a user using Google Auth, with google groups authz enabled and a user having more than 200 google groups.
Only the fi

[2020-08-27 05:59] metri commented on #2047
@spinnakerbot remove-label stale

[2020-08-27 10:16] vijay-sapient commented on #5996
Hi @devorbitus not using, but looks like i should. does it support GCS as well?
we are only allowed to keep kubeconfigs in bucket.

[2020-08-27 12:36] devorbitus commented on #5996
The reason I asked, is some people have seen significantly increased memory usage when using git for the dynamic accounts backend if not properly configured. Dynamic accounts work well enough for kubernetes accounts only (or cloudfoundry) but it's not an ideal solution which is why there was a [recent RFC](https://github.com/spinnaker/governance/pull/159) to implement a different approach for exte

[2020-08-27 13:17] vijay-sapient commented on #5996
In my case i have not enabled dynamic accounts, I have around 647 kubeconfig files, which is in a GCS bucket.(I moved all kubeconfigs to GCS bucket due to the limitation that hal creates a secret of more than 1MB and is not allowed in kubernetes).

Now when i look at the clouddriver logs I see all the replicas getting the kubeconfig file every second, I only see the below entries in my logs.
`INFO

[2020-08-27 15:04] devorbitus commented on #5996
The kubernetes caching agents run every minute or so by default, Spinnaker is using those kubeconfig files each time it has to poll all the kubernetes accounts to see if things changed and on that many accounts, it has to do that a lot. There is [a lot of work going on right now](https://github.com/spinnaker/spinnaker/projects/19) to help with some of the performance issues with the kubernetes v2

[2020-08-27 16:31] atyutyunnik commented on #5979
thank you for looking into the issue. This time it has taken a while for a random task to fail and I swear again and again that the failure appears a regression for my pipelines worked reliably prior to 1.21.

Answers to your questions:

- `liveManifestCalls` is not present anythere in spinnaker configuration. I presume it's disabled
- the entry in the clouddriver does match to what's actually dep

[2020-08-27 16:35] #5670 closed

[2020-08-27 17:15] vijay-sapient commented on #5996
Thanks @devorbitus that helps decide what we we can do. Do you have any specific suggestions around which GC would be the best?

[2020-08-27 18:05] devorbitus commented on #5996
GC?

[2020-08-27 18:06] vijay-sapient commented on #5996
sorry, I meant garbage collection.
am using "\-XX:+UnlockExperimentalVMOptions -XX:MaxRAMFraction=2 -XX:+UseZGC

[2020-08-27 18:43] alex-lee2 opened #6006 "Orca: excessive MySQL DB usage for pipelines with many stages"
### Issue Summary:
When running Spinnaker a pipeline with a large number of stages (~200), all parallel stages each calling a sub pipeline, Orca seems to be making ~200-300 calls per second to MySQL DB for the entire pipeline execution detail for the main pipeline. This results in high DB bandwidth saturating the 10G DB networking

### Cloud Provider(s):
On Premise

## Feature Area:
Orca

## Envir

[2020-08-27 21:23] maggieneterval commented on #5761
Hi @enricojonas, apologies for the slow follow-up!

To clarify, did you define your artifacts inline in the Deploy (Manifest) stage, rather than in the pipeline configuration section? I'm happy to take a look next week at how difficult it would be to do a better job of surfacing those than just an empty box in the new UI; I think it's likely that the new UI didn't take this particular migration pa

[2020-08-27 23:30] kskewes commented on #5819
@spinnakerbot remove-label stale

Still an issue. Not sure how to progress.
Any suggestions or sig to join?

We use a templating solution not supported by Spinnaker (jsonnet) so unless we solve this we need to continue to rerun CI job to do webhook again in order to rerun Spinnaker pipeline.

[2020-08-27 23:32] kskewes commented on #5819
@spinnakerbot remove-label stale

[2020-08-27 23:35] kskewes commented on #6006
I suspect this is increased further due to the amount of context getting passed about (like full k8s manifests).
We see massive MySQL usage with even small pipelines (10 stages and 50MB yaml).

[2020-08-28 00:01] noahi commented on #5989
Awesome!

I have lots of little thoughts:
1. Is there a reason the Enable CPU toggle is a check box, and the Show all types toggle is a slider?
2. given that the type checkbox is on the left column, maybe swap the two toggles above, so the show selected/all toggle is above the checkbox for each type?
3. Just how tall is the "Select an instance type..." dropdown? Is it sorted? Do users know what th

[2020-08-28 08:15] #5622 closed

[2020-08-28 12:44] enricojonas commented on #5761
@maggieneterval My team went ahead and migrated all pipelines' artifacts to the stages. However I observed a possible bug here. If you have a stage where you had used an artifact from the configuration before and change to inline artifact, there is a field "manifestArtifactAccount" in the json that does not get reset and will be used during pipeline execution:

Stage after migration from configura

[2020-08-28 12:53] somejavadev commented on #5995
@claymccoy @christopherthielen, I see you have done some commits in the past with regards to nexus. Is it possible for you to confirm if this is an issue?

[2020-08-28 16:59] papanito commented on #4314
@spinnakerbot remove-label to-be-closed

[2020-08-28 17:45] #3955 closed

[2020-08-28 19:37] amenaafreen opened #6007 "Adding multiple entries for the repositories (helm)"
### Issue Summary:
When I try to add helm repository configuration there are dummy records getting added when I try to update spinnaker configuration using helm
<img width="922" alt="Screen Shot 2020-08-28 at 3 37 06 PM" src="https://user-images.githubusercontent.com/33074054/91608891-5f0da880-e944-11ea-9b55-74124ba3ffbf.png">
.

### Here is my configuration
[code]

Any help is appreciated!!